@model CTN4_Serv.ViewModel.ThieuxkView


@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div>
    <a asp-action="Index">Back to List</a>
</div>
<div class="row">
    <div class="col-md-9">
        <br></br>
        <br></br>

        <h1>Details</h1>

        <div>
            <h4>DanhMuc</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DanhMuc.TenDanhMuc)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DanhMuc.TenDanhMuc)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DanhMuc.Is_detele)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DanhMuc.Is_detele)
                </dd>
            </dl>
        </div>



    </div>
</div>
<div>
    <button class="btn btn-success m-1">@Html.ActionLink("Chỉnh sửa", "Edit", new {id = Model.DanhMuc.Id }, new { style = "color: white;" }) </button>

    <button class="btn btn-dark m-1"><a asp-action="Index" style="color:white">Quay về</a></button>
</div>
<hr />
<div>
    <button type="button" class="btn btn-warning m-1"><a asp-controller="DanhMucChiTiet" asp-action="Create" style="color:white">Thêm</a></button>

</div>


<table class="table">
<thead>
    <tr>
        <th>
            Ảnh sản phẩm
        </th>
        <th>
            Tên sản phẩm
        </th>

        <th>
            Tên danh mục
        </th>
        <th>
        </th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model.danhMucChiTiets)
    {
        <tr>
            <td>
                <tb>
                        @if (System.IO.Path.GetExtension(item.SanPham.AnhDaiDien) == ".jpg" ||
                       System.IO.Path.GetExtension(item.SanPham.AnhDaiDien) == ".png" ||
                       System.IO.Path.GetExtension(item.SanPham.AnhDaiDien) == ".jpeg" ||
                       System.IO.Path.GetExtension(item.SanPham.AnhDaiDien) == ".tiff" ||
                       System.IO.Path.GetExtension(item.SanPham.AnhDaiDien) == ".webp" ||
                       System.IO.Path.GetExtension(item.SanPham.AnhDaiDien) == ".gif")
                        {
                    <img src="~/image/@item.SanPham.AnhDaiDien" height="150">
                        }
                        else
                        {
                            <span>Ảnh lỗi rồi =)))</span>
                        }
                </tb>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SanPham.TenSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DanhMuc.TenDanhMuc)
            </td>
            <td>
            </td>
            <td>
                <button class="btn btn-success m-1">
                    @Html.ActionLink("Chỉnh sửa", "Edit","QuanLYH", new { id = item.Id }, new { style = "color: white;" })
                </button>
                <button class="btn btn-info m-1">
                    @Html.ActionLink("Xem chi tiết", "Details","QuanLYH", new { id = item.Id }, new { style = "color: white;" })
                </button>
                <button class="btn btn-danger m-1">
                    @Html.ActionLink("Xóa", "Delete","QuanLYH", new { id = item.Id }, new { style = "color: white;" })
                </button>

            </td>
        </tr>
    }
</tbody>
</table>

