@model CTN4_Serv.ViewModel.HienThiSanPhamView;
<!-- End Header Area -->
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shop Category page</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Fashon Category</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
            <div class="sidebar-categories">
                <div class="head">Danh mục sản phẩm</div>
                <ul class="main-categories">
                    <li class="main-nav-list">
                        <from>
                            @foreach (var sp in Model.danhMucs)
                            {
                                if ((Model.danhMucChiTiets.Where(c => c.IdDanhMuc == sp.Id).Count()) >= 1)
                                {
                                    <div style="display: flex; align-items: center;">
                                        <a>@Html.ActionLink(sp.TenDanhMuc, "SanPhamDanhMuc","DanhMucSanPham", new { id = sp.Id })</a>
                                        <span>(@(Model.danhMucChiTiets.Where(c => c.IdDanhMuc == sp.Id).Count()))</span>
                                    </div>
                                }
                            }
                        </from>
                    </li>
                </ul>
            </div>
            <div class="sidebar-filter mt-50">
                <div class="top-filter-head">Product Filters</div>
                <div class="common-filter">
                    <div class="head">ChatLieu</div>
                    <form id="FillterChatLieu">
                        <ul>
                            @*@{
                                foreach (var chatLieu in Model.chatLieus)
                                {
                                    if ((Model.sanPhamChiTiets.Where(c => c.IdChatLieu == chatLieu.Id).Count()) >= 1)
                                    {
                                        <li>
                                            <input class="pixel-radio" type="checkbox" name="ChatLieu" id="ChatLieu-@chatLieu.Id" value="@chatLieu.TenChatLieu">
                                            <label for="ChatLieu-@chatLieu.Id">
                                                @chatLieu.TenChatLieu <span>(@(Model.sanPhamChiTiets.Where(c => c.IdChatLieu == chatLieu.Id).Count()))</span>
                                            </label>
                                        </li>
                                    }
                                }
                            }*@
                        </ul>
                    </form>
                    <div class="common-filter">
                        <div class="head">MauSac</div>
                        <form id="FillterMauSac">
                            <ul>
                                @{
                                    foreach (var mau in Model.maus)
                                    {
                                        if ((Model.sanPhamChiTiets.Where(c => c.IdMau == mau.Id).Count()) >= 1)
                                        {
                                            <li>
                                                <input class="pixel-radio" type="checkbox" name="ChatLieu" id="ChatLieu-@mau.Id" value="@mau.TenMau">
                                                <label for="ChatLieu-@mau.Id">
                                                    @mau.TenMau <span>(@(Model.sanPhamChiTiets.Where(c => c.IdMau == mau.Id).Count()))</span>
                                                </label>
                                            </li>
                                        }
                                    }
                                }
                            </ul>
                        </form>
                    </div>
                    <div>
                        <button id="btnFillter" type="submit" class="btn btn-primary btn-block enter-btn fa fa-search">
                            Filter
                        </button>
                    </div>
                </div>


                <div class="common-filter">
                    <div class="head">Price</div>
                    <div class="price-range-area">
                        <div id="price-range"></div>
                        <div class="value-wrapper d-flex">
                            <div class="price">Price:</div>
                            <div id="lower-value"></div>
                            <span>d</span>
                            <div class="to">to</div>
                            <div id="upper-value"></div>
                            <span>d</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="sorting">
                </div>
                <div class="sorting mr-auto">
                    <select>
                        <option value="1">Show 12</option>
                        <option value="1">Show 12</option>
                        <option value="1">Show 12</option>
                    </select>
                </div>
            </div>
            <!-- End Filter Bar -->
            <!-- Start Best Seller -->
            <section class="lattest-product-area pb-40 category-list">
                <div class="row" id="Fillter-sanPhams">
                    @foreach (var sp in Model.sanphampaging)
                    {
                        <!-- single product -->
                        {
                            <div class="col-lg-4 col-md-6">
                                <div class="single-product">
                                    @if (System.IO.Path.GetExtension(sp.SanPham.AnhDaiDien) == ".jpg" ||
                                   System.IO.Path.GetExtension(sp.SanPham.AnhDaiDien) == ".png" ||
                                   System.IO.Path.GetExtension(sp.SanPham.AnhDaiDien) == ".jpeg" ||
                                   System.IO.Path.GetExtension(sp.SanPham.AnhDaiDien) == ".tiff" ||
                                   System.IO.Path.GetExtension(sp.SanPham.AnhDaiDien) == ".webp" ||
                                   System.IO.Path.GetExtension(sp.SanPham.AnhDaiDien) == ".gif")
                                    {
                                        <img src="~/image/@sp.SanPham.AnhDaiDien" height="300">
                                    }
                                    else
                                    {
                                        <span>Ảnh lỗi rồi =)))</span>
                                    }
                                    <div class="product-details">
                                        <h6>
                                            <a style="color: (internal value);"> @Html.ActionLink(sp.SanPham.TenSanPham, "HienThiSanPhamChiTiet", new { id = sp.Id}) </a>
                                        </h6>
                                        <div class="price">
                                            @if (sp.SanPham.GiaNiemYet == sp.SanPham.GiaBan)
                                            {
                                                <h6>@FormatCurrency(sp.SanPham.GiaNiemYet)</h6>
                                            }
                                            else
                                            {
                                                <h6>@FormatCurrency(sp.SanPham.GiaNiemYet)</h6>
                                                <h6 class="l-through">@FormatCurrency(sp.SanPham.GiaBan)</h6>
                                            }
                                        </div>
                                        <div class="prd-bottom">

                                            <a href="" class="social-info">
                                                <span class="ti-bag"></span>
                                                <p class="hover-text">add to bag</p>
                                            </a>
                                            <a href="" class="social-info">
                                                <span class="lnr lnr-heart"></span>
                                                <p class="hover-text">Wishlist</p>
                                            </a>
                                            <a href="" class="social-info">
                                                <span class="lnr lnr-sync"></span>
                                                <p class="hover-text">compare</p>
                                            </a>
                                            <a href="" class="social-info">
                                                <span class="lnr lnr-move"></span>
                                                <p class="hover-text">view more</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </section>

            <!-- End Best Seller -->
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="sorting mr-auto">
                    <select>
                        <option value="1">Show 12</option>
                        <option value="1">Show 12</option>
                        <option value="1">Show 12</option>
                    </select>
                </div>
                
                <div class="pagination">
                    @for (int i = 1; i<= Model.pagingInfo.TotalPages;i++)
                    {<form asp-action="HienThiSanPham">
                       <button type="submit" ><input type="submit" name="page" value="@i" /></button>
                        </form>
                        //<a href="/HienThiSanPham/HienThiSanPham/?PageSanPham=@i">@Html.ActionLink(i, "HienThiSanPham", "HienThiSanPhamController", new { page = i })</a>
                    }
                </div>
            </div>
            <!-- End Filter Bar -->
        </div>
    </div>
</div>

<!-- Start related-product Area -->
<section class="related-product-area section_gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h1>Deals of the Week</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="~/img/r1.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="~/img/r2.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="~/img/r3.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="~/img/r5.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="~/img/r6.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="~/img/r7.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="~/img/r9.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="~/img/r10.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="~/img/r11.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ctg-right">
                    <a href="#" target="_blank">
                        <img class="img-fluid d-block mx-auto" src="~/img/category/c5.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End related-product Area -->
<script>
    @functions {
        public string FormatCurrency(float price)
        {
            string formattedPrice = string.Format("{0:N0}", price); // Định dạng số và thêm dấu phân cách ngàn
            return formattedPrice + "₫"; // Thêm ký hiệu đồng (₫) vào cuối
        }
    };
  
   
</script>

    @section scrrip{
    <script src="~/js/jquery-3.6.0.js"></script>
    
    @*<script>

    $(document).ready(function () {
        $('#btnFillter').click(function ()
        {
            var productId = "@product.ProductId";
            var fileInput = $('#fThumb')[0];
            var file = fileInput.files[0];
            console.log(productId);
            console.log(file);
            var formData = new FormData();
            formData.append('productId', productId);
            formData.append('fThumb', file);

            $.ajax({
                url: '/HienThiSanPham/CheckBoxChatLieu',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    location.reload();
                    console.log(result);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    });
    </script>*@

    }
   <script>
         document.getElementById('btnFillter').addEventListener("click", function () {
        var chatLieus = getSetSelectCheckboxes("FillterChatLieu");
        var maus = getSetSelectCheckboxes("FillterMauSac");
         console.log(chatLieus);
         console.log(maus);
        var data = {
            Idchatlieu: chatLieus,
            IdMauSac: maus
        }
        fetch('/HienThiSanPham/CheckBoxChatLieu', {
            method: 'POST',
            headers: { "Content-type": "application/json" },
            body: JSON.stringify(data)
        }).then(function (response) {
            if (response.ok) {
                return response.text();
            }
            else {
                throw new Error("Error sedding data controller")
            }
        }).then(function(results){
            $("#Fillter-sanPhams").html(results);
        })
        .catch(function (error) {
            console.log("An error occured:", error)
        })
    });
    function getSetSelectCheckboxes(fromId) {
        var CheckBoxes = $('#' + fromId + ' input[type=checkbox]:checked'); // Thêm dấu cách sau fromId
        var value = [];
        CheckBoxes.each(function () {
            value.push($(this).val());
        });
        return value;
    }
    </script>