@using CTN4_Data.Models;
@using CTN4_Serv.Service;
@model CTN4_Serv.ViewModel.SanPhamBan

<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_Product_carousel">
                    @{
                        // Tạo danh sách để theo dõi các Mau.Id đã xuất hiện
                        var anhxuathien = new List<string>();
                    }
                    @foreach (var a in Model.anhs)
                    {
                        if (!anhxuathien.Contains(a.DuongDanAnh))
                        {
                            anhxuathien.Add(a.DuongDanAnh);

                            @if (System.IO.Path.GetExtension(a.DuongDanAnh) == ".jpg" ||
                           System.IO.Path.GetExtension(a.DuongDanAnh) == ".png" ||
                           System.IO.Path.GetExtension(a.DuongDanAnh) == ".jpeg" ||
                           System.IO.Path.GetExtension(a.DuongDanAnh) == ".tiff" ||
                           System.IO.Path.GetExtension(a.DuongDanAnh) == ".webp" ||
                           System.IO.Path.GetExtension(a.DuongDanAnh) == ".gif")
                            {
                                <img src="~/image/@a.DuongDanAnh">
                            }
                            else
                            {
                                <span>Ảnh lỗi rồi =)))</span>
                            }
                        }
                    }
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <ul class="s_product_text">
                    <h3>@Model.sanPham.TenSanPham</h3>
                    <div class="price">
                        @if (Model.sanPham.GiaNiemYet == Model.sanPham.GiaBan)
                        {
                            <h6>@FormatCurrency(Model.sanPham.GiaNiemYet)</h6>
                        }
                        else
                        {
                            <div class="price-container">
                                <h6>@FormatCurrency(Model.sanPham.GiaNiemYet)</h6>
                            </div>

                            <div class="price-container">
                                <h6 class="strikethrough">@FormatCurrency(Model.sanPham.GiaBan)</h6>
                            </div>
                        }
                    </div>
                    <ul class="horizontal-list" style="display: flex;">
                        @foreach (var x in Model.giamgias)
                        {
                            <form asp-action="ThongTinVocher">
                                @if (x.LoaiGiamGia == false)
                                {
                                <li>
                                    <input type="hidden" name="idVoucher" value="@x.Id">
                                    <input type="hidden" name="idSp" value="@Model.sanPham.Id">
                                    <button class="mini-coupon__title" style="color: #000000; " onclick="onsubmit">Giảm @FormatCurrency(@x.SoTienGiam)</button>
                                </li>
                                }
                                else
                                {
                                <li>
                                    <input type="hidden" name="idVoucher" value="@x.Id">
                                    <input type="hidden" name="idSp" value="@Model.sanPham.Id">
                                    <button class="mini-coupon__title" style="color: #000000;">Giảm @x.PhanTramGiam%</button>
                                </li>
                                }</form>
                        }

                    </ul>
                    <br>
                    @if (TempData["Notification"] != null)
                    {
                        <div class="alert alert-info">@TempData["Notification"]</div>
                    }
                    <br />
                    <div>

                        @{
                            // Tạo danh sách để theo dõi các Mau.Id đã xuất hiện
                            var mauDaXuatHien = new List<Guid>();
                        }

                        <ul class="horizontal-list" style="display: flex; flex-wrap: wrap;">
                            @foreach (var a in Model.sanPhamChiTiets)
                            {
                                if (!mauDaXuatHien.Contains(a.Mau.Id))
                                {
                                    mauDaXuatHien.Add(a.Mau.Id);
                                    <form asp-action="chonMau">
                                    <li>
                                            @if (Model.idmau == a.Mau.Id)
                                            {
                                            <input type="hidden" name="IdSanPham" value="@Model.sanPham.Id" id="idsp">
                                            <input type="hidden" name="IdMau" value="@a.Mau.Id" id="idmau">

                                            <button class="custom-button after-click" onclick="onsubmit" ata-tenmau="@a.Mau.Id">
                                                    @a.Mau.TenMau
                                            </button>


                                            }
                                            else
                                            {
                                            <input type="hidden" name="IdSanPham" value="@Model.sanPham.Id" id="idsp">
                                            <input type="hidden" name="IdMau" value="@a.Mau.Id" id="idmau">

                                            <button class="custom-button before-click" onclick="onsubmit" class="color-button" data-tenmau="@a.Mau.TenMau">
                                                    @a.Mau.TenMau
                                            </button>

                                            }
                                    </li>
                                    </form>
                                }
                            }
                        </ul>
                    </div>
                    <br>
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                    }
                    <br />
                    <div>
                        @{
                            // Tạo danh sách để theo dõi các Mau.Id đã xuất hiện
                            var SizeDaXuatHien = new List<Guid>();
                        }
                        <ul class="horizontal-list" style="display: flex;">

                            @foreach (var a in Model.sizect)
                            {
                                // Kiểm tra xem Mau.Id đã xuất hiện trong danh sách chưa
                                if (!SizeDaXuatHien.Contains(a.Size.Id))
                                {
                                    // Nếu chưa xuất hiện, hiển thị nút và thêm Mau.Id vào danh sách
                                    SizeDaXuatHien.Add(a.Size.Id);
                                    @* <input type="hidden" name="mau" value="@a.Size.Id" />*@
                                    <form asp-action="chonSize">
                                    <li>
                                            @if (Model.idsize == a.Size.Id)
                                            {
                                            <input type="hidden" name="IdSanPham" value="@Model.sanPham.Id">
                                            <input type="hidden" name="IdSize" value="@a.IdSize">
                                            <input type="hidden" name="IdMau" value="@Model.idmau">
                                            <button class="custom-button after-click" onclick="onsubmit">
                                                    @a.Size.CoSize
                                            </button>
                                            }
                                            else
                                            {
                                            <input type="hidden" name="IdSanPham" value="@Model.sanPham.Id">
                                            <input type="hidden" name="IdSize" value="@a.IdSize">
                                            <input type="hidden" name="IdMau" value="@Model.idmau">
                                            <button class="custom-button before-click" onclick="onsubmit" data-tenmau="@a.Size.CoSize">
                                                    @a.Size.CoSize
                                            </button>
                                            }

                                    </li>
                                    </form>
                                }
                            }
                        </ul>
                    </div>
                    <ul class="list">
                        @if (Model.soluong != null)
                        {
                            <li><a class="active" href="#"><span>Số lượng</span>@Model.soluong </a></li>
                        }
                        @if (Model.KichCo != null)
                        {

                            <li><a href="#"><span>Kích cỡ</span> : @Model.KichCo</a><span> (dài x cao x rộng)</span></li>
                        }
                        else
                        {
                            <li><a href="#"><span>Kích cỡ</span> : </a><span> </span></li>
                        }

                        <li><a href="#"><span>Nhà sản xuất</span> : @Model.sanPham.NSX.TenNSX</a></li>
                        <li><a href="#"><span>Chất liệu</span> : @Model.sanPham.ChatLieu.TenChatLieu</a></li>
                    </ul>
                    <br />
                    <form asp-controller="BanHang" asp-action="ThemVaoGio">
                        <a>Số lượng:</a>
                        <div class="product_count">

                            <input type="text" name="soluong" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty" oninput="this.value = this.value.replace(/[^0-9]/g, '');" />


                        </div>

                        <div>
                            @if (Model.idsize != null && Model.idmau != null)
                            {
                                <input type="hidden" name="IdSize" value="@Model.idsize">
                                <input type="hidden" name="IdMau" value="@Model.idmau">
                                <input type="hidden" name="SoLuongHT" value="@Model.soluong">
                            }
                            else
                            {
                                <input type="hidden" name="IdSize" value="null">
                                <input type="hidden" name="IdMau" value="null">
                            }
                            <input type="hidden" name="IdSanPham" value="@Model.sanPham.Id">
                            @if (TempData["TB1"] != null)
                            {
                                <div class="alert alert-danger">@TempData["TB1"]</div>
                            }

                            @if (TempData["TB2"] != null)
                            {
                                <div class="alert alert-danger">@TempData["TB2"]</div>
                            }
                            <div class="card_area d-flex align-items-center">
                                <button class="primary-btn" type="submit" href="#">Thêm vào giỏ</button>


                            </div>
                            <input type="hidden" name="idSP" value="">
                        </div>
                    </form>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->
<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        @*<ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Ghi Chú</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
        aria-selected="false">Thông tin chi tiết</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
        aria-selected="false">Đánh giá</a>
        </li>
        <li class="nav-item">
        <a class="nav-link " id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
        aria-selected="false">Reviews</a>
        </li>

        </ul*@
        <div class="dropdown-divider"></div>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row total_rate">
                            <div class="col-6">
                                <div class="box_total">

                                    @if (Model.trungBinhDanhGia > 0)
                                    {
                                        <h4>@Model.trungBinhDanhGia</h4>
                                    }
                                    else
                                    {
                                        <h4>0</h4>
                                    }

                                    <h6>
                                        @if (@Model.danhGiaSanPhams.Count() > 0)
                                        {
                                            <h6>
                                                @Model.danhGiaSanPhams.Where(c=>c.TrangThaiDuyet == true && c.IdSanPham == Model.sanPham.Id).Count()
                                                Đánh giá sản phẩm
                                            </h6>
                                        }
                                        else
                                        {
                                            <h6> Chưa có đánh giá</h6>
                                        }
                                    </h6>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="rating_list">
                                    @if (@Model.danhGiaSanPhams.Count() > 0)
                                    {
                                        <h3>
                                            Dựa trên @Model.danhGiaSanPhams.Where(c=>c.TrangThaiDuyet == true && c.IdSanPham == Model.sanPham.Id).Count()
                                            đánh giá sản phẩm
                                        </h3>
                                    }
                                    else
                                    {
                                        <h3> Chưa có đánh giá</h3>
                                    }
                                    <ul class="list">

                                        <li>
                                            <a href="#">
                                                5 sao
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                @Model.danhGiaSanPhams.Where(c=>c.SoSao == 5 && c.IdSanPham == Model.sanPham.Id).Count()
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                4 sao <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star" style="color: #777777;"></i>
                                                @Model.danhGiaSanPhams.Where(c=>c.SoSao == 4 && c.IdSanPham == Model.sanPham.Id).Count()
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                3 sao <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star" style="color: #777777;"></i>
                                                <i class="fa fa-star" style="color: #777777;"></i>
                                                @Model.danhGiaSanPhams.Where(c=>c.SoSao == 3 && c.IdSanPham == Model.sanPham.Id).Count()
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                2 sao <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star" style="color: #777777;"></i>
                                                <i class="fa fa-star" style="color: #777777;"></i>
                                                <i class="fa fa-star" style="color: #777777;"></i>
                                                @Model.danhGiaSanPhams.Where(c=>c.SoSao == 2 && c.IdSanPham == Model.sanPham.Id).Count()
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                1 sao <i class="fa fa-star"></i>
                                                <i class="fa fa-star" style="color: #777777;"></i>
                                                <i class="fa fa-star" style="color: #777777;"></i>
                                                <i class="fa fa-star" style="color: #777777;"></i>
                                                <i class="fa fa-star" style="color: #777777;"></i>
                                                @Model.danhGiaSanPhams.Where(c=>c.SoSao == 1 && c.IdSanPham == Model.sanPham.Id).Count()
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="review_list">
                            @foreach (var x in Model.danhGiaSanPhams.Where(c => c.IdSanPham == Model.sanPham.Id))
                            {
                                <div class="review_item">
                                    <div class="media">
                                        <div class="d-flex">
                                            @if (System.IO.Path.GetExtension(x.KhachHang.AnhDaiDien) == ".jpg" ||
                                           System.IO.Path.GetExtension(x.KhachHang.AnhDaiDien) == ".png" ||
                                           System.IO.Path.GetExtension(x.KhachHang.AnhDaiDien) == ".jpeg" ||
                                           System.IO.Path.GetExtension(x.KhachHang.AnhDaiDien) == ".tiff" ||
                                           System.IO.Path.GetExtension(x.KhachHang.AnhDaiDien) == ".webp" ||
                                           System.IO.Path.GetExtension(x.KhachHang.AnhDaiDien) == ".gif")
                                            {
                                                <img style="width:40px; height:41px;" src="~/anhdd/@x.KhachHang.AnhDaiDien" alt="">
                                            }
                                            else
                                            {
                                                <img style="width:40px; height:41px;" src="~/Karma Shop-doc/img/avatar-facebook-mac-dinh-19.jpg" alt="">

                                            }

                                        </div>
                                        <div class="media-body">
                                            <div style="display: flex; align-items: center;">
                                                <h4 style="flex-grow: 1;">@x.KhachHang.TenDangNhap</h4>


                                            </div>


                                            <div class="star-rating" style="display: flex; align-items: center;">
                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    if (i <= x.SoSao)
                                                    {
                                                        <i class="fa fa-star"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa fa-star" style="color: #777777;"></i>
                                                    }
                                                }

                                                <!-- Thêm nút 3 chấm và menu thả xuống -->

                                            </div>
                                        </div>

                                    </div>
                                    <p>
                                        @x.BinhLuan

                                    </p>

                                </div>
                            }
                        </div>
                    </div>
                    @if (Model.idsanphamdamuas != null && Model.idsanphamdamuas.Contains(Model.sanPham.Id))
                    {

                        @if (Model.danhGiaSanPhamCuaToi != null)
                        {
                            <div class="col-lg-6">
                                <div class="review_item">
                                    <div class="media">
                                        <div class="d-flex">
                                            @if (System.IO.Path.GetExtension(Model.danhGiaSanPhamCuaToi.KhachHang.AnhDaiDien) == ".jpg" ||
                                           System.IO.Path.GetExtension(Model.danhGiaSanPhamCuaToi.KhachHang.AnhDaiDien) == ".png" ||
                                           System.IO.Path.GetExtension(Model.danhGiaSanPhamCuaToi.KhachHang.AnhDaiDien) == ".jpeg" ||
                                           System.IO.Path.GetExtension(Model.danhGiaSanPhamCuaToi.KhachHang.AnhDaiDien) == ".tiff" ||
                                           System.IO.Path.GetExtension(Model.danhGiaSanPhamCuaToi.KhachHang.AnhDaiDien) == ".webp" ||
                                           System.IO.Path.GetExtension(Model.danhGiaSanPhamCuaToi.KhachHang.AnhDaiDien) == ".gif")
                                            {
                                                <img style="width:40px; height:41px;" src="~/anhdd/@Model.danhGiaSanPhamCuaToi.KhachHang.AnhDaiDien" alt="">
                                            }
                                            else
                                            {
                                                <img style="width:40px; height:41px;" src="~/Karma Shop-doc/img/avatar-facebook-mac-dinh-19.jpg" alt="">

                                            }
                                        </div>
                                        <div class="media-body">
                                            <div style="display: flex; align-items: center;">
                                                <h4 style="flex-grow: 1;">@Model.danhGiaSanPhamCuaToi.KhachHang.TenDangNhap</h4>
                                                <div class="dropdown">
                                                    <a type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                                        <!-- Thêm dấu ba chấm nằm ngang -->
                                                        <span style="font-weight: bold; writing-mode: vertical-rl;">. . .</span>
                                                    </a>
                                                    <div class="dropdown-menu p-2">
                                                        @if (Model.danhGiaSanPhamCuaToi.SoSua >= 1)
                                                        {
                                                            <!-- Nội dung tùy chọn chính -->
                                                            <p>Đánh giá của bạn :</p>
                                                            <ul class="list">
                                                                <div class="stars">
                                                                    <input type="radio" id="star1" name="rating" value="1" />
                                                                    <input type="radio" id="star2" name="rating" value="2" />
                                                                    <input type="radio" id="star3" name="rating" value="3" />
                                                                    <input type="radio" id="star4" name="rating" value="4" />
                                                                    <input type="radio" id="star5" name="rating" value="5" />

                                                                    <label for="star1" aria-label="Banana">1 star</label>
                                                                    <label for="star2">2 stars</label>
                                                                    <label for="star3">3 stars</label>
                                                                    <label for="star4">4 stars</label>
                                                                    <label for="star5">5 stars</label>
                                                                </div>
                                                            </ul>

                                                            <form asp-action="XacNhanDanhGia" asp-controller="HienThiSanPham">
                                                                <div class="col-md-20 ">
                                                                    <div class="form-group ">
                                                                        <input type="hidden" name="idsp" value="@Model.sanPham.Id" />
                                                                        <textarea class="form-control" maxlength="200" name="message" id="message" rows="1" placeholder="Review" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Review'"></textarea>
                                                                    </div>
                                                                </div>
                                                                <button type="submit" value="submit" class="btn btn-primary ">Sửa đánh giá</button>
                                                            </form>
                                                            <div class="dropdown-divider"></div> <!-- Đường phân cách giữa các tùy chọn -->
                                                        }
                                                        else
                                                        {
                                                            <div class="dropdown-divider"></div> <!-- Đường phân cách giữa các tùy chọn -->
                                                        }
                                                        <p style="font-size:small">
                                                            Bạn còn (@Model.danhGiaSanPhamCuaToi.SoSua) lượt sửa đánh giá

                                                        </p>
                                                        @if ( Model.danhGiaSanPhamCuaToi.TrangThaiDuyet == true)
                                                        {
                                                            <!-- Submenu -->
                                                            <div class="dropdown ">
                                                                <!-- Nội dung submenu -->
                                                                <form asp-action="XoaDanhGia" asp-controller="HienThiSanPham">
                                                                    <!-- Nội dung form xóa -->
                                                                    <input type="hidden" name="id" value="@Model.danhGiaSanPhamCuaToi.Id">
                                                                    <input type="hidden" name="idsp" value="@Model.sanPham.Id">
                                                                    <button type="submit" class="btn btn-danger" value="submit ">
                                                                        <!-- Thêm dấu ba chấm nằm ngang -->
                                                                        @if (Model.danhGiaSanPhamCuaToi.TrangThaiAnHien == false)
                                                                        {
                                                                            <span>Hiện đánh giá</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span>Ẩn đánh giá</span>
                                                                        }
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        
                                                       }
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="star-rating" style="display: flex; align-items: center;">

                                                @if (Model.danhGiaSanPhamCuaToi.SoSao == 1)
                                                {
                                                    <i class="fa fa-star " style="color: #fbd600;"></i>
                                                    <i class="fa fa-star" style="color: #777777;"></i>
                                                    <i class="fa fa-star" style="color: #777777;"></i>
                                                    <i class="fa fa-star" style="color: #777777;"></i>
                                                    <i class="fa fa-star" style="color: #777777;"></i>
                                                }
                                                else if (Model.danhGiaSanPhamCuaToi.SoSao == 2)
                                                {
                                                    <i class="fa fa-star " style="color: #fbd600;"></i>
                                                    <i class="fa fa-star " style="color: #fbd600;"></i>
                                                    <i class="fa fa-star" style="color: #777777;"></i>
                                                    <i class="fa fa-star" style="color: #777777;"></i>
                                                    <i class="fa fa-star" style="color: #777777;"></i>
                                                }
                                                else if (Model.danhGiaSanPhamCuaToi.SoSao == 3)
                                                {
                                                    <i class="fa fa-star " style="color: #fbd600;"></i>
                                                    <i class="fa fa-star " style="color: #fbd600;"></i>
                                                    <i class="fa fa-star " style="color: #fbd600;"></i>
                                                    <i class="fa fa-star" style="color: #777777;"></i>
                                                    <i class="fa fa-star" style="color: #777777;"></i>
                                                }
                                                else if (Model.danhGiaSanPhamCuaToi.SoSao == 4)
                                                {
                                                    <i class="fa fa-star " style="color: #fbd600;"></i>
                                                    <i class="fa fa-star " style="color: #fbd600;"></i>
                                                    <i class="fa fa-star " style="color: #fbd600;"></i>
                                                    <i class="fa fa-star " style="color: #fbd600;"></i>
                                                    <i class="fa fa-star" style="color: #777777;"></i>

                                                }
                                                else if (Model.danhGiaSanPhamCuaToi.SoSao == 5)
                                                {
                                                    <i class="fa fa-star " style="color: #fbd600;"></i>
                                                    <i class="fa fa-star " style="color: #fbd600;"></i>
                                                    <i class="fa fa-star " style="color: #fbd600;"></i>
                                                    <i class="fa fa-star " style="color: #fbd600;"></i>
                                                    <i class="fa fa-star " style="color: #fbd600;"></i>
                                                }

                                                <!-- Thêm nút 3 chấm và menu thả xuống -->

                                            </div>
                                            <div>
                                                <p>
                                                    @Model.danhGiaSanPhamCuaToi.BinhLuan
                                                </p>
                                                <div class="d-flex">
                                                    @if (Model.danhGiaSanPhamCuaToi.TrangThaiDuyet == false)
                                                    {
                                                        <p><em style="color:red">*Bình luận của bạn đang được chờ duyệt</em></p>


                                                    }@if (Model.danhGiaSanPhamCuaToi.TrangThaiAnHien == false && Model.danhGiaSanPhamCuaToi.TrangThaiDuyet == true)
                                                    {
                                                        <p><em style="color:red">*Bình luận của bạn đang tạm ẩn hiện thị</em></p>
                                                    }

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }
                        @* else if (Model.danhGiaSanPhamCuaToi.TrangThaiAnHien == false && Model.danhGiaSanPhamCuaToi.Is_delete == false)
                    {
                    <div class="col-lg-6">
                    <h4>Hãy mua hàng để có thế đánh giá sản phẩm này!</h4>
                    </div>
                    }*@

                        else
                        {
                            <div class="col-lg-6">
                                <div class="review_box">
                                    <h4>Thêm đánh giá sản phẩm</h4>
                                    <p>Đánh giá của bạn :</p>
                                    <ul class="list">
                                        <div class="stars">
                                            <input type="radio" id="star1" name="rating" value="1" />
                                            <input type="radio" id="star2" name="rating" value="2" />
                                            <input type="radio" id="star3" name="rating" value="3" />
                                            <input type="radio" id="star4" name="rating" value="4" />
                                            <input type="radio" id="star5" name="rating" value="5" />

                                            <label for="star1" aria-label="Banana">1 star</label>
                                            <label for="star2">2 stars</label>
                                            <label for="star3">3 stars</label>
                                            <label for="star4">4 stars</label>
                                            <label for="star5">5 stars</label>
                                        </div>
                                    </ul>

                                    <form asp-action="XacNhanDanhGia" asp-controller="HienThiSanPham" class="row contact_form" id="contactForm" novalidate="novalidate">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="hidden" name="idsp" value="@Model.sanPham.Id" />
                                                <textarea class="form-control" maxlength="200" name="message" id="message" rows="1" placeholder="Review" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Review'"></textarea>
                                            </div>
                                        </div>
                                        @if (TempData["message1"] != null)
                                        {
                                            <div class=" form-group">
                                                <div class="alert alert-danger">@TempData["message1"]</div>
                                            </div>

                                        }
                                        @*@if (TempData["message2"] != null)
                                        {
                                            <div class=" form-group">
                                                <div class="alert alert-success">@TempData["message2"]</div>
                                            </div>

                                        }*@

                                        <div class="col-md-12 text-right">
                                            <button type="submit" value="submit" class="primary-btn">Submit Now</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        }

                    }
                    else
                    {
                        <div class="col-lg-6">
                            <h4>Hãy mua hàng để có thế đánh giá sản phẩm này!</h4>
                        </div>
                    }



                </div>
            </div>




            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <p>
                    Beryl Cook is one of Britain’s most talented and amusing artists .Beryl’s pictures feature women of all shapes
                    and sizes enjoying themselves .Born between the two world wars, Beryl Cook eventually left Kendrick School in
                    Reading at the age of 15, where she went to secretarial school and then into an insurance office. After moving to
                    London and then Hampton, she eventually married her next door neighbour from Reading, John Cook. He was an
                    officer in the Merchant Navy and after he left the sea in 1956, they bought a pub for a year before John took a
                    job in Southern Rhodesia with a motor company. Beryl bought their young son a box of watercolours, and when
                    showing him how to use it, she decided that she herself quite enjoyed painting. John subsequently bought her a
                    child’s painting set for her birthday and it was with this that she produced her first significant work, a
                    half-length portrait of a dark-skinned lady with a vacant expression and large drooping breasts. It was aptly
                    named ‘Hangover’ by Beryl’s husband and
                </p>
                <p>
                    It is often frustrating to attempt to plan meals that are designed for one. Despite this fact, we are seeing
                    more and more recipe books and Internet websites that are dedicated to the act of cooking for one. Divorce and
                    the death of spouses or grown children leaving for college are all reasons that someone accustomed to cooking for
                    more than one would suddenly need to learn how to adjust all the cooking practices utilized before into a
                    streamlined plan of cooking that is more efficient for one person creating less
                </p>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <h5>Width</h5>
                                </td>
                                <td>
                                    <h5>128mm</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Height</h5>
                                </td>
                                <td>
                                    <h5>508mm</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Depth</h5>
                                </td>
                                <td>
                                    <h5>85mm</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Weight</h5>
                                </td>
                                <td>
                                    <h5>52gm</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Quality checking</h5>
                                </td>
                                <td>
                                    <h5>yes</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Freshness Duration</h5>
                                </td>
                                <td>
                                    <h5>03days</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>When packeting</h5>
                                </td>
                                <td>
                                    <h5>Without touch of hand</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Each Box contains</h5>
                                </td>
                                <td>
                                    <h5>60pcs</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="comment_list">
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="~/img/product/review-1.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>Blake Ruiz</h4>
                                        <h5>12th Feb, 2018 at 05:56 pm</h5>
                                        <a class="reply_btn" href="#">Reply</a>
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo
                                </p>
                            </div>
                            <div class="review_item reply">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="~/img/product/review-2.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>Blake Ruiz</h4>
                                        <h5>12th Feb, 2018 at 05:56 pm</h5>
                                        <a class="reply_btn" href="#">Reply</a>
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo
                                </p>
                            </div>
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="~/img/product/review-3.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>Blake Ruiz</h4>
                                        <h5>12th Feb, 2018 at 05:56 pm</h5>
                                        <a class="reply_btn" href="#">Reply</a>
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="review_box">
                            <h4>Post a comment</h4>
                            <form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Your Full name">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="number" name="number" placeholder="Phone Number">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" id="message" rows="1" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 text-right">
                                    <button type="submit" value="submit" class="btn primary-btn">Submit Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade " id="review" role="tabpanel" aria-labelledby="review-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row total_rate">
                            <div class="col-6">
                                <div class="box_total">
                                    <h5>Overall</h5>
                                    <h4>4.0</h4>
                                    <h6>(03 Reviews)</h6>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="rating_list">
                                    <h3>Based on 3 Reviews</h3>
                                    <ul class="list">
                                        <li>
                                            <a href="#">
                                                5 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                4 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                3 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                2 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                1 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="review_list">
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="~/img/product/review-1.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>Blake Ruiz</h4>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo
                                </p>
                            </div>
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="~/img/product/review-2.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>Blake Ruiz</h4>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo
                                </p>
                            </div>
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="~/img/product/review-3.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>Blake Ruiz</h4>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="review_box">
                            <h4>Add a Review</h4>
                            <p>Your Rating:</p>
                            <ul class="list">
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                            <p>Outstanding</p>
                            <form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Your Full name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Full name'">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="number" name="number" placeholder="Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone Number'">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" id="message" rows="1" placeholder="Review" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Review'"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 text-right">
                                    <button type="submit" value="submit" class="primary-btn">Submit Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Product Description Area =================-->
<!-- Start related-product Area -->
<section class="related-product-area section_gap_bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h1>Sản phẩm liên quan</h1>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    @{
                        // Tạo danh sách để theo dõi các Mau.Id đã xuất hiện
                        var SanPhamDaXuatHien = new List<Guid>();
                        SanPhamDaXuatHien.Add(Model.sanPham.Id);
                    }
                    @foreach (var a in Model.sanPhams)
                    {
                        // Kiểm tra xem Mau.Id đã xuất hiện trong danh sách chưa
                        if (!SanPhamDaXuatHien.Contains(a.Id))
                        {
                            // Nếu chưa xuất hiện, hiển thị nút và thêm Mau.Id vào danh sách
                            SanPhamDaXuatHien.Add(a.Id);
                            <div class="col-lg-4 col-md-4 col-sm-4 mb-20">
                                <div class="single-related-product d-flex">
                                    @if (System.IO.Path.GetExtension(a.AnhDaiDien) == ".jpg" ||
                                   System.IO.Path.GetExtension(a.AnhDaiDien) == ".png" ||
                                   System.IO.Path.GetExtension(a.AnhDaiDien) == ".jpeg" ||
                                   System.IO.Path.GetExtension(a.AnhDaiDien) == ".tiff" ||
                                   System.IO.Path.GetExtension(a.AnhDaiDien) == ".webp" ||
                                   System.IO.Path.GetExtension(a.AnhDaiDien) == ".gif")
                                    {
                                        <a href="@Url.Action("HienThiSanPhamChiTiet", "HienThiSanPham", new { id = a.Id })">

                                            <img src="~/image/@a.AnhDaiDien" height="150" alt="@a.TenSanPham" />
                                        </a>
                                        <div class="desc">
                                            <a href="@Url.Action("HienThiSanPhamChiTiet", "HienThiSanPham", new { id = a.Id })" class="title">@a.TenSanPham</a>
                                            <div class="price">
                                                @if (a.GiaNiemYet == a.GiaBan)
                                                {
                                                    <h6>@FormatCurrency(a.GiaNiemYet)</h6>
                                                }
                                                else
                                                {
                                                    <h6>@FormatCurrency(a.GiaNiemYet)</h6>
                                                    <h6 class="l-through">@FormatCurrency(a.GiaBan)</h6>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    @functions {
        public string FormatCurrency(float price)
        {
            string formattedPrice = string.Format("{0:N0}", price); // Định dạng số và thêm dấu phân cách ngàn
            return formattedPrice + "VND"; // Thêm ký hiệu đồng (₫) vào cuối
        }
    }
</script>

<script>

    $(function () {
        $("#ddltype").change(function () {
            $.ajax({
                type: "Get",
                url: "/Home/ShowProduct?type=" + $(this).val(),  //remember change the controller to your owns.
                success: function (data) {
                    $("#productcontainer").html("");
                    $("#productcontainer").html(data);
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });
        });
    });
</script>

<!-- End related-product Area -->
<script>

    //$(document).ready(function () {
    //    $(".color-button").click(function () {
    //        //// Loại bỏ lớp "selected" từ tất cả các nút
    //        $(".color-button").removeClass("selected");

    //        // Thêm lớp "selected" cho nút được nhấn
    //        $(this).addClass("selected");

    //        //// Lấy giá trị màu được chọn
    //        //var tenMau = $(this).data("tenmau");
    //        //console.log("Màu được chọn: " + tenMau);
    //    });
    //}); $(document).ready(function () {
    //    $(".color-button1").click(function () {
    //        //// Loại bỏ lớp "selected" từ tất cả các nút
    //        $(".color-button1").removeClass("selected");

    //        // Thêm lớp "selected" cho nút được nhấn
    //        $(this).addClass("selected");

    //        //// Lấy giá trị màu được chọn
    //        //var tenMau = $(this).data("tenmau");
    //        //console.log("Màu được chọn: " + tenMau);
    //    });
    //});
    //$(document).ready(function () {
    //    $('.color-button').click(function () {

    //         // Ngăn chuyển trang khi nút được bấm
    //        var idSanPham = $('#idsp').val();
    //        var idMau = $('#idmau').val();
    //        $.ajax({

    //            type: "GET", // Hoặc "GET" tùy theo yêu cầu của bạn
    //            url: "/hienthisansham/chonmau", // Thay thế bằng đường dẫn tương ứng của bạn
    //            dataType: "json",
    //            contentType: 'application/json;charset=utf-8',
    //            data: { IdSanPham: idSanPham, IdMau: idMau },
    //            success: function (result) {
    //                console.log(result)
    //                // Cập nhật dữ liệu trên trang
    //                // Ví dụ: Thay thế nội dung hoặc thực hiện các thao tác khác cần thiết
    //            },
    //            error: function () {
    //                // Xử lý lỗi nếu có
    //            }
    //        });
    //    });
    //});



</script>

<style>

    .horizontal-list {
        list-style-type: none; /* Loại bỏ dấu chấm */
        padding: 0; /* Loại bỏ khoảng cách đệm */
        margin: 0; /* Loại bỏ khoảng cách lề */
    }

        .horizontal-list li {
            display: inline; /* Hiển thị các mục ngang cùng hàng */
            margin-right: 10px; /* Thêm khoảng cách giữa các mục (tùy chỉnh) */
        }

    .button-container {
        margin-right: 10px; /* Khoảng cách giữa các nút */
        margin-bottom: 10px; /* Khoảng cách giữa các dòng */
    }

    .custom-button {
        color: #000000;
        border: none;
        border-radius: 20px;
        padding: 10px 20px;
        font-size: 14px;
        cursor: pointer;
        font-weight: 400;
        transition: border-radius 0.3s, box-shadow 0.3s;
    }

        .custom-button.before-click {
            background-color: #DDDDDD; /* Màu nền của nút trước khi click */
        }

        .custom-button.after-click {
            background-color: #DDDDDD;
            color: #000000;
            box-shadow: 0 0 0 2px #000000;
        }
    /* Vòng tròn màu xanh bo xung quanh nút sau khi click, bán kính là 5px */
    .mini-coupon__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        row-gap: 0;
        position: relative;
        margin-bottom: 1em;
    }



    .mini-coupon__title {
        border-radius: 20px;
        padding: 10px 20px;
        font-size: 14px; /* Kích thước chữ */
        cursor: pointer;
        font-weight: 400; /* Độ đậm chữ */
        border: none;
        border-radius: 10px;
        transition: border-radius 0.3s, box-shadow 0.3s;
        background-color: #FA8072;
    }

    .price-container {
        display: inline-block;
        margin-right: 10px; /* Khoảng cách giữa hai thẻ */
    }

    .strikethrough {
        text-decoration: line-through;
        color: #cccccc;
    }

    .lnr1 {
        font-family: 'Linearicons-Free';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 3;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .lnr-heart {
        display: inline-block;
        position: relative;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
    }

        .lnr-heart button {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: none;
            border-radius: 50%;
            opacity: 0;
            transform: scale(0);
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        }

        .lnr-heart:hover button {
            transform: scale(1);
            opacity: 1;
        }



    /* ////// rating*/
    .stars input {
        position: absolute;
        clip: rect(0, 0, 0, 0);
    }

    .stars label {
        box-sizing: border-box;
        display: inline-block;
        margin-right: 6px;
        height: 15px; /* Star size */
        width: 16.4px; /* Star size */
        background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='gray' stroke='gray' stroke-width='38' d='M259.216 29.942L330.27 173.92l158.89 23.087L374.185 309.08l27.145 158.23-142.114-74.698-142.112 74.698 27.146-158.23L29.274 197.007l158.89-23.088z' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        font-size: 0;
        cursor: pointer;
    }

    .stars input:nth-child(1):checked ~ label:nth-of-type(-n + 1),
    .stars input:nth-child(2):checked ~ label:nth-of-type(-n + 2),
    .stars input:nth-child(3):checked ~ label:nth-of-type(-n + 3),
    .stars input:nth-child(4):checked ~ label:nth-of-type(-n + 4),
    .stars input:nth-child(5):checked ~ label:nth-of-type(-n + 5) {
        background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23fbd600' stroke='%23fbd600' stroke-width='38' d='M259.216 29.942L330.27 173.92l158.89 23.087L374.185 309.08l27.145 158.23-142.114-74.698-142.112 74.698 27.146-158.23L29.274 197.007l158.89-23.088z' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
</style>
<script type="text/javascript">
    (function (d, m) {
        var kommunicateSettings =
            { "appId": "241b5fa6e937de9fc9ca1041a7dddc01", "popupWidget": true, "automaticChatOpenOnNavigation": true };
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
                        /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
</script>
<script src="~/js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.~/js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="~/js/vendor/bootstrap.min.js"></script>
<script src="~/js/jquery.ajaxchimp.min.js"></script>
<script src="~/js/jquery.nice-select.min.js"></script>
<script src="~/js/jquery.sticky.js"></script>
<script src="~/js/nouislider.min.js"></script>
<script src="~/js/countdown.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>

<!--gmaps Js-->
<script src="~/js/main.js"></script>
<script src="~/js/b.js"></script>
                            @*<link rel="stylesheet" href="~/css/Rating.css">*@


