@model CTN4_Serv.ViewModel.ThieuxkView

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<br></br>
<br></br>

<div>
    <h4>Quản lí sản phẩm</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            Ảnh đại diện
        </dt>
        <dd class="col-sm-10">
            @if (Model.SanPham.AnhDaiDien != null)
            {
                @if (System.IO.Path.GetExtension(Model.SanPham.AnhDaiDien) == ".jpg" ||
               System.IO.Path.GetExtension(Model.SanPham.AnhDaiDien) == ".png" ||
               System.IO.Path.GetExtension(Model.SanPham.AnhDaiDien) == ".jpeg" ||
               System.IO.Path.GetExtension(Model.SanPham.AnhDaiDien) == ".tiff" ||
               System.IO.Path.GetExtension(Model.SanPham.AnhDaiDien) == ".webp" ||
               System.IO.Path.GetExtension(Model.SanPham.AnhDaiDien) == ".gif")
                {
                    <img src="~/image/@Model.SanPham.AnhDaiDien" height="100">
                }
                else
                {
                    <span>Ảnh lỗi rồi =)))</span>
                }
            }
        </dd>
        <dt class="col-sm-2">
            Tên sản phẩm
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SanPham.TenSanPham)
        </dd>
        <dt class="col-sm-2">
            Chất liệu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SanPham.ChatLieu.TenChatLieu)
        </dd>
        <dt class="col-sm-2">
            Nhà sản xuất
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SanPham.NSX.TenNSX)
        </dd>
        <dt class="col-sm-2">
            Mã sản Phẩm
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SanPham.MaSp)
        </dd>

        <dt class="col-sm-2">
            Mô tả
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SanPham.MoTa)
        </dd>
        <dt class="col-sm-2">
            Giá nhập
        </dt>
        <dd class="col-sm-10">

            @{
                string formattedPrice = FormatCurrency(Model.SanPham.GiaNhap);
            }
            @formattedPrice
        </dd>
        <dt class="col-sm-2">
            Giá bán
        </dt>
        <dd class="col-sm-10">
            @{
                string formattedPrice1 = FormatCurrency(Model.SanPham.GiaBan);
            }
            @formattedPrice1
        </dd>
        <dt class="col-sm-2">
            Gia niên yết
        </dt>
        <dd class="col-sm-10">

            @{
                string formattedPrice2 = FormatCurrency(Model.SanPham.GiaNiemYet);
            }
            @formattedPrice2
        </dd>
        <dt class="col-sm-2">
            Ghi chú
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SanPham.GhiChu)
        </dd>
        <dt class="col-sm-2">
            Trạng thái
        </dt>
        <dd class="col-sm-10">

            @if (Model.SanPham.TrangThai == true)
            {
                <p>Hiển thị trên trang web</p>
            }
            else
            {
                <p>Đã ẩn trên trang web</p>
            }
        </dd>
        <dt class="col-sm-2">
            Tình trạng
        </dt>
        <dd class="col-sm-10">

            @if (Model.SanPham.Is_detele == true)
            {
                <p>Hiển thị </p>
            }
            else
            {
                <p>Đã ẩn </p>
            }
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Chỉnh sửa", "Edit", new {id = Model.SanPham.Id },new { style = "text-decoration: none; color: black;" }) |

    <a asp-action="Index" style="text-decoration: none;color: black;">Quay về</a>
</div>
<hr />
<div>
    <button class="btn btn-warning btn-fw editable-click=">@Html.ActionLink("Thêm mới", "ThemSanPhamChiTiet","QuanLYH", new {id = Model.SanPham.Id }, new { style = "color: white;text-decoration: none; " }) </button>
</div>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                Ảnh sản phẩm
            </th>
            <th>
                Tên sản phẩm
            </th>

            <th>
                Trạng thái
            </th>
            <th>
                Tình trạng
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.sanPhamChiTiets)
        {
            <tr>
                <td>

                    <!-- Kiểm tra xem có ảnh nào cho sản phẩm chi tiết này không -->
                    @if (Model.AhList != null)
                    {
                        var validImage = Model.AhList.FirstOrDefault(c => c.IdSanPhamChiTiet == item.Id &&
                        (System.IO.Path.GetExtension(c.DuongDanAnh) == ".jpg" ||
                        System.IO.Path.GetExtension(c.DuongDanAnh) == ".png" ||
                        System.IO.Path.GetExtension(c.DuongDanAnh) == ".jpeg" ||
                        System.IO.Path.GetExtension(c.DuongDanAnh) == ".tiff" ||
                        System.IO.Path.GetExtension(c.DuongDanAnh) == ".webp" ||
                        System.IO.Path.GetExtension(c.DuongDanAnh) == ".gif"));

                        if (validImage != null)
                        {
                            <div>
                                <img src="~/image/@validImage.DuongDanAnh" height="150" style="max-width: 100%;">
                            </div>
                        }
                        else
                        {

                            <a>Không có ảnh hợp lệ cho sản phẩm </a>

                        }
                    }
                    else
                    {

                        <a>Không có ảnh cho sản phẩm</a>
                    }


                </td>
                <td>
                    <div>
                        <b>Tên</b>: @Html.DisplayFor(modelItem => item.SanPham.TenSanPham)
                    </div><div>
                        <b>Màu sắc</b>: @Html.DisplayFor(modelItem => item.Mau.TenMau)
                    </div><div>
                        <b>Size</b>: @Html.DisplayFor(modelItem => item.Size.CoSize)
                    </div>
                    <div>
                        <b>Số lượng</b>: @Html.DisplayFor(modelItem => item.SoLuong)
                    </div>
                </td>
                <td>
                 
                    @if (item.TrangThai == true)
                    {
                        <a>Hiển thị ra trang web</a>
                    }
                    else
                    {
                        <a>Tạm ẩn ra trang web </a>
                    }
                </td>
                <td>
                    @if (item.Is_detele == true)
                    {
                        <a>Hiển thị</a>
                    }
                    else
                    {
                        <a>Tạm ẩn</a>
                    }

                </td>
                <td>
                    @Html.ActionLink("Chỉnh sửa", "Edit", "QuanLYH",new { id=item.Id },new { style = "text-decoration: none; color: black;" }) |
                    @Html.ActionLink("Chi tiết", "Details","QuanLYH" ,new { id=item.Id }, new { style = "text-decoration: none; color: black;" }) |
                    @Html.ActionLink("Xóa", "Delete", "QuanLYH",new { id=item.Id },new { style = "text-decoration: none; color: black;", onclick = "return confirmDelete();" }) |


                </td>
            </tr>
        }
    </tbody>
</table>
<style>
    /* Thêm điều chỉnh tùy chỉnh nếu cần thiết */
    table {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
    }

    th, td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border: 1px solid #dee2e6; /* Đường viền của ô */
        padding: 10px;
    }
    /* Đường kẻ giữa các ô */
    table.table-bordered {
        border: 1px solid #dee2e6;
    }

        /* Đường kẻ giữa các dòng */
        table.table-bordered tbody tr {
            border: 1px solid #dee2e6;
        }

    .link-styling {
        text-decoration: underline;
        color: black;
    }
</style>
<script>
    @functions {
        public string FormatCurrency(float price)
        {
            string formattedPrice = string.Format("{0:N0}", price); // Định dạng số và thêm dấu phân cách ngàn
            return formattedPrice + "VND"; // Thêm ký hiệu đồng (₫) vào cuối
        }
    };
    function confirmDelete() {
        var result = confirm("Bạn có chắc chắn muốn xóa không?");
        return result;
    }
</script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>