@model CTN4_Serv.ViewModel.ThieuxkView

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<br></br>
<br></br>

<div>
    <h4>Quản lí sản phẩm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Id
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanPham.Id)
        </dd>
        <dt class = "col-sm-2">
            Chất liệu
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanPham.ChatLieu.TenChatLieu)
        </dd>
        <dt class = "col-sm-2">
            Nhà sản xuất
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanPham.NSX.TenNSX)
        </dd>
        <dt class = "col-sm-2">
            Mã sản Phẩm
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanPham.MaSp)
        </dd>
        <dt class = "col-sm-2">
            Tên sản phẩm
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanPham.TenSanPham)
        </dd>
        <dt class = "col-sm-2">
           Ảnh đại diện
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanPham.AnhDaiDien)
        </dd>
        <dt class = "col-sm-2">
            Trạng thái
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanPham.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            Mô tả
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanPham.MoTa)
        </dd>
        <dt class = "col-sm-2">
           Giá nhập
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanPham.GiaNhap)
        </dd>
        <dt class = "col-sm-2">
            Giá bán
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanPham.GiaBan)
        </dd>
        <dt class = "col-sm-2">
            Gia niên yết
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanPham.GiaNiemYet)
        </dd>
        <dt class = "col-sm-2">
           Ghi chú
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanPham.GhiChu)
        </dd>
        <dt class = "col-sm-2">
            Is_detele
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanPham.Is_detele)
        </dd>
    </dl>
</div>
<div>
    <button>@Html.ActionLink("Edit", "Edit", new {id = Model.SanPham.Id }) </button>
    
    <button><a asp-action="Index">Back to List</a></button>
    
</div>


<table class="table">
    <thead>
        <tr>
            <th>
               Ảnh sản phẩm
            </th>
            <th>
                Tên sản phẩm
            </th>

            <th>
               Số lượng
            </th>

            <th>
               Trạng thái
            </th>

            <th>
                Is_detele
            </th>
            <th>
                Màu
            </th>
            <th>
                Size
            </th>
            
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.sanPhamChiTiets)
        {
            <tr>
                <td>
                    <tb>
                        @foreach (var b in Model.AhList.Where(c => c.IdSanPhamChiTiet == item.Id))
                        {

                            @if (System.IO.Path.GetExtension(b.DuongDanAnh) == ".jpg" ||
                           System.IO.Path.GetExtension(b.DuongDanAnh) == ".png" ||
                           System.IO.Path.GetExtension(b.DuongDanAnh) == ".jpeg" ||
                           System.IO.Path.GetExtension(b.DuongDanAnh) == ".tiff" ||
                           System.IO.Path.GetExtension(b.DuongDanAnh) == ".webp" ||
                           System.IO.Path.GetExtension(b.DuongDanAnh) == ".gif")
                            {
                                <img src="~/image/@b.DuongDanAnh" height="150">
                            }
                            else
                            {
                                <span>Ảnh lỗi rồi =)))</span>
                            }
                        }
                    </tb>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SanPham.TenSanPham)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TrangThai)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Is_detele)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Mau.TenMau)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Size.CoSize)
                </td>
                
                <td>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit","QuanLYH", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details","QuanLYH", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete","QuanLYH", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>