@model CTN4_Serv.ViewModel.SanPhamView

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
    <a asp-action="Index">Back to List</a>
</div>
<br />
<div class="centered-container">
    <div class="blurred-border">
        <div class="row">
            <div class="col-md-12">
                <h1>Chỉnh sửa</h1>
                <h4>Sản phẩm</h4>


                <form asp-action="Edit" enctype="multipart/form-data" onsubmit="return confirmSubmit();">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>



                    <input type="hidden" asp-for="Id" class="form-control" />
                    <input type="hidden" name="anhdaidiencheck" value="@Model.AnhDaiDien" class="form-control" />

                    <div class="form-group">
                        <label asp-for="MaSp" class="control-label">Mã sản phẩm</label>
                        <div class="corner-text" onclick="generateRandomMaSp()"><a href="#" style="color: black;">Tạo mã sản phẩm</a></div>
                        <input asp-for="MaSp" class="form-control" id="MaSpInput" readonly />
                        <span asp-validation-for="MaSp" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TenSanPham" class="control-label">Tên sản phẩm</label>
                        <input asp-for="TenSanPham"
                               class="form-control"
                               required
                               maxlength="50"
                               oninput="validateTenSanPham(this)" />
                        <span asp-validation-for="TenSanPham" class="text-danger" id="tenSanPhamError"></span>
                    </div>
                    <div class="form-group">
                        <div style="display: flex; align-items: center;">
                            <label asp-for="IdChatLieu" style="margin-right: auto;">Chất liệu</label>
                            <a style="color: black;" asp-controller="ChatLieu" asp-action="Index">Quản lý Chất liệu</a>
                        </div>
                        <select asp-for="IdChatLieu" class="form-control">
                            <option value="">-- Select Chat Lieu --</option>
                            @foreach (var a in Model.ChalieuItems)
                            {
                                <option value="@a.Value">@a.Text</option>
                            }
                        </select>
                        <span asp-validation-for="IdChatLieu" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div style="display: flex; align-items: center;">
                            <label asp-for="IdNSX" style="margin-right: auto;">Nsx</label>
                            <a style="color: black;" asp-controller="NSX" asp-action="Index">Quản lý Nsx</a>
                        </div>

                        <select asp-for="IdNSX" class="form-control">
                            <option value="">-- Select NSX --</option>
                            @foreach (var a in Model.NsxItems)
                            {
                                <option value="@a.Value">@a.Text</option>
                            }
                        </select>
                        <span asp-validation-for="IdNSX" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="MoTa" class="control-label">Mô tả</label>
                        <input asp-for="MoTa" class="form-control" />
                        <span asp-validation-for="MoTa" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GiaNhap" class="control-label">Giá nhập</label>
                        <input asp-for="GiaNhap" class="form-control" type="number" min="0" max="999999999999" oninput="validateGiaNhap(this)" />
                        <span asp-validation-for="GiaNhap" class="text-danger" id="giaNhapError"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GiaBan" class="control-label">Giá bán</label>
                        <input asp-for="GiaBan" class="form-control" type="number" min="0" max="999999999999" oninput="validateGiaBan(this)" />
                        <span asp-validation-for="GiaBan" class="text-danger" id="giaBanError"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GiaNiemYet" class="control-label">Giá niêm yết</label>
                        <input asp-for="GiaNiemYet" class="form-control" type="number" min="0" max="999999999999" oninput="validateNiemYet(this)" />
                        <span asp-validation-for="GiaNiemYet" class="text-danger" id="giaNiemYetError"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GhiChu" class="control-label">Ghi chú</label>
                        <input asp-for="GhiChu" class="form-control" />
                        <span asp-validation-for="GhiChu" class="text-danger"></span>
                    </div>
                    <div class=" form-check" >
                        <label class="form-check-label " style="font-weight: bold;">
                            <input class="form-check-input " asp-for="TrangThai"  /> trạng thái
                            
                        </label>
                    </div>
                    <div class=" form-check">
                        <label class="form-check-label" style="font-weight: bold;">
                            <input class="form-check-input" asp-for="Is_detele"  /> Tình trạng
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label>Chọn ảnh từ Máy tính:</label>
                            <label for="file-upload" class="custom-file-upload">
                                Chọn File
                            </label>
                            <input id="file-upload" type="file" name="imageFile" onchange="displayFileName()" hidden />
                            <span id="file-name-display"></span>
                            @if (TempData["Notification"] != null)
                            {
                                <a style="color:red">@TempData["Notification"]</a>
                            } @if (TempData["Loi"] != null)
                            {
                                <a style="color:red">@TempData["Loi"]</a>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Lưu" class="btn btn-primary" />
                    </div>
                    <div>
                        
                        <a asp-action="Index" style="color: black;">Quay về</a>
                    </div>
                </form>
            </div>
        </div>

        <script>


            function generateRandomMaSp() {
                // Chuỗi các chữ cái
                var letters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
                var letters = 'abcdefghijklmnopqrstuvwxyz';

                // Sinh một chữ cái ngẫu nhiên
                var randomLetter = letters.charAt(Math.floor(Math.random() * letters.length));

                // Sinh một số ngẫu nhiên
                var randomNumber = Math.floor(Math.random() * 10000);

                // Sinh một số ngẫu nhiên để quyết định thứ tự chữ cái và số
                var order = Math.random() < 0.5 ? 'SP' + randomLetter + randomNumber : 'SP' + randomNumber + randomLetter;

                // Set giá trị cho ô nhập liệu MaSpInput
                document.getElementById('MaSpInput').value = order;

                // Hiển thị giá trị mã trong phần tử có ID là "randomMaSpDisplay"
                document.getElementById('randomMaSpDisplay').innerText = 'Random Mã SP: ' + order;
            }

            ///////////
            function validateTenSanPham(input) {
                var value = input.value.trim();
                var errorElement = document.getElementById('tenSanPhamError');

                // Kiểm tra không được để trống
                if (value === '') {
                    errorElement.innerText = 'Không được để trống';
                    return;
                }

                // Kiểm tra độ dài ít nhất 3 và tối đa 50 ký tự
                if (value.length > 50) {
                    errorElement.innerText = 'Không quá 50 ký tự';
                    return;
                }

                // Kiểm tra chỉ chấp nhận chữ cái tiếng Việt

                if (/[^a-zA-Zàáạảãăắằẵặẳâầấậẩẫóòọõỏôổồốộơờớợởỡéèẻẹẽêềếệểễíìịỉĩúùụủũưừứựửữýỳỷỵỹ]+$/.test(value)) {
                    errorElement.innerText = 'Không chứa ký tự đặc biệt hoặc chứa số';
                    return;
                }
                // Nếu tất cả các kiểm tra đều qua, xóa thông báo lỗi
                errorElement.innerText = '';
            }
            ////
            function validateGiaNhap(input) {
                var value = input.value.trim();
                var errorElement = document.getElementById('giaNhapError');

                // Kiểm tra không được để trống
                if (value === '') {
                    errorElement.innerText = 'Không được để trống';
                    return;
                }

                // Kiểm tra có phải là số không âm hay không
                if (!/^\d+$/.test(value) || parseInt(value, 10) < 0) {
                    errorElement.innerText = 'Chỉ được nhập số không âm';
                    return;
                }

                // Kiểm tra không quá 12 chữ số
                if (value.length > 12) {
                    errorElement.innerText = 'Không được nhập quá 12 chữ số';
                    return;
                }

                // Nếu tất cả các kiểm tra đều qua, xóa thông báo lỗi
                errorElement.innerText = '';
            } function validateGiaBan(input) {
                var value = input.value.trim();
                var errorElement = document.getElementById('giaBanError');

                // Kiểm tra không được để trống
                if (value === '') {
                    errorElement.innerText = 'Không được để trống';
                    return;
                }

                // Kiểm tra có phải là số không âm hay không
                if (!/^\d+$/.test(value) || parseInt(value, 10) < 0) {
                    errorElement.innerText = 'Chỉ được nhập số không âm';
                    return;
                }

                // Kiểm tra không quá 12 chữ số
                if (value.length > 12) {
                    errorElement.innerText = 'Không được nhập quá 12 chữ số';
                    return;
                }

                // Nếu tất cả các kiểm tra đều qua, xóa thông báo lỗi
                errorElement.innerText = '';
            } function validateNiemYet(input) {
                var value = input.value.trim();
                var errorElement = document.getElementById('giaNiemYetError');

                // Kiểm tra không được để trống
                if (value === '') {
                    errorElement.innerText = 'Không được để trống';
                    return;
                }

                // Kiểm tra có phải là số không âm hay không
                if (!/^\d+$/.test(value) || parseInt(value, 10) < 0) {
                    errorElement.innerText = 'Chỉ được nhập số không âm';
                    return;
                }

                // Kiểm tra không quá 12 chữ số
                if (value.length > 12) {
                    errorElement.innerText = 'Không được nhập quá 12 chữ số';
                    return;
                }

                // Nếu tất cả các kiểm tra đều qua, xóa thông báo lỗi
                errorElement.innerText = '';
            }
            /////
            function confirmSubmit() {

                // Hiển thị hộp thoại xác nhận
                var result = confirm("Bạn có chắc muốn chỉnh sửa sản phẩm này không?");
                return result;
            }
        </script>
        <style>
            .form-control[readonly] {
                background-color: #f8f9fa; /* Màu nền xám nhạt */
                cursor: not-allowed; /* Hình con trỏ không cho biết không thể nhập */
            }
        </style>
        @* /////////giao dien*@
        <script>
            function displayFileName() {
                var fileInput = document.getElementById('file-upload');
                var fileNameDisplay = document.getElementById('file-name-display');

                if (fileInput.files.length > 0) {
                    fileNameDisplay.textContent = 'File đã chọn: ' + fileInput.files[0].name;
                } else {
                    fileNameDisplay.textContent = '';
                }
            }
        </script>
        <style>
            body {
                background-color: #f8f9fa;
                margin: 0;
                padding: 0;
            }

            .header {
                background-color: #343a40;
                color: white;
                padding: 10px;
            }

            .centered-container {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 50px;
            }

            .blurred-border {
                width: 100%;
                max-width: 800px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                padding: 20px;
                background: rgba(255, 255, 255, 0.8);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            .form-group {
                margin-bottom: 20px;
            }

                .form-group label {
                    display: block;
                    margin-bottom: 5px;
                    font-weight: bold;
                }

                .form-group input,
                .form-group select {
                    width: 100%;
                    padding: 8px;
                    box-sizing: border-box;
                }

                    .form-group input[type="submit"] {
                        width: auto;
                    }

            .custom-file-upload {
                border: 1px solid #ccc;
                display: inline-block;
                padding: 6px 12px;
                cursor: pointer;
            }

            #file-name-display {
                margin-top: 10px;
                font-style: italic;
            }

            a {
                color: black;
                text-decoration: none;
            }

                a:hover {
                    text-decoration: underline;
                }
        </style>
