@model IEnumerable<CTN4_Data.Models.DB_CTN4.DanhMuc>

@{
    ViewData["Title"] = "Index";
}


<div class="row ">
    <div class="card">
        <div class="card-body">
            <br></br>

            <h1>Index</h1>

            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TenDanhMuc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Is_detele)
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenDanhMuc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Is_detele)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id=item.Id})
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
