@using Microsoft.AspNetCore.Mvc.Rendering
@model CTN4_Data.Models.DB_CTN4.KhachHang;
@{
    ViewData["Title"] = "Thông Tin Khách Hàng";
}

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Thông Tin Khách Hàng</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
                    <a href="single-product.html">Thông Tin Khách Hàng</a>
                </nav>
            </div>
        </div>
    </div>
</section>

<div class="container mt-5">
    <dl class="row">
        <dt class="col-sm-2">Họ:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Ho)</dd>

        <dt class="col-sm-2">Tên:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Ten)</dd>

        <dt class="col-sm-2">Ảnh Đại Diện:</dt>
        <dd class="col-sm-10">
            @if (System.IO.Path.GetExtension(Model.AnhDaiDien) == ".jpg" ||
            System.IO.Path.GetExtension(Model.AnhDaiDien) == ".png" ||
            System.IO.Path.GetExtension(Model.AnhDaiDien) == ".jpeg" ||
            System.IO.Path.GetExtension(Model.AnhDaiDien) == ".tiff" ||
            System.IO.Path.GetExtension(Model.AnhDaiDien) == ".webp" ||
            System.IO.Path.GetExtension(Model.AnhDaiDien) == ".gif")
            {
                <img src="~/anhdd/@Model.AnhDaiDien" height="100">
            }
            else
            {
                <a>ảnh lỗi</a>
            }
        </dd>


        <dt class="col-sm-2">Giới Tính:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.GioiTinh)</dd>

        <dt class="col-sm-2">Email:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Email)</dd>

        <dt class="col-sm-2">Số Điện Thoại:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.SDT)</dd>

        <dt class="col-sm-2">Địa Chỉ:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.DiaChi)</dd>
        <dd class="col-sm-10">
        </dd>
        <form asp-action="AddAnhDaiDien" method="post" enctype="multipart/form-data">
            <div class="m-b-15">
                <input type="hidden" name="IdKh" value="@Model.Id" />
                <input name="imageFile" type="file" />
                <button id="btnUpload" class="btn btn-primary">
                    <i class="anticon anticon-save"></i>
                </button>
                <button type="submit">Thêm ảnh đại diện</button>
            </div>
        </form>
    </dl>


    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-primary" asp-action="UpdateKH">Cập Nhật</a>
            <a class="btn btn-secondary" asp-action="Themdiachi">Thêm Địa Chỉ</a>
            <a class="btn btn-secondary" asp-action="Index">Quay Lại</a>
        </div>
    </div>
</div>
<script src="~/js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.~/js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="~/js/vendor/bootstrap.min.js"></script>
<script src="~/js/jquery.ajaxchimp.min.js"></script>
<script src="~/js/jquery.nice-select.min.js"></script>
<script src="~/js/jquery.sticky.js"></script>
<script src="~/js/nouislider.min.js"></script>
<script src="~/js/countdown.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="~/js/gmaps.min.js"></script>
<script src="~/js/main.js"></script>