@model CTN4_Serv.ViewModel.SanPhamYeuThichView

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<section class="tracking_box_area section_gap">
    <div class="container">
        <h1>Danh sách yêu thích</h1>

        <section class="lattest-product-area pb-40 category-list">
            <div class="row" id="Fillter-sanPhams">
                @foreach (var sp in Model.chiTietSanPhamYeuThiches)
                {
                    <!-- single product -->
                    {
                        <div class="col-lg-4 col-md-6">
                            <div class="single-product">
                                @if (System.IO.Path.GetExtension(sp.SanPham.AnhDaiDien) == ".jpg" ||
                               System.IO.Path.GetExtension(sp.SanPham.AnhDaiDien) == ".png" ||
                               System.IO.Path.GetExtension(sp.SanPham.AnhDaiDien) == ".jpeg" ||
                               System.IO.Path.GetExtension(sp.SanPham.AnhDaiDien) == ".tiff" ||
                               System.IO.Path.GetExtension(sp.SanPham.AnhDaiDien) == ".webp" ||
                               System.IO.Path.GetExtension(sp.SanPham.AnhDaiDien) == ".gif")
                                {
                                    <a href="@Url.Action("HienThiSanPhamChiTiet", "HienThiSanPham", new { id = sp.IdSanPham })">
                                    <img src="~/image/@sp.SanPham.AnhDaiDien">
                                    </a>
                                }
                                else
                                {
                                    <span>Ảnh lỗi rồi =)))</span>
                                }
                                <div class="product-details">
                                    <h6>
                                        <a style="color: (internal value);"> @Html.ActionLink(sp.SanPham.TenSanPham, "HienThiSanPhamChiTiet","HienThiSanPham", new { id = sp.IdSanPham }) </a>
                                    </h6>
                                    <div class="price">
                                        @if (sp.SanPham.GiaNiemYet == sp.SanPham.GiaBan)
                                        {
                                            <h6>@FormatCurrency(sp.SanPham.GiaNiemYet)</h6>
                                        }
                                        else
                                        {
                                            <h6>@FormatCurrency(sp.SanPham.GiaNiemYet)</h6>
                                            <h6 class="l-through">@FormatCurrency(sp.SanPham.GiaBan)</h6>
                                        }
                                    </div>
                                    <form asp-controller="SanPhamYeuThich" asp-action="XoaKhoiYeuTich" method="post">
                                        <input type="hidden" name="idSP" value="@sp.IdSanPham" />
                                        <input type="hidden" name="IdKhachHang" value="@Model.KhachHang.Id" />

                                        <button type="submit" class="btn btn-info">Bỏ yêu thích</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </section>

    </div>
</section>
<script>
    @functions {
        public string FormatCurrency(float price)
        {
            string formattedPrice = string.Format("{0:N0}", price); // Định dạng số và thêm dấu phân cách ngàn
            return formattedPrice + "₫"; // Thêm ký hiệu đồng (₫) vào cuối
        }
    };


</script>
<script src="~/js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.~/js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="~/js/vendor/bootstrap.min.js"></script>
<script src="~/js/jquery.ajaxchimp.min.js"></script>
<script src="~/js/jquery.nice-select.min.js"></script>
<script src="~/js/jquery.sticky.js"></script>
<script src="~/js/nouislider.min.js"></script>
<script src="~/js/countdown.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="~/js/gmaps.min.js"></script>
<script src="~/js/main.js"></script>