@model CTN4_Data.Models.DB_CTN4.SanPham

@{
    ViewData["Title"] = "Details";
}
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Normal buttons</h4>
                <br></br>
                <p class="card-description"><code></code> Chi tiết sản phẩm</p>
                <div class="template-demo">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Id)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Id)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.TenSanPham)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.TenSanPham)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.AnhDaiDiem)
                        </dt>
                        <dd class="col-sm-8">
                            @if (System.IO.Path.GetExtension(Model.AnhDaiDiem) == ".jpg" ||
                                 System.IO.Path.GetExtension(Model.AnhDaiDiem) == ".png" ||
                                 System.IO.Path.GetExtension(Model.AnhDaiDiem) == ".jpeg" ||
                                 System.IO.Path.GetExtension(Model.AnhDaiDiem) == ".tiff" ||
                                 System.IO.Path.GetExtension(Model.AnhDaiDiem) == ".webp" ||
                                 System.IO.Path.GetExtension(Model.AnhDaiDiem) == ".gif")
                            {
                                <img src="~/image/@Model.AnhDaiDiem" height="100">
                            }
                            else
                            {
                                <span>Ảnh lỗi rồi =)))</span>
                            }
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.TrangThai)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.TrangThai)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Is_detele)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Is_detele)
                        </dd>
                    </dl>
                    <div>
                        <h4>_________________________________________________</h4>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                        <a asp-action="Index">Back to List</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



