@model CTN4_View.Areas.Admin.Controllers.QuanLySpbc.SanphamBcView
@{
    ViewData["Title"] = "AllSpindex";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<body>
 
    <div class="container-fluid">
        <h3 class="title-page"><strong>Danh sách bán chạy</strong></h3>
        @* <div class="card w-100">

        <div class="card-body p-4">

        <h5 class="card-title fw-semibold mb-4">Các Đơn Hàng</h5>
        <div class="d-flex">
        <div class="dropdown me-1">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,20">
        Lọc hóa đơn
        </button>
        <ul class="dropdown-menu">
        <li>
        <a class="dropdown-item" href="@Url.Action("Index")">Tất cả đơn hàng</a>
        </li>
        <li>
        <a class="dropdown-item" href="@Url.Action("XemChuaXacNhan")">chưa xác nhận </a>
        </li>

        <li>
        <a class="dropdown-item" href="@Url.Action("XemDaXacNhan")">đã xác nhận</a>
        </li>

        <li>
        <a class="dropdown-item" href="@Url.Action("XemDaGiao")">Đơn đã giao</a>
        </li>
        <li>
        <a class="dropdown-item" href="@Url.Action("XemChuaGiao")">Đơn chưa giao</a>
        </li>
        <li>
        <a class="dropdown-item" href="@Url.Action("XemChuThanhToan")">Đơn chưa thanh toán</a>
        </li>
        <li>
        <a class="dropdown-item" href="@Url.Action("XemDaThanhToan")">Đơn đã thanh toán</a>
        </li>
        <li>
        <a class="dropdown-item" href="@Url.Action("XemDaGiaoHoanTat")">Đơn giao thành công</a>
        </li>
        <li>
        <a class="dropdown-item" href="@Url.Action("XemDaGiaoThatBai")">Đơn giao thất bại</a>
        </li>
        <li>
        <a class="dropdown-item" href="@Url.Action("XemDaBiHuy")">Đơn đã bị hủy</a>
        </li>
        </ul>
        </div>
        <div class="dropdown me-1">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,20">
        Sắp xếp hóa đơn
        </button>
        <ul class="dropdown-menu">
        <li>
        <a class="dropdown-item" href="@Url.Action("XapXepMoiNhat")">Đơn hàng mới nhất</a>
        </li>

        <li>
        <a class="dropdown-item" href="@Url.Action("XapXepCuNhat")">Đơn hàng cũ nhất</a>
        </li>
        <li>
        <a class="dropdown-item" href="@Url.Action("XapXepTienCaoNhat")">Tổng tiền cao nhất</a>
        </li>

        <li>
        <a class="dropdown-item" href="@Url.Action("XapXepTienThapNhat")">Tổng tiền Thấp nhất</a>
        </li>
        </ul>
        </div>
        <div class="dropdown me-1">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,20">
        <i class="fa fa-bars"></i>
        </button>
        <ul class="dropdown-menu">
        <li>
        <a class="dropdown-item" href="@Url.Action("XapXepMoiNhat")">Đơn hàng mới nhất</a>
        </li>

        <li>
        <a class="dropdown-item" href="@Url.Action("XapXepCuNhat")">Đơn hàng cũ nhất</a>
        </li>
        <li>
        <a class="dropdown-item" href="@Url.Action("XapXepTienCaoNhat")">Tổng tiền cao nhất</a>
        </li>

        <li>
        <a class="dropdown-item" href="@Url.Action("XapXepTienThapNhat")">Tổng tiền Thấp nhất</a>
        </li>
        </ul>
        </div>
        </div>




        <div>
        <div class="row">
        <div class="col-7">
        <form asp-action="TimKiem">
        <div>
        Tìm kiếm:
        <input name="ten" value="" onchange="this.form.submit()" type="text" class="form-control">
        </input>
        </div>
        </form>
        </div>
        <div class="col-5">
        <form asp-action="TimKiemNgay">
        <div>
        Tìm kiếm theo ngày tạo hóa đơn:
        <div>
        Từ
        <input name="NgayDau" value="" type="date">
        </input>
        Đến
        <input name="NgayCuoi" value="" type="date">
        </input>
        <button type="submit" class="btn btn-primary">Tìm</button>
        </div>
        </div>
        </form>
        </div>
        </div>

        </div>

        </div>
        </div>*@
        <div class="card w-100">
            <div class="card-body p-4">
                @if (TempData["ErrorMessage3"] != null)
                {
                    <div class="alert alert-danger">@TempData["ErrorMessage3"]</div>
                }
                else
                {
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                    }
                    else if (TempData["ErrorMessage1"] != null) // Check for ErrorMessage1
                    {
                        <div class="alert alert-success">@TempData["ErrorMessage1"]</div>
                    }
                }

                <div class="table-responsive">

                    <table class="table text-nowrap mb-0 align-middle">
                        <thead class="text-dark fs-4">
                            <tr>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Ảnh đại diện</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Tên sản phẩm</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Giá niêm yết</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Số lượt mua</h6>
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var a in Model.SanPhamHungs)
                            {
                                <tr>

                                    <td class="border-bottom-0">
                                        @if (System.IO.Path.GetExtension(a.AnhDaiDien) == ".jpg" ||
                                       System.IO.Path.GetExtension(a.AnhDaiDien) == ".png" ||
                                       System.IO.Path.GetExtension(a.AnhDaiDien) == ".jpeg" ||
                                       System.IO.Path.GetExtension(a.AnhDaiDien) == ".tiff" ||
                                       System.IO.Path.GetExtension(a.AnhDaiDien) == ".webp" ||
                                       System.IO.Path.GetExtension(a.AnhDaiDien) == ".gif")
                                        {
                                           
                                            <img src="~/image/@a.AnhDaiDien" height="100" />

                                        }
                                        else
                                        {
                                            <span>Ảnh lỗi rồi =)))</span>
                                        }

                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">@a.TenSp</p>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">@FormatCurrency(a.GiaSanPham)</p>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">@a.soluotmua</p>
                                    </td>
                                    <td class="border-bottom-0">
                                        <div>
                                            <b><span class="btn btn-primary">@Html.ActionLink("Thêm sản phẩm bán chạy", "themsanpham", new { tensp = a.TenSp }, new { style = "color: white;" })</span></b>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="~/js/a.js"></script>




<style>
    .custom-edit-link {
        color: whitesmoke; /* Màu đỏ */
        /* Các thuộc tính CSS khác nếu cần */
    }

    .link-class {
        /* Thêm các quy tắc CSS tùy chỉnh của bạn ở đây */
        color: #ffffff; /* Màu chữ trắng */
        text-decoration: none; /* Loại bỏ gạch chân dưới liên kết */
        /* và nhiều thuộc tính CSS khác... */
    }

    input[type="date"] {
        border-radius: 7px;
        color: #5a6a85;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 14px;
        grid-area: auto;
        line-height: 21px;
        padding: 8px 16px;
        /* Tùy chỉnh màu nền */
        background-color: #ffffff;
    }

        /* Ẩn mũi tên tăng/giảm và nút xóa mặc định */
        input[type="date"]::-webkit-inner-spin-button,
        input[type="date"]::-webkit-outer-spin-button,
        input[type="date"]::-webkit-clear-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Tùy chỉnh màu nền và màu chữ của mũi tên mở lịch */
        input[type="date"]::-webkit-calendar-picker-indicator {
            color: #ffffff;
        }

    button {
        border: none;
    }
</style>
<script>
    @functions {
        public string FormatCurrency(float? price)
        {
            string formattedPrice = string.Format("{0:N0}", price); // Định dạng số và thêm dấu phân cách ngàn
            return formattedPrice + "VND"; // Thêm ký hiệu đồng (₫) vào cuối
        }
    }
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

