@model CTN4_Serv.ViewModel.SanPhamChiTietView
@{
    ViewData["Title"] = "ThemSanPhamChiTiet";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>ThemSanPhamChiTiet</h1>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<div class="row">
    <div class="col-md-9">
        <br></br>
        <div>
            <h1>Sản Phẩm</h1>
            <hr />
            @* <dl class="row">
            <dt class="col-sm-2">
            <h3>Tên sản phẩm</h3>
            </dt>
            <dd class="col-sm-10">
            <h3>@Model.</h3>
            </dd>

            </dl>*@
        </div>

    </div>
</div>
<table class="table">
    <form method="post" asp-action="ThemSanPham" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="SoLuong" class="control-label"></label>
            <input asp-for="SoLuong" class="form-control" />
            <span asp-validation-for="SoLuong" class="text-danger"></span>
        </div>

        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="TrangThai" /> @Html.DisplayNameFor(model => model.TrangThai)
            </label>
        </div>


        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Is_detele" /> @Html.DisplayNameFor(model => model.Is_detele)
            </label>
        </div>

        <div class="form-group">
            <label asp-for="IdMau">mau</label>
            <select asp-for="IdMau" class="form-control">
                <option value="">-- Select Mau --</option>
                @foreach (var a in Model.MauItems)
                {
                    <option value="@a.Value">@a.Text</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="IdSize">size</label>
            <select asp-for="IdSize" class="form-control">
                <option value="">-- Select size --</option>
                @foreach (var a in Model.SizeItems)
                {
                    <option value="@a.Value">@a.Text</option>
                }
            </select>
        </div>
        @if (TempData["sussces"] != null)
        {
            <div class="alert alert-info">@TempData["ErrorMessage"]</div>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
        }
        <br />
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary"  />
            <input type="hidden" name="IdSp" value="@Model.IdSp" />
        </div>
    </form>

</table>
<div>
    <a>@Html.ActionLink("Quay lại", "details","SanPham", new {id = Model.IdSp }, new { style="text-decoration: none;color: black;" }) </a>

</div>
