@model CTN4_Data.Models.DB_CTN4.KhuyenMai

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var lstSp = ViewBag.lstSp as List<CTN4_Data.Models.DB_CTN4.SanPham>;
}


<div>
    <a asp-action="Index">Back to List</a>
</div>
<div class="row">
    <div class="col-md-9">
        <br></br>
        <br></br>

        <h1>Edit</h1>

        <h4>KhuyenMai</h4>
        <hr />
        <div class="row">
            <div class="col-md-9">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                        <label asp-for="MaKhuyenMai" class="control-label"></label>
                        <input asp-for="MaKhuyenMai" class="form-control" />
                        <span asp-validation-for="MaKhuyenMai" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhanTramGiamGia" class="control-label"></label>
                        <input id="PhanTramGiamGia" asp-for="PhanTramGiamGia" class="form-control" />
                        <span asp-validation-for="PhanTramGiamGia" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NgayBatDau" class="control-label"></label>
                        <input asp-for="NgayBatDau" class="form-control" />
                        <span asp-validation-for="NgayBatDau" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NgayKetThuc" class="control-label"></label>
                        <input asp-for="NgayKetThuc" class="form-control" />
                        <span asp-validation-for="NgayKetThuc" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SoTienGiam" class="control-label"></label>
                        <input id="SoTienGiam" asp-for="SoTienGiam" class="form-control" />
                        <span asp-validation-for="SoTienGiam" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="TrangThai" /> @Html.DisplayNameFor(model => model.TrangThai)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Is_Detele" /> @Html.DisplayNameFor(model => model.Is_Detele)
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                    <div>
                        <h4>_________________________________________________</h4>
                        <a asp-action="Index">Back to List</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<button id="updateGiaButton" class="btn btn-primary">Cập nhật Giá Sản Phẩm</button>
<button id="huyApDungButton" class="btn btn-primary">Hủy áp dụng khuyến mại</button>

<label for="lstSp">Filter by san pham:</label>
    <select name="lstSp" id="lstSp">
        <option value="">All</option>
        <option value="MaSp">Ma sp</option>
        <option value="TenSanPham">Ten sp</option>
        <option value="TenChatLieu">Ten Chat Lieu</option>
        <option value="TenNSX">Ten NSX</option>
        <option value="MoTa">Mo Ta</option>
        <option value="GiaNhap">Gia Nhap</option>
        <option value="GiaBan">Gia Ban</option>
        <option value="GiaNiemYet">Gia Niem Yet</option>
        <option value="GhiChu">Ghi Chu</option>
        <!-- Thêm các tùy chọn danh mục khác nếu cần -->
    </select>
    <input type="submit" value="Filter" />

<table class="table">
    <thead>
        <tr>
            <th>
                <p>Ma Sp</p>
            </th>
            <th>
                <p>TenSanPham</p>
            </th>
            <th>
                ChatLieu
            </th>
            <th>
                Nsx
            </th>
            <th>
                Mô tả

            </th>
            <th>
                Giá nhập

            </th>
            <th>
                Giá bán

            </th>
            <th>
                Giá niêm yết

            </th>
            <th>
                Ghi chú

            </th>
            <th>
                Trạng Thái

            </th>
            <th>
                Ảnh

            </th>
            <th>
                CheckBox
            </th>
        </tr>
    </thead>
    <tbody>
        @if (lstSp != null && lstSp.Count() > 0)
        {
            @foreach (var item in lstSp)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.MaSp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenSanPham)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChatLieu.TenChatLieu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NSX.TenNSX)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.MoTa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiaNhap)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiaBan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiaNiemYet)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GhiChu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrangThai)
                    </td>
                    <td>
                        <tb>
                            @if (System.IO.Path.GetExtension(item.AnhDaiDien) == ".jpg" ||
                           System.IO.Path.GetExtension(item.AnhDaiDien) == ".png" ||
                           System.IO.Path.GetExtension(item.AnhDaiDien) == ".jpeg" ||
                           System.IO.Path.GetExtension(item.AnhDaiDien) == ".tiff" ||
                           System.IO.Path.GetExtension(item.AnhDaiDien) == ".webp" ||
                           System.IO.Path.GetExtension(item.AnhDaiDien) == ".gif")
                            {
                                <img src="~/image/@item.AnhDaiDien" height="300">
                            }
                            else
                            {
                                <a>ảnh lỗi</a>
                            }
                        </tb>
                    </td>
                    <td>
                        <input type ="checkbox" class="id-sp-button" data-id-sp="@item.Id">
                    </td>

                </tr>
            }
        }

    </tbody>
</table>
<script>
    var selectedMaSps = [];

    // Lấy tất cả các nút cột MaSp
    var maSpButtons = document.querySelectorAll('.id-sp-button');

    maSpButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            var maSp = button.getAttribute('data-id-sp');
            if (selectedMaSps.includes(maSp)) {
                // Nếu mã đã được chọn, bỏ nó ra khỏi mảng
                selectedMaSps = selectedMaSps.filter(function (item) {
                    return item !== maSp;
                });
            } else {
                // Nếu mã chưa được chọn, thêm nó vào mảng
                selectedMaSps.push(maSp);
            }

            // Hiển thị mã sản phẩm đã chọn trong console.log
            console.log('Mã sản phẩm đã chọn:', selectedMaSps);
        });
    });


    // Lấy tham chiếu đến nút theo ID
    var updateGiaButton = document.getElementById("updateGiaButton");
    var huyApDungButton = document.getElementById("huyApDungButton");

    // Gắn sự kiện click vào nút
    updateGiaButton.addEventListener("click", function () {
        updateGiaSanPham();
    });
    huyApDungButton.addEventListener("click", function () {
        huyApDungKhuyenMai();
    });

    function updateGiaSanPham() {
        var giamTheoTien = parseFloat($("#SoTienGiam").val());
        var giamTheoPh = parseFloat($("#PhanTramGiamGia").val());
        // Lấy giá trị của các trường dữ liệu từ form hoặc từ các phần tử HTML khác
        var ids = selectedMaSps // Mảng chứa các giá trị của Ids      

        // TODO: Lấy giá trị của các trường dữ liệu từ form hoặc từ các phần tử HTML khác
        // Gán giá trị cho biến ids, giamTheoTien, giamTheoPh

        // Tạo đối tượng dữ liệu để gửi lên server
        var data = {
            Ids: ids,
            giamTheoTien: giamTheoTien,
            giamTheoPh: giamTheoPh
        };

        // Gọi AJAX
        $.ajax({
            url: '/admin/KhuyenMai/UpdateGiaSanPham', // Thay thế ControllerName bằng tên thật của controller
            type: 'POST',
            data: data,
            success: function (response) {
                // Xử lý kết quả trả về từ server (nếu cần)
                console.log(response);
                // TODO: Xử lý kết quả trả về từ server
            },
            error: function (xhr, status, error) {
                // Xử lý lỗi (nếu có)
                console.log(error);
                // TODO: Xử lý lỗi
            }
        });
    }

    function huyApDungKhuyenMai() {
        // Lấy giá trị của các trường dữ liệu từ form hoặc từ các phần tử HTML khác
        var ids = selectedMaSps // Mảng chứa các giá trị của Ids      

        // TODO: Lấy giá trị của các trường dữ liệu từ form hoặc từ các phần tử HTML khác
        // Gán giá trị cho biến ids, giamTheoTien, giamTheoPh

        // Tạo đối tượng dữ liệu để gửi lên server
        var data = {
            Ids: ids,
        };

        // Gọi AJAX
        $.ajax({
            url: '/admin/KhuyenMai/HuyApDungKm', // Thay thế ControllerName bằng tên thật của controller
            type: 'POST',
            data: data,
            success: function (response) {
                // Xử lý kết quả trả về từ server (nếu cần)
                location.reload();
                console.log(response);
                // TODO: Xử lý kết quả trả về từ server
                
            },
            error: function (xhr, status, error) {
                // Xử lý lỗi (nếu có)
                console.error('Update failed.');
                console.log(error);
                // TODO: Xử lý lỗi
            }
        });
    }
</script>
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}