@model CTN4_View.Areas.Admin.Controllers.QuanLyAdd.ViewModelAddDanhMuc

@{
    ViewData["Title"] = "ThemSanPhamDanhMuc";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>ThemSanPhamDanhMuc</h1>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<div class="row">
    <div class="col-md-9">
        <br></br>
        <br></br>



        <div>
            <h1>Sản Phẩm</h1>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    <h3>Tên danh mục</h3>
                </dt>
                <dd class="col-sm-10">
                    <h3>@Model.danhMuc.TenDanhMuc</h3>
                </dd>

            </dl>
        </div>

    </div>
</div>
<div>
    <button class="btn btn-success m-1">@Html.ActionLink("Quay lại", "details","DanhMuc", new {id = Model.danhMuc.Id }, new { style = "color: white;" }) </button>
    
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Ảnh sản phẩm
            </th>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Giá niên yết
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.sanPhams)
        {
            <tr>
                <td>
                    <tb>
                        @if (System.IO.Path.GetExtension(item.AnhDaiDien) == ".jpg" ||
                       System.IO.Path.GetExtension(item.AnhDaiDien) == ".png" ||
                       System.IO.Path.GetExtension(item.AnhDaiDien) == ".jpeg" ||
                       System.IO.Path.GetExtension(item.AnhDaiDien) == ".tiff" ||
                       System.IO.Path.GetExtension(item.AnhDaiDien) == ".webp" ||
                       System.IO.Path.GetExtension(item.AnhDaiDien) == ".gif")
                        {
                            <img src="~/image/@item.AnhDaiDien" height="150">
                        }
                        else
                        {
                            <span>Ảnh lỗi rồi =)))</span>
                        }
                    </tb>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSanPham)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaNiemYet)
                </td>
                <td>
                </td>
                <td>
                    <button class="btn btn-success m-1">
                        @Html.ActionLink("Thêm", "TaoMoiDanhMuc","QuanLyAddDanhMuc", new { idsp = item.Id,iddm = Model.danhMuc.Id }, new { style = "color: white;" })
                    </button>
                </td>




                @*  <td>
            <button class="btn btn-success m-1">
            @Html.ActionLink("Chỉnh sửa", "Edit","QuanLYH", new { id = item.Id }, new { style = "color: white;" })
            </button>
            <button class="btn btn-info m-1">
            @Html.ActionLink("Xem chi tiết", "Details","QuanLYH", new { id = item.Id }, new { style = "color: white;" })
            </button>
            <button class="btn btn-danger m-1">
            @Html.ActionLink("Xóa", "Delete","QuanLYH", new { id = item.Id }, new { style = "color: white;" })
            </button>

            </td>*@
            </tr>
        }
    </tbody>
</table>

