@model CTN4_View.Areas.Admin.Controllers.QuanLyAdd.ViewModelAddDanhMuc

@{
    ViewData["Title"] = "ThemSanPhamDanhMuc";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>ThemSanPhamDanhMuc</h1>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<div class="row">
    <div class="col-md-9">
        <br></br>
        <div>
            <h1>Sản Phẩm</h1>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    <h3>Tên danh mục</h3>
                </dt>
                <dd class="col-sm-10">
                    <h3>@Model.danhMuc.TenDanhMuc</h3>
                </dd>

            </dl>
        </div>

    </div>
</div>
<div>
    <a>@Html.ActionLink("Quay lại", "details","DanhMuc", new {id = Model.danhMuc.Id }, new { style="text-decoration: none;color: black;" }) </a>

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Ảnh sản phẩm
            </th>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Giá niên yết
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.sanPhams)
        {
            <tr>
                <td>
                    <tb>
                        @if (System.IO.Path.GetExtension(item.AnhDaiDien) == ".jpg" ||
                       System.IO.Path.GetExtension(item.AnhDaiDien) == ".png" ||
                       System.IO.Path.GetExtension(item.AnhDaiDien) == ".jpeg" ||
                       System.IO.Path.GetExtension(item.AnhDaiDien) == ".tiff" ||
                       System.IO.Path.GetExtension(item.AnhDaiDien) == ".webp" ||
                       System.IO.Path.GetExtension(item.AnhDaiDien) == ".gif")
                        {
                            <img src="~/image/@item.AnhDaiDien" height="150">
                        }
                        else
                        {
                            <span>Ảnh lỗi rồi =)))</span>
                        }
                    </tb>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSanPham)
                </td>
                <td>
                   
                    @Html.Raw(FormatCurrency(item.GiaNiemYet))
                </td>
                <td>
                </td>
                <td>
                    @Html.ActionLink("Thêm", "TaoMoiDanhMuc", "QuanLyAddDanhMuc", new { idsp = item.Id, iddm = Model.danhMuc.Id }, new { @class = "btn btn-success m-1", style = "color: white;", onclick = "return confirmSubmit();" })

                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a>@Html.ActionLink("Quay lại", "details","DanhMuc", new {id = Model.danhMuc.Id }, new { style="text-decoration: none;color: black;" }) </a>
</div>
<script>
    @functions {
        public string FormatCurrency(float price)
        {
            string formattedPrice = string.Format("{0:N0}", price); // Định dạng số và thêm dấu phân cách ngàn
            return formattedPrice + "VND"; // Thêm ký hiệu đồng (₫) vào cuối
        }
    };
    /////
    function confirmSubmit() {
        

        // Hiển thị hộp thoại xác nhận
        var result = confirm("Bạn có chắc muốn chỉnh sửa sản phẩm này không?");
        return result;
    }
</script>