@model CTN4_View.Areas.Admin.Viewmodel.ThieuxkViewAdmin

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<body>
    <div class="container-fluid">
        <div class="card w-100">

            <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4">Các Đơn Hàng</h5>
                <button>  @Html.ActionLink("Tất cả đơn hàng", "Index")    </button>&nbsp;
                <span> <button> @Html.ActionLink("Đơn hàng chưa xác nhận ", "XemChuaXacNhan")         </button></span>&nbsp;
                <span> <button>   @Html.ActionLink("  Đơn hàng đã xác nhận  ", "XemDaXacNhan")    </button></span>
                <br></br>
                <div style="display: flex;">
                    <form asp-action="TimKiem"><div>Tìm kiếm:<input name="ten" value="" onchange="this.form.submit()" type="text"></input></div></form>
                    &emsp;&emsp;
                    &emsp;&emsp;
                    &emsp;&emsp;
                    &emsp;&emsp;
                    &emsp;&emsp;
                    &emsp;&emsp;
                    &emsp;&emsp;
                    &emsp;&emsp;
                    &emsp;&emsp;
                    &emsp;&emsp;
                    &emsp;&emsp;
                    &emsp;&emsp;
                    &emsp;&emsp;
                    &emsp;&emsp;
                    &emsp;&emsp;
                    <form asp-action="TimKiemNgay"><div>Tìm kiếm theo ngày tạo hóa đơn<div> &emsp;&emsp;&emsp;&emsp;     Từ  <input name="NgayDau" value="" type="date"></input> Đến <input name="NgayCuoi" value="" type="date"></input><button type="submit">Tìm</button></div></div></form>
                   
                </div>
                @if (TempData["TB1"] != null)
                {
                    <div class="alert alert-danger">@TempData["TB1"]</div>
                }


            </div>
        </div>
        <div class="card w-100">
            <div class="card-body p-4">

                <div class="table-responsive">

                    <table class="table text-nowrap mb-0 align-middle">
                        <thead class="text-dark fs-4">
                            <tr>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Mã hóa đơn</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Thời gian đặt đơn</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Tên người nhận hàng</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Thanh toán</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Giao hàng</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Tiền ship</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Tổng tiền</h6>
                                </th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var a in Model.hoaDons)
                            {
                                <tr>
                                    <td class="border-bottom-0">
                                        <div class="d-flex align-items-center gap-2">
                                            <b><span>@Html.ActionLink(a.MaHoaDon, "XemChiTiet", new { id=a.Id })</span></b>
                                        </div>
                                    </td>
                                    <td class="border-bottom-0">
                                        <span class="fw-normal">@a.NgayDat</span>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">@a.TenKhachHang</p>
                                    </td>
                                    <td class="border-bottom-0">
                                        @if (a.TrangThaiThanhToan == true)
                                        {
                                            <h6 class="fw-semibold mb-0" style="color:limegreen">Đã thanh toán</h6>
                                        }
                                        else
                                        {
                                            <h6 class="fw-semibold mb-0" style="color:red">Chưa thanh toán</h6>
                                        }
                                    </td>
                                    @if (a.NgayGiao == null)
                                    {
                                        <th class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0" style="color:red">Chưa Giao Hàng</h6>
                                        </th>
                                    }
                                    else
                                    {
                                        <th class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0" style="color:limegreen">@a.NgayGiao</h6>
                                        </th>
                                    }
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">@FormatCurrency(@a.TienShip)</p>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">@FormatCurrency(@a.TongTien)</p>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>



</body>
<style>
    .custom-edit-link {
        color: whitesmoke; /* Màu đỏ */
        /* Các thuộc tính CSS khác nếu cần */
    }
</style>
<script>
    @functions {
        public string FormatCurrency(float price)
        {
            string formattedPrice = string.Format("{0:N0}", price); // Định dạng số và thêm dấu phân cách ngàn
            return formattedPrice + "VND"; // Thêm ký hiệu đồng (₫) vào cuối
        }
    }
</script>