@model CTN4_View.Areas.Admin.Viewmodel.ThieuxkViewAdmin

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<body>
    <div class="container-fluid">
        <div class="card w-100">
            <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4">Các Đơn Hàng</h5>
                <div class="d-flex">
                    <div class="dropdown me-1">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,20">
                            Lọc hóa đơn
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="@Url.Action("Index")">Tất cả đơn hàng</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("XemDaGiao")">Đơn đã giao</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("XemChuaGiao")">Đơn chưa giao</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("XemChuThanhToan")">Đơn chưa thanh toán</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("XemDaThanhToan")">Đơn đã thanh toán</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("XemDaGiaoHoanTat")">Đơn giao thành công</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("XemDaGiaoThatBai")">Đơn giao thất bại</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("XemDaBiHuy")">Đơn đã bị hủy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown me-1">  <button class="btn btn-secondary "><a class="dropdown-item" href="@Url.Action("XemChuaXacNhan")">Đơn chưa xác nhận </a></button></div>
                    <div class="dropdown me-1">
                        <button class="btn btn-secondary "> <a class="dropdown-item" href="@Url.Action("XemDaXacNhan")">Đơn đã xác nhận</a></button>
                    </div>
                    <div class="dropdown me-1">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,20">
                            Sắp xếp hóa đơn
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="@Url.Action("XapXepMoiNhat")">Đơn hàng mới nhất</a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="@Url.Action("XapXepCuNhat")">Đơn hàng cũ nhất</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("XapXepTienCaoNhat")">Tổng tiền cao nhất</a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="@Url.Action("XapXepTienThapNhat")">Tổng tiền Thấp nhất</a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown me-1">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,20">
                            <i class="fa fa-bars"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <button class="btnXuatEx2">Xuất File Excel</button>
                            <button class="btnXuatEx2">Xác nhận đơn hàng</button>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-5">
                            <form asp-action="TimKiem">
                                <div>
                                    Tìm kiếm:
                                    <input name="ten" value="" onchange="this.form.submit()" type="text" class="form-control">
                                    </input>
                                </div>
                            </form>
                        </div>
                        <div class="col-7">
                            <form asp-action="TimKiemNgay">
                                <div>
                                    Tìm kiếm theo ngày tạo hóa đơn:
                                    <div>
                                        Từ
                                        <input name="NgayDau" value="" type="datetime-local">
                                        </input>
                                        Đến
                                        <input name="NgayCuoi" value="" type="datetime-local">
                                        </input>
                                        <button type="submit" class="btn btn-primary">Tìm</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                @if (TempData["TB1"] != null)
                {
                    <div class="alert alert-danger">@TempData["TB1"]</div>
                }
                <div id="aaa"></div>
                <div id="aaa1"></div>

            </div>
        </div>
        <div class="card w-100">
            <div class="card-body p-4">

                <div class="table-responsive">

                    <table class="table text-nowrap mb-0 align-middle">
                        <thead class="thead-dark">
                            @*<div class="row ">
                            <div class="card">
                            <div class="card-body">
                            <table class="table">
                            <thead class="thead-dark">*@
                            <tr>
                                <th class="border-bottom-0">

                                    <input class="Allcheck" type="checkbox" id="defaultCheck1">
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0" style="color:white">Mã hóa đơn</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0" style="color:white">Thời gian đặt đơn</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0" style="color:white">Tên người nhận hàng</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0" style="color:white">Thanh toán</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0" style="color:white">Giao hàng</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0" style="color:white">Tiền ship</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0" style="color:white">Tổng tiền</h6>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var a in Model.hoaDons)
                            {
                                <tr>
                                    <td class="border-bottom-0">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="@a.Id" id="defaultCheck1">
                                        </div>
                                    </td>
                                    <td class="border-bottom-0">
                                        <div class="d-flex align-items-center gap-2">
                                            <b><span>#@Html.ActionLink(a.MaHoaDon, "XemChiTiet", new { id = a.Id })</span></b>
                                        </div>
                                    </td>
                                    <td class="border-bottom-0">
                                        <span class="fw-normal">@a.NgayDat</span>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">@a.TenKhachHang</p>
                                    </td>
                                    <td class="border-bottom-0">
                                        @if (a.TrangThaiThanhToan == true)
                                        {
                                            <h6 class="fw-semibold mb-0" style="color:limegreen">Đã thanh toán</h6>
                                        }
                                        else
                                        {
                                            <h6 class="fw-semibold mb-0" style="color:red">Chưa thanh toán</h6>
                                        }
                                    </td>
                                    @if (a.NgayGiao == null)
                                    {
                                        <th class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0" style="color:red">Chưa Giao Hàng</h6>
                                        </th>
                                    }
                                    else
                                    {
                                        <th class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0" style="color:limegreen">@a.NgayGiao</h6>
                                        </th>
                                    }
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">@FormatCurrency(@a.TienShip)</p>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">@FormatCurrency(@a.TongTien)</p>
                                    </td>
                                    @*  <td>
                                <button type="button" class="btn btn-custom-primary" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,20">
                                <i class="fa fa-bars"></i>
                                </button>
                                <ul class="dropdown-menu">
                                <li>
                                <button class="btnXuatEx" value="@a.Id" href="#">Xuất File Excel</button>
                                </li>
                                </ul>
                                </td> *@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="~/js/a.js"></script>
<script>
    $(document).ready(function () {
        $(".Allcheck").click(function () {
            if ($(this).prop("checked")) {
                // Nếu ô checkbox được chọn, thì set tất cả các ô checkbox có cùng class là "Allcheck" thành chọn.
                $(".form-check-input").prop("checked", true);
            } else {
                // Nếu ô checkbox không được chọn, thì set tất cả các ô checkbox có cùng class là "Allcheck" thành không chọn.
                $(".form-check-input").prop("checked", false);
            }
        });
    });
</script>







@*<style>
    .btnXuatEx2 {
        background-color: #4CAF50; /* Green background color */
        border: none; /* Remove borders */
        color: white; /* White text color */
        padding: 3px 24px;    /* Add padding */
        text-align: center; /* Center text */
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px; /* Rounded corners */
    }
    .Allcheck {
        font-weight: bold; /* Độ đậm của văn bản */
        color: blue; /* Màu sắc của văn bản */
        width: 20px; /* Chiều rộng của nút */
        height: 20px; /* Chiều cao của nút */
        border: 2px solid black; /* Viền đậm của nút */
    }

        .Allcheck:checked {
            color: green; /* Màu sắc khi nút được chọn */
        }

    .custom-edit-link {
        color: whitesmoke; /* Màu đỏ */
        /* Các thuộc tính CSS khác nếu cần */
    }

    .link-class {
        /* Thêm các quy tắc CSS tùy chỉnh của bạn ở đây */
        color: #ffffff; /* Màu chữ trắng */
        text-decoration: none; /* Loại bỏ gạch chân dưới liên kết */
        /* và nhiều thuộc tính CSS khác... */
    }

    input[type="datetime-local"] {
        border-radius: 7px;
        color: #5a6a85;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 14px;
        grid-area: auto;
        line-height: 21px;
        padding: 8px 16px;
        /* Tùy chỉnh màu nền */
        background-color: #ffffff;
    }

        /* Ẩn mũi tên tăng/giảm và nút xóa mặc định */
        input[type="datetime-local"]::-webkit-inner-spin-button,
        input[type="datetime-local"]::-webkit-outer-spin-button,
        input[type="datetime-local"]::-webkit-clear-button {
            -webkit-appearance: none;
            margin: 0;
        }

    /* Tùy chỉnh màu nền và màu chữ của mũi tên mở lịch */
    input[type="date"]::-webkit-calendar-picker-indicator {
        color: #ffffff;
    }

    button {
        border: none;
    }

    .custom-edit-link {
        color: #ffffff; /* Màu đỏ tùy chọn */
        text-decoration: none; /* Loại bỏ gạch chân liên kết */
    }

        .custom-edit-link:hover {
            color: #ffffff; /* Màu đỏ khi hover (tùy chọn) */
        }

    /* Thiết lập màu nền và màu chữ mặc định */
    .btn-custom-rangen {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        /* Các thuộc tính CSS khác nếu cần */
    }


    .card-body {
        padding: 1.25rem; /* You can adjust the padding as needed */
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Adjust the shadow as needed */
        background-color: white;
    }

    .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Đổ bóng với độ mờ và màu sắc cụ thể */
        padding: 20px; /* Thêm padding nếu cần thiết */
        /* Các thuộc tính CSS khác cho phần tử card */
        background-color: whitesmoke;
    }

    .container-fluid {
        background-color: lightgray; /* Màu nền đen */
    }

    .btn-secondary.dropdown-toggle {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        /* Các thuộc tính CSS khác nếu cần */
    }

    .btn-primary {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        /* Các thuộc tính CSS khác nếu cần */
    }
    .btn-custom-rangen {
        --bs-btn-color: #fff;
        --bs-btn-bg: #ff6347; /* Màu đỏ tùy chọn */
        --bs-btn-border-color: #ff6347; /* Màu đỏ tùy chọn */
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #dc4735; /* Màu đỏ tương ứng với hover */
        --bs-btn-hover-border-color: #c84131; /* Màu đỏ tương ứng với hover */
        --bs-btn-focus-shadow-rgb: #ff6347; /* Màu đỏ tương ứng với focus */
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #c84131; /* Màu đỏ tương ứng với active */
        --bs-btn-active-border-color: #b5362d; /* Màu đỏ tương ứng với active */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Thiết lập bóng */
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #ff6347; /* Màu đỏ tương ứng với disabled */
        --bs-btn-disabled-border-color: #ff6347; /* Màu đỏ tương ứng với disabled */
    }

    .btn-custom-primary {
        --bs-btn-color: #fff;
        --bs-btn-bg: #49BEFF; /* Màu xanh lam tương tự như .btn-primary */
        --bs-btn-border-color: #49BEFF; /* Màu xanh lam tương tự như .btn-primary */
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #4f73d9; /* Màu xanh lam tương tự như .btn-primary */
        --bs-btn-hover-border-color: #4a6ccc; /* Màu xanh lam tương tự như .btn-primary */
        --bs-btn-focus-shadow-rgb: 117,153,255; /* Màu xanh lam tương tự như .btn-primary */
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #4a6ccc; /* Màu xanh lam tương tự như .btn-primary */
        --bs-btn-active-border-color: #4665bf; /* Màu xanh lam tương tự như .btn-primary */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Thiết lập bóng */
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #49BEFF; /* Màu xanh lam tương tự như .btn-primary */
        --bs-btn-disabled-border-color: #49BEFF; /* Màu xanh lam tương tự như .btn-primary */
    }


    .custom-button {
        display: inline-block;
        padding: 8px 16px;
        border: none;
        text-decoration: none;
        font-size: 12px;
        font-family: 'Plus Jakarta Sans', sans-serif;
        color: red;
        background-color: transparent;
        cursor: pointer;
        border-radius: 7px;
    }

    .custom-button-1 {
        display: inline-block;
        padding: 8px 16px;
        border: none;
        text-decoration: none;
        font-size: 12px;
        font-family: 'Plus Jakarta Sans', sans-serif;
        color: yellowgreen;
        background-color: transparent;
        cursor: pointer;
        border-radius: 7px;
    }

</style>*@
<style>
    .btnXuatEx2 {
        background-color: #4CAF50; /* Green background color */
        border: none; /* Remove borders */
        color: white; /* White text color */
        padding: 3px 24px; /* Add padding */
        text-align: center; /* Center text */
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px; /* Rounded corners */
    }

    .btn-custom-rangen {
        --bs-btn-color: #fff;
        --bs-btn-bg: #ff6347; /* Màu đỏ tùy chọn */
        --bs-btn-border-color: #ff6347; /* Màu đỏ tùy chọn */
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #dc4735; /* Màu đỏ tương ứng với hover */
        --bs-btn-hover-border-color: #c84131; /* Màu đỏ tương ứng với hover */
        --bs-btn-focus-shadow-rgb: #ff6347; /* Màu đỏ tương ứng với focus */
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #c84131; /* Màu đỏ tương ứng với active */
        --bs-btn-active-border-color: #b5362d; /* Màu đỏ tương ứng với active */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Thiết lập bóng */
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #ff6347; /* Màu đỏ tương ứng với disabled */
        --bs-btn-disabled-border-color: #ff6347; /* Màu đỏ tương ứng với disabled */
    }

    .btn-custom-primary {
        --bs-btn-color: #fff;
        --bs-btn-bg: #49BEFF; /* Màu xanh lam tương tự như .btn-primary */
        --bs-btn-border-color: #49BEFF; /* Màu xanh lam tương tự như .btn-primary */
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #4f73d9; /* Màu xanh lam tương tự như .btn-primary */
        --bs-btn-hover-border-color: #4a6ccc; /* Màu xanh lam tương tự như .btn-primary */
        --bs-btn-focus-shadow-rgb: 117,153,255; /* Màu xanh lam tương tự như .btn-primary */
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #4a6ccc; /* Màu xanh lam tương tự như .btn-primary */
        --bs-btn-active-border-color: #4665bf; /* Màu xanh lam tương tự như .btn-primary */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Thiết lập bóng */
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #49BEFF; /* Màu xanh lam tương tự như .btn-primary */
        --bs-btn-disabled-border-color: #49BEFF; /* Màu xanh lam tương tự như .btn-primary */
    }


    .custom-button {
        display: inline-block;
        padding: 8px 16px;
        border: none;
        text-decoration: none;
        font-size: 12px;
        font-family: 'Plus Jakarta Sans', sans-serif;
        color: red;
        background-color: transparent;
        cursor: pointer;
        border-radius: 7px;
    }

    .custom-button-1 {
        display: inline-block;
        padding: 8px 16px;
        border: none;
        text-decoration: none;
        font-size: 12px;
        font-family: 'Plus Jakarta Sans', sans-serif;
        color: yellowgreen;
        background-color: transparent;
        cursor: pointer;
        border-radius: 7px;
    }

    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }

    .dropdown {
        margin-right: 10px;
    }

    .btn-custom-primary {
        margin-right: 10px;
    }

    .table-responsive {
        margin-top: 20px;
    }

    .thead-dark {
        background-color: #000;
        color: #fff;
    }

    th {
        color: #fff;
    }

    .form-check {
        margin-bottom: 0;
    }

    .fw-normal {
        font-weight: normal;
    }

    .fw-semibold {
        font-weight: bold;
    }

    /* Thêm các kiểu khác nếu cần */
</style>
<script>

    @functions {
        public string FormatCurrency(float price)
        {
            string formattedPrice = string.Format("{0:N0}", price); // Định dạng số và thêm dấu phân cách ngàn
            return formattedPrice + "VND"; // Thêm ký hiệu đồng (₫) vào cuối
        }
    }
</script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

