@model CTN4_View.Areas.Admin.Viewmodel.ThieuxkViewAdmin

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<body>
    <!--  Body Wrapper -->
    <!--  Header End -->
    <div class="container-fluid">

        <div class="card w-100">
            <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4">Các Đơn Hàng</h5>
                <div class="table-responsive">
                    <table class="table text-nowrap mb-0 align-middle">
                        <thead class="text-dark fs-4">
                            <tr>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0"></h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Trạng thái đơn hàng</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Thời gian đặt đơn</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Trạng thái</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Trạng thái thanh toán</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Ngày giao hàng giao hàng</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Ngày nhận hàng</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Tổng tiền</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Tiền ship</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Số điện thoại</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Tên người nhận hàng</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Địa chỉ</h6>
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var a in Model.hoaDons)
                            {
                                <tr>
                                    <td class="border-bottom-0">
                                        <div class="d-flex align-items-center gap-2">
                                            <span class="badge bg-primary rounded-3 fw-semibold">@Html.ActionLink("xem chi tiết", "XemChiTiet", new { id=a.Id },new { @class = "custom-edit-link" })</span>
                                        </div>
                                    </td>
                                    @if (a.Is_detele != false)
                                    {
                                        <td class="border-bottom-0">
                                            <p class="mb-0 fw-normal" style="color:limegreen">Bình thường</p>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="border-bottom-0">
                                            <p class="mb-0 fw-normal" style="color:red">Đơn hàng đã bị hủy</p>
                                        </td>
                                    }
                                    <td class="border-bottom-0">
                                        <span class="fw-normal">@a.NgayDat</span>
                                    </td>
                                    <td class="border-bottom-0">
                                        @if(a.Is_detele==true){
                                            @if (a.TrangThai != "Đang chờ xử lí")
                                            {

                                                <p class="mb-0 fw-normal" style="color:limegreen">Đơn hàng đã được xác nhận</p>

                                            }
                                            else
                                            {

                                                <p class="mb-0 fw-normal" style="color:red">Đơn hàng chưa được xác nhận</p>

                                            }
                                            @if (a.TrangThai != "Giao hàng thành công")
                                            {

                                                <h6 class="fw-semibold mb-0" style="color:blue">@a.TrangThai</h6>

                                            }
                                            else
                                            {

                                                <h6 class="fw-semibold mb-0" style="color:limegreen">@a.TrangThai</h6>

                                            }
                                            
                                        }
                                        else
                                        {
                                        <h6 class="fw-semibold mb-0" style="color:red">@a.TrangThai</h6>
                                        }
                                       
                                    </td>
                                    <td class="border-bottom-0">
                                        @if (a.TrangThaiThanhToan == true)
                                        {
                                            <h6 class="fw-semibold mb-0" style="color:limegreen">Đã thanh toán</h6>
                                        }
                                        else
                                        {
                                            <h6 class="fw-semibold mb-0" style="color:red">Chưa thanh toán</h6>
                                        }
                                    </td>
                                    @if (a.NgayGiao == null)
                                    {
                                        <th class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0" style="color:red">Chưa Giao Hàng</h6>
                                        </th>
                                    }
                                    else
                                    {
                                        <th class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0" style="color:limegreen">@a.NgayGiao</h6>
                                        </th>
                                    }
                                    @if (a.NgayNhan == null)
                                    {
                                        <th class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0" style="color:red">Chưa nhận hàng </h6>
                                        </th>
                                    }
                                    else
                                    {
                                        <th class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0" style="color:limegreen">@a.NgayNhan</h6>
                                        </th>
                                    }
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">@a.TongTien</p>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">@a.TienShip</p>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">@a.SDTNguoiNhan</p>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">@a.TenKhachHang</p>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">@a.DiaChi</p>
                                    </td>
                                   

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>



</body>
<style>
    .custom-edit-link {
        color: whitesmoke; /* Màu đỏ */
        /* Các thuộc tính CSS khác nếu cần */
    }
</style>
