@model CTN4_View.Areas.Admin.Viewmodel.ThieuxkViewAdmin
@{
    ViewData["Title"] = "XemChiTiet";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<body>
    <!--  Body Wrapper -->
    <!--  Header End -->
    <div class="container-fluid">

        <div class="div_left">
            <div class="card w-100">
                <div class="card-body p-4">
                    <div class="container_swap">
                        <h5 class="card-title fw-semibold mb-4">Đơn Hàng</h5>

                        <div class="div_right">
                            @if (Model.HoaDon.Is_detele == true)
                            {
                                @if (Model.HoaDon.TrangThai != "Đang chờ xử lí")
                                {
                                    <div style="color:yellowgreen">Đơn hàng đã được xác nhận</div>

                                }
                                else
                                {
                                   
                                     <br /> <div class="row">
                                        <div class="col-md-6" style="color:red">
                                            Đơn hàng chưa được xác nhận !
                                        </div>
                                        <div class="col-md-6">
                                            <span class="border-bottom-0">
                                                <span class="d-flex align-items-center gap-2">
                                                    <span class="color-change-button">@Html.ActionLink("Xác nhận đơn hàng", "XacNhanDonHang", new { id=Model.HoaDon.Id }, new { @class = "custom-edit-link" })</span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                }

                                @if (TempData["TB1"] != null)
                                {
                                    <div class="alert alert-danger">@TempData["TB1"]</div>
                                }
                                @if (Model.HoaDon.NgayGiao != null)
                                {
                                    <div style="color:yellowgreen">Đơn hàng đã bắt đầu được giao</div>

                                }
                                else
                                {

                                     <br /> <div class="row">
                                        <div class="col-md-6">
                                            <p style="color:red">Đơn hàng chưa được giao !</p>
                                        </div>
                                        <div class="col-md-6">
                                            <td class="border-bottom-0">
                                                <div class="d-flex align-items-center gap-2">
                                                    <span class="color-change-button">@Html.ActionLink("Giao Hàng", "XacNhanGiaoHang", new { id=Model.HoaDon.Id }, new { @class = "custom-edit-link" })</span>
                                                </div>
                                            </td>
                                        </div>
                                    </div>

                                }
                                @if (TempData["TB3"] != null)
                                {
                                    <div class="alert alert-danger">@TempData["TB3"]</div>
                                }
                                @if (Model.HoaDon.TrangThaiThanhToan == true)
                                {
                                    <div style="color:blue">Đơn hàng đã được thanh toán</div>

                                }
                                else
                                {
                                     <br /> <div class="row">
                                        <div class="col-md-6">
                                            <div style="color:red">Đơn hàng chưa được thanh toán !</div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="d-flex align-items-center gap-2">
                                                <span class="color-change-button">@Html.ActionLink("Xác nhận đã thanh toán", "XacNhanThanhToan", new { id=Model.HoaDon.Id }, new { @class = "custom-edit-link" })</span>
                                            </div>
                                        </div>
                                    </div>

                                }
                                @if (TempData["TB2"] != null)
                                {
                                    <div class="alert alert-danger">@TempData["TB2"]</div>
                                }
                                @if (Model.HoaDon.NgayNhan != null)
                                {
                                    <div style="color:greenyellow">Đơn hàng đã được nhận</div>

                                }
                                else
                                {
                                     <br /> <div class="row">
                                        <div class="col-md-6">
                                            <div style="color:red">Đơn hàng chưa nhận được !</div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="d-flex align-items-center gap-2">
                                                <span class="color-change-button">
                                                    @Html.ActionLink("Xác nhận đã nhận hàng", "XacNhanNhanHang", new { id=Model.HoaDon.Id }, new { @class = "custom-edit-link" })
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                }
                            }
                            else
                            {
                                <div style="color:red">Đơn hàng đã bị hủy !</div>
                            }


                        </div>
                    </div>
                    <div class="table-responsive">

                        <thead class="text-dark fs-4">
                            <tr>
                                <br />
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0"></h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Id Hóa Đơn  &nbsp; : &nbsp;  @Model.HoaDon.Id</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Thời gian đặt đơn  &nbsp; : &nbsp;  @Model.HoaDon.NgayTaoHoaDon</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Trạng thái &nbsp;  : &nbsp;  @Model.HoaDon.TrangThai</h6>
                                </th>
                                @if (Model.HoaDon.NgayGiao == null)
                                {
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Ngày giao hàng &nbsp;  : &nbsp; <span style="color:red"> Chưa giao</span></h6>
                                    </th>
                                }
                                else
                                {
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Ngày giao hàng &nbsp;  : &nbsp;  @Model.HoaDon.NgayGiao</h6>
                                    </th>
                                }
                                @if (Model.HoaDon.NgayNhan != null)
                                {
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Trạng thái nhận hàng   &nbsp;: &nbsp; <span style="color:greenyellow">Đã nhận hàng</span> </h6>
                                    </th>
                                }
                                else
                                {
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">
                                            Trạng thái nhận hàng    &nbsp;: &nbsp;
                                            <span style="color:red"> Chưa nhận được hàng</span>
                                        </h6>
                                    </th>
                                }


                                @if (Model.HoaDon.TrangThaiThanhToan == true)
                                {
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Trạng thái Thanh toán   &nbsp;: &nbsp; <span style="color:greenyellow">Đã thanh toán</span> </h6>
                                    </th>
                                }
                                else
                                {
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">
                                            Trạng thái Thanh toán   &nbsp;: &nbsp;
                                            <span style="color:red"> Chưa thanh toán</span>
                                        </h6>
                                    </th>
                                }

                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">
                                        Tổng tiền  &nbsp; : &nbsp; @Model.HoaDon.TongTien
                                    </h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Số tiền ship  &nbsp; : &nbsp; @Model.HoaDon.TienShip</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Số điện thoại  &nbsp; : &nbsp; @Model.HoaDon.SDTNguoiNhan</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Tên người nhận hàng &nbsp; :&nbsp;   @Model.HoaDon.TenKhachHang</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Địa chỉ &nbsp;  : &nbsp;  @Model.HoaDon.DiaChi</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0"></h6>
                                </th>
                            </tr>
                        </thead>


                    </div>
                    @if (TempData["TB4"] != null)
                    {
                        <div class="alert alert-danger">@TempData["TB4"]</div>
                    }
                    @if (Model.HoaDon.TrangThai != "Giao hàng thất bại")
                    {
                        <div class="div_right">
                            <p>
                                <td class="border-bottom-0">
                                    <div class="d-flex align-items-center gap-2">
                                        <span class="color-change-button">@Html.ActionLink("Giao hàng thất bại", "GiaoHangThatBai", new { id=Model.HoaDon.Id },new { @class = "custom-edit-link" })</span>
                                    </div>
                                </td>
                            </p>
                        </div>
                    }
                    else
                    {
                        <div style="color:red">Đơn hàng đã bị hủy !</div>
                    }
                    @if (Model.HoaDon.Is_detele == true)
                    {
                        <div class="div_right">
                            <p>
                                <td class="border-bottom-0">
                                    <div class="d-flex align-items-center gap-2">
                                        <span class="color-change-button">@Html.ActionLink("Hủy đơn", "HuyDon", new { id=Model.HoaDon.Id },new { @class = "custom-edit-link" })</span>
                                    </div>
                                </td>
                            </p>
                        </div>
                    }
                    else
                    {
                        <div style="color:red">Đơn hàng đã bị hủy !</div>
                    }


                </div>

            </div>


        </div>
        <div class="card w-100">
            <div class="card-body p-4">
                @if (TempData["TB5"] != null)
                {
                    <div class="alert alert-danger">@TempData["TB5"]</div>
                }
                <h5 class="card-title fw-semibold mb-4">Chi Tiết Đơn Hàng</h5>
                <div class="table-responsive">
                    <table class="table text-nowrap mb-0 align-middle">
                        <thead class="text-dark fs-4">
                            <tr>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Ảnh sản phẩm</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Tên sản phẩm</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Màu</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Size</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Số lượng</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Giá tiền</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">trạng thái</h6>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var a in Model.hoaDonChiTiets)
                            {
                                <tr>
                                    <td class="border-bottom-0">


                                        @if (System.IO.Path.GetExtension(a.SanPhamChiTiet.SanPham.AnhDaiDien) == ".jpg" ||
                                       System.IO.Path.GetExtension(a.SanPhamChiTiet.SanPham.AnhDaiDien) == ".png" ||
                                       System.IO.Path.GetExtension(a.SanPhamChiTiet.SanPham.AnhDaiDien) == ".jpeg" ||
                                       System.IO.Path.GetExtension(a.SanPhamChiTiet.SanPham.AnhDaiDien) == ".tiff" ||
                                       System.IO.Path.GetExtension(a.SanPhamChiTiet.SanPham.AnhDaiDien) == ".webp" ||
                                       System.IO.Path.GetExtension(a.SanPhamChiTiet.SanPham.AnhDaiDien) == ".gif")
                                        {
                                            <img src="~/image/@a.SanPhamChiTiet.SanPham.AnhDaiDien" height="100">
                                        }
                                        else
                                        {
                                            <a>ảnh lỗi</a>
                                        }


                                    </td>
                                    <td class="border-bottom-0">
                                        <span>@a.SanPhamChiTiet.SanPham.TenSanPham</span>
                                    </td>
                                    <td class="border-bottom-0">
                                        <span>@a.SanPhamChiTiet.Mau.TenMau</span>
                                    </td>
                                    <td class="border-bottom-0">
                                        <span>@a.SanPhamChiTiet.Size.CoSize</span>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">@a.SoLuong</p>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">@a.GiaTien</p>
                                    </td>
                                    <td class="border-bottom-0">
                                        @if (a.TrangThai == true)
                                        {
                                            <p class="mb-0 fw-normal" style="color:limegreen">Bình thường</p>
                                        }
                                        else
                                        {
                                            <p class="mb-0 fw-normal" style="color:red">Hàng bị đổi trả</p>
                                        }
                                    </td>
                                    <td class="border-bottom-0">
                                        @if (a.TrangThai == true)
                                        {
                                            <div class="d-flex align-items-center gap-2">
                                                <span class="color-change-button">@Html.ActionLink("Bỏ sản phẩm khởi đơn hàng", "BoSanPham", new { idHDCT=a.Id ,idHD=Model.HoaDon.Id},new { @class = "custom-edit-link" })</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="d-flex align-items-center gap-2">
                                                <span class="color-change-button">@Html.ActionLink("Hoàn tác", "HoanTacSp", new { idHDCT=a.Id ,idHD=Model.HoaDon.Id},new { @class = "custom-edit-link" })</span>
                                            </div>
                                        }

                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>












</body>
<style>
    .custom-edit-link {
        color: whitesmoke; /* Màu đỏ */
        /* Các thuộc tính CSS khác nếu cần */
    }
</style>

<body>
    <!--  Body Wrapper -->
    <!--  Header End -->



</body>
<style>
    .custom-edit-link {
        color:  whitesmoke; /* Màu đỏ */
        ; /* Màu đỏ */
        /* Các thuộc tính CSS khác nếu cần */
    }

    /* Thiết lập màu nền và màu chữ mặc định */
    .color-change-button {
        color: #ffffff;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease; /* Hiệu ứng chuyển đổi màu sắc */
        border-radius: 20px; /* Bán kính bo tròn */
        width: auto; /* Tự động điều chỉnh chiều rộng */

        background-color: rgb(93, 135, 255);
        border-radius: 15px;
        font-size: 14px;
        font-weight: 600;
        grid-area: auto;
        line-height: 14px;
        text-align: center;
    }

        /* Hiệu ứng hover */
        .color-change-button:hover {
            background-color: rgb(93, 135, 255);
            color: #ecf0f1;
        }

</style>
<script>
    @functions {
        public string FormatCurrency(float price)
        {
            string formattedPrice = string.Format("{0:N0}", price); // Định dạng số và thêm dấu phân cách ngàn
            return formattedPrice + "VND"; // Thêm ký hiệu đồng (₫) vào cuối
        }
    }
</script>