@model CTN4_View.Areas.Admin.Viewmodel.ThieuxkViewAdmin
@{
    ViewData["Title"] = "XemChiTiet";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<body>
    <!--  Body Wrapper -->
    <!--  Header End -->
    <div class="container-fluid">

        <div class="div_left">
            <div class="card w-100">
                <div class="card-body p-4">
                    <div class="container_swap">
                        <h5 class="card-title fw-semibold mb-4">Đơn Hàng</h5>

                        <div class="div_right">
                            @if(Model.HoaDon.Is_detele==true)
                            {
                                @if (Model.HoaDon.TrangThai != "Đang chờ xử lí")
                                {
                                    <div style="color:yellowgreen">Đơn hàng đã được xác nhận</div>

                                }
                                else
                                {
                                    <div style="color:red">Đơn hàng chưa được xác nhận !</div>
                                    <span>
                                        <span class="border-bottom-0">
                                            <span class="d-flex align-items-center gap-2">
                                                <span class="badge bg-primary rounded-3 fw-semibold">@Html.ActionLink("xác nhận đợn hàng", "XacNhanDonHang", new { id=Model.HoaDon.Id },new { @class = "custom-edit-link" })</span>
                                            </span>
                                        </span>
                                    </span>
                                }

                                @if (TempData["TB1"] != null)
                                {
                                    <div class="alert alert-danger">@TempData["TB1"]</div>
                                }
                                @if (Model.HoaDon.NgayGiao != null)
                                {
                                    <div style="color:yellowgreen">Đơn hàng đã bắt đầu được giao</div>

                                }
                                else
                                {

                                    <p>
                                        <div style="color:red">Đơn hàng chưa được giao !</div>
                                        <td class="border-bottom-0">
                                            <div class="d-flex align-items-center gap-2">
                                                <span class="badge bg-primary rounded-3 fw-semibold">@Html.ActionLink("Giao Hàng", "XacNhanGiaoHang", new { id=Model.HoaDon.Id },new { @class = "custom-edit-link" })</span>
                                            </div>
                                        </td>
                                    </p>
                                }
                                @if (TempData["TB3"] != null)
                                {
                                    <div class="alert alert-danger">@TempData["TB3"]</div>
                                }
                                @if (Model.HoaDon.TrangThaiThanhToan == true)
                                {
                                    <div style="color:blue">Đơn hàng đã được thanh toán</div>

                                }
                                else
                                {
                                    <p>
                                        <div style="color:red">Đơn hàng chưa được thanh toán !</div>
                                        <td class="border-bottom-0">
                                            <div class="d-flex align-items-center gap-2">
                                                <span class="badge bg-primary rounded-3 fw-semibold">@Html.ActionLink("Xác nhận đã thanh toán", "XacNhanThanhToan", new { id=Model.HoaDon.Id },new { @class = "custom-edit-link" })</span>
                                            </div>
                                        </td>
                                    </p>
                                }
                                @if (TempData["TB2"] != null)
                                {
                                    <div class="alert alert-danger">@TempData["TB2"]</div>
                                }
                                @if (Model.HoaDon.NgayNhan != null)
                                {
                                    <div style="color:greenyellow">Đơn hàng đã được nhận</div>

                                }
                                else
                                {
                                    <p>
                                        <div style="color:red">Đơn hàng chưa nhận được !</div>
                                        <td class="border-bottom-0">
                                            <div class="d-flex align-items-center gap-2">
                                                <span class="badge bg-primary rounded-3 fw-semibold">@Html.ActionLink("Xác nhận đã nhận hàng", "XacNhanNhanHang", new {  id=Model.HoaDon.Id },new { @class = "custom-edit-link" })</span>
                                            </div>
                                        </td>
                                    </p>
                                }
                            }
                            {
                            <div style="color:red">Đơn hàng đã bị hủy !</div>
                            }
                           

                        </div>
                    </div>
                    <div class="table-responsive">

                        <thead class="text-dark fs-4">
                            <tr>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0"></h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Id Hóa Đơn  &nbsp; : &nbsp;  @Model.HoaDon.Id</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Thời gian đặt đơn  &nbsp; : &nbsp;  @Model.HoaDon.NgayTaoHoaDon</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Trạng thái &nbsp;  : &nbsp;  @Model.HoaDon.TrangThai</h6>
                                </th>
                                @if (Model.HoaDon.NgayGiao == null)
                                {
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Ngày giao hàng &nbsp;  : &nbsp; <span style="color:red"> Chưa giao</span></h6>
                                    </th>
                                }
                                else
                                {
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Ngày giao hàng &nbsp;  : &nbsp;  @Model.HoaDon.NgayGiao</h6>
                                    </th>
                                }
                                @if (Model.HoaDon.NgayNhan != null)
                                {
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Trạng thái nhận hàng   &nbsp;: &nbsp; <span style="color:greenyellow">Đã nhận hàng</span> </h6>
                                    </th>
                                }
                                else
                                {
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">
                                            Trạng thái nhận hàng    &nbsp;: &nbsp;
                                            <span style="color:red"> Chưa nhận được hàng</span>
                                        </h6>
                                    </th>
                                }


                                @if (Model.HoaDon.TrangThaiThanhToan == true)
                                {
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Trạng thái Thanh toán   &nbsp;: &nbsp; <span style="color:greenyellow">Đã thanh toán</span> </h6>
                                    </th>
                                }
                                else
                                {
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">
                                            Trạng thái Thanh toán   &nbsp;: &nbsp;
                                            <span style="color:red"> Chưa thanh toán</span>
                                        </h6>
                                    </th>
                                }

                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">
                                        Tổng tiền  &nbsp; : &nbsp; @Model.HoaDon.TongTien
                                    </h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Số điện thoại  &nbsp; : &nbsp; @Model.HoaDon.SDTNguoiNhan</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Tên người nhận hàng &nbsp; :&nbsp;   @Model.HoaDon.TenKhachHang</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Địa chỉ &nbsp;  : &nbsp;  @Model.HoaDon.DiaChi</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0"></h6>
                                </th>
                            </tr>
                        </thead>


                    </div>
                    @if (TempData["TB4"] != null)
                    {
                        <div class="alert alert-danger">@TempData["TB4"]</div>
                    }
                    <div class="div_right">
                        <p>
                            <td class="border-bottom-0">
                                <div class="d-flex align-items-center gap-2">
                                    <span class="badge bg-primary rounded-3 fw-semibold">@Html.ActionLink("Hủy đơn", "HuyDon", new { id=Model.HoaDon.Id },new { @class = "custom-edit-link" })</span>
                                </div>
                            </td>
                        </p>
                    </div>
                </div>

            </div>


        </div>
        <div class="card w-100">
            <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4">Chi Tiết Đơn Hàng</h5>
                <div class="table-responsive">
                    <table class="table text-nowrap mb-0 align-middle">
                        <thead class="text-dark fs-4">
                            <tr>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Ảnh sản phẩm</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Tên sản phẩm</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Màu</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Size</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Số lượng</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Giá tiền</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">trạng thái</h6>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var a in Model.hoaDonChiTiets)
                            {
                                <tr>
                                    <td class="border-bottom-0">


                                        @if (System.IO.Path.GetExtension(a.SanPhamChiTiet.SanPham.AnhDaiDien) == ".jpg" ||
                                       System.IO.Path.GetExtension(a.SanPhamChiTiet.SanPham.AnhDaiDien) == ".png" ||
                                       System.IO.Path.GetExtension(a.SanPhamChiTiet.SanPham.AnhDaiDien) == ".jpeg" ||
                                       System.IO.Path.GetExtension(a.SanPhamChiTiet.SanPham.AnhDaiDien) == ".tiff" ||
                                       System.IO.Path.GetExtension(a.SanPhamChiTiet.SanPham.AnhDaiDien) == ".webp" ||
                                       System.IO.Path.GetExtension(a.SanPhamChiTiet.SanPham.AnhDaiDien) == ".gif")
                                        {
                                            <img src="~/image/@a.SanPhamChiTiet.SanPham.AnhDaiDien" height="100">
                                        }
                                        else
                                        {
                                            <a>ảnh lỗi</a>
                                        }


                                    </td>
                                    <td class="border-bottom-0">
                                        <span>@a.SanPhamChiTiet.SanPham.TenSanPham</span>
                                    </td>
                                    <td class="border-bottom-0">
                                        <span>@a.SanPhamChiTiet.Mau.TenMau</span>
                                    </td>
                                    <td class="border-bottom-0">
                                        <span>@a.SanPhamChiTiet.Size.CoSize</span>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">@a.SoLuong</p>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">@a.GiaTien</p>
                                    </td>
                                    <td class="border-bottom-0">
                                        @if (a.TrangThai == true)
                                        {
                                            <p class="mb-0 fw-normal">Bình thường</p>
                                        }
                                        else
                                        {
                                            <p class="mb-0 fw-normal">Trả hàng</p>
                                        }
                                    </td>
                                    <td class="border-bottom-0">
                                        <div class="d-flex align-items-center gap-2">
                                            <span class="badge bg-primary rounded-3 fw-semibold">@Html.ActionLink("Hủy sản phẩm", "XacNhan", new { id=a.Id },new { @class = "custom-edit-link" })</span>
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>












</body>
<style>
    .custom-edit-link {
        color: whitesmoke; /* Màu đỏ */
        /* Các thuộc tính CSS khác nếu cần */
    }
</style>

<body>
    <!--  Body Wrapper -->
    <!--  Header End -->



</body>
<style>
    .custom-edit-link {
        color: whitesmoke; /* Màu đỏ */
        /* Các thuộc tính CSS khác nếu cần */
    }
</style>
