@model CTN4_Data.Models.DB_CTN4.SanPhamChiTiet

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SanPhamChiTiet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaNhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaNhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaNiemYet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaNiemYet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Is_detele)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Is_detele)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdChatLieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdChatLieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNSX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNSX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSp)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
