@model IEnumerable<CTN4_Data.Models.DB_CTN4.GiamGia>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaGiam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoTienGiam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhanTramGiam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayBatDau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayKetThuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoTienGiamToiDa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DieuKienGiam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiGiamGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Is_detele)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaGiam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoTienGiam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhanTramGiam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayBatDau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKetThuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoTienGiamToiDa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DieuKienGiam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiGiamGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is_detele)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
