@model CTN4_Serv.ViewModel.ThieuxkView
@{
    ViewData["Title"] = "HoaDonChiTiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Lịch Sử Mua Hàng</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Hóa Đơn Chi Tiết</a>
                </nav>
            </div>
        </div>
    </div>
</section>*@
<br></br>

<section class="tracking_box_area section_gap">
    <div class="container">
        <div class="row">

            <!-- Bảng chi tiết hóa đơn -->
            <div class="col-md-8">
                <style>
                    .invoice-container {
                        max-width: 600px;
                        margin: 0 auto;
                        border: 1px solid #ccc;
                        padding: 20px;
                        border-radius: 10px;
                        margin-top: 20px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    }

                    .invoice-title {
                        text-align: center;
                        font-size: 24px;
                        margin-bottom: 20px;
                    }

                    .invoice-details dt {
                        font-weight: bold;
                        margin-top: 10px;
                    }

                    .invoice-details dd {
                        margin-top: 10px;
                    }

                    .status-unavailable {
                        color: red;
                    }

                    .card {
                        width: 110%; /* Điều chỉnh giá trị width theo nhu cầu */
                        margin: auto; /* Đưa thẻ card vào giữa trang */
                    }
                </style>
                @* Thông tin khách hàng*@
                <div class="invoice-container">
                    <div class="invoice-title">
                        Thông tin khách hàng
                    </div>
                    <div>
                        <hr />
                        <dl class="row invoice-details">




                            <dt class="col-sm-5">
                                Mã đơn hàng
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.HoaDon.MaHoaDon)
                            </dd>
                            <dt class="col-sm-5">
                                Tên khách hàng
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.HoaDon.TenKhachHang)
                            </dd>
                            <dt class="col-sm-5">
                                Email
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.HoaDon.Email)
                            </dd>
                            <dt class="col-sm-5">
                                Số điện thoại người nhận
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.HoaDon.SDTNguoiNhan)
                            </dd>

                            <dt class="col-sm-5">
                                Địa chỉ
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.HoaDon.DiaChi)
                            </dd>



                        </dl>
                    </div>
                </div>

                @* Tình trạng đơn hàng*@

                <div class="invoice-container">
                    <div class="invoice-title">
                        Tình trạng đơn hàng
                    </div>
                    <div>
                        <hr />
                        <dl class="row invoice-details">

                            <dt class="col-sm-5">
                                Tình trạng đơn hàng
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.HoaDon.TrangThai)
                            </dd>




                            <dt class="col-sm-5">
                                Phương thức thanh toán
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.HoaDon.PhuongThucThanhToan.TenPhuongThuc)
                            </dd>
                            <dt class="col-sm-5">
                                Ngày tạo hóa đơn
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.HoaDon.NgayTaoHoaDon)
                            </dd>
                            <dt class="col-sm-5">
                                Ngày đặt
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.HoaDon.NgayDat)
                            </dd>
                            <dt class="col-sm-5">
                                Ngày giao
                            </dt>
                            <dd class="col-sm-7">
                                @if (Model.HoaDon.NgayGiao != null)
                                {
                                    @Html.DisplayFor(model => model.HoaDon.NgayGiao)
                                }
                                <div>Chưa giao</div>
                            </dd>
                            <dt class="col-sm-5">
                                Ngày nhận
                            </dt>
                            <dd class="col-sm-7">
                                @if (Model.HoaDon.NgayNhan != null)
                                {
                                    @Html.DisplayFor(model => model.HoaDon.NgayNhan)
                                }
                                <div>Chưa nhận</div>

                            </dd>
                            <dt class="col-sm-5">
                                Ghi chú
                            </dt>
                            <dd class="col-sm-7">

                                @if (Model.HoaDon.GhiChu != null)
                                {
                                    @Html.DisplayFor(model => model.HoaDon.GhiChu)
                                }
                                <div>Không có ghi chú</div>
                                <!-- ... Các chi tiết hóa đơn ... -->
                        </dl>
                    </div>
                </div>
                <br />

            </div>






            @* Thông tin mã giảm giá*@
            <div>
                <br />

                <div class="card">
                    <div class="card-header">
                        Thông tin mã giảm giá đã sử dụng
                    </div>
                    <div class="card-body">
                        <form asp-action="ApDungGiamGia" asp-controller="GiamGiaHoaDon">
                            <input type="hidden" name="IdHoaDon" value="@Model.HoaDon.Id" />
                            <label> Giảm giá </label>
                            <input type="text" name="GiamGia" value=""></input>
                            <button type="submit"> Áp dụng</button>
                        </form>
                        @if (TempData["TB1"] != null)
                        {
                            <div class="alert alert-danger">@TempData["TB1"]</div>
                        }
                        @if (TempData["TB2"] != null)
                        {
                            <div style="background : greenyellow ; color : black " class="alert alert-danger">@TempData["TB2"]</div>
                        }
                        <br></br>
                        <table class="table">
                            <thead>

                                <tr>
                                    <th scope="col"> Mã voucher </th>
                                    <th scope="col"> Loại voucher </th>
                                    <th scope="col"> Mức giảm </th>

                                </tr>



                            </thead>
                            <tbody>
                                @foreach (var a in Model.GiamGiaChiTiets)
                                {
                                    <tr>
                                        <th scope="row">@a.GiamGia.MaGiam</th>
                                        @if (a.GiamGia.LoaiGiamGia == true)
                                        {
                                            <td> Giảm theo phần trăm </td>
                                            <td> @a.GiamGia.PhanTramGiam% </td>
                                        }
                                        else
                                        {
                                            <td> Giảm theo giá tiền </td>
                                            <td> @a.GiamGia.SoTienGiam VND</td>
                                        }
                                        @* @if (a.GiamGia.LoaiGiamGia == true)
                                    {

                                    }
                                    else
                                    {

                                    }*@
                                        @*  <td>@Html.DisplayFor(model => model.GiamGia.MaGiam)</td>
                                    <td>@Html.DisplayFor(model => model.GiamGia.LoaiGiamGia)</td>
                                    <td>@Html.DisplayFor(model => model.GiamGia.SoTienGiam)</td>*@

                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
            </div>
            @*Danh sách voucher*@




            @* Mô tả sản phẩm + Thông tin thanh toán

            </div> @*Mô tả sản phẩm*@
            <div>

                <div class="card p-5 m-5">
                    <div class="card-body">
                        <div class="row">
                            <!-- Cột cho thông tin sản phẩm -->
                            <div class="col-md-8">
                                <div class="table-container">
                                    Mô tả sản phẩm
                                    <table class="table">
                                        <!-- Nội dung bảng thông tin sản phẩm -->
                                        <style>

                                        </style>
                                        <thead>
                                            <tr>
                                                <th>Ảnh sản phẩm</th>
                                                <th>Thông tin sản phẩm</th>
                                                <th>Số Lượng</th>
                                                <th>Giá Tiền</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.hoaDonChiTiets)
                                            {
                                                <tr>
                                                    <td>
                                                        <!-- Hình ảnh sản phẩm -->
                                                        @if (System.IO.Path.GetExtension(item.SanPhamChiTiet.SanPham.AnhDaiDien) == ".jpg" ||
                                                       System.IO.Path.GetExtension(item.SanPhamChiTiet.SanPham.AnhDaiDien) == ".png" ||
                                                       System.IO.Path.GetExtension(item.SanPhamChiTiet.SanPham.AnhDaiDien) == ".jpeg" ||
                                                       System.IO.Path.GetExtension(item.SanPhamChiTiet.SanPham.AnhDaiDien) == ".tiff" ||
                                                       System.IO.Path.GetExtension(item.SanPhamChiTiet.SanPham.AnhDaiDien) == ".webp" ||
                                                       System.IO.Path.GetExtension(item.SanPhamChiTiet.SanPham.AnhDaiDien) == ".gif")
                                                        {
                                                            <a href="@Url.Action("HienThiSanPhamChiTiet", "HienThiSanPham", new { id=item.SanPhamChiTiet.SanPham.Id })">
                                                                <img src="~/image/@item.SanPhamChiTiet.SanPham.AnhDaiDien" height="100">
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a>ảnh lỗi</a>
                                                        }
                                                    </td>
                                                    <td>
                                                        <!-- Thông tin sản phẩm -->
                                                        <div><b style="color:#5a6a85">Tên: </b>@item.SanPhamChiTiet.SanPham.TenSanPham</div>
                                                        <div><b style="color:#5a6a85">Màu: </b>@item.SanPhamChiTiet.Mau.TenMau</div>
                                                        <div><b style="color:#5a6a85">Size: </b>@item.SanPhamChiTiet.Size.CoSize</div>
                                                    </td>
                                                    <td>
                                                        <!-- Số lượng -->
                                                    @Html.DisplayFor(modelItem => item.SoLuong)
                                                    </td>
                                                    <td>
                                                        <!-- Giá tiền -->
                                                    @Html.Raw(FormatCurrency(item.GiaTien))
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            @* Thông tin thanh toán*@

                            <div class="col-md-4">
                                <div class="table-container">
                                    <table class="table">
                                        <style>
                                            .table-container {
                                                border: 1px solid #ccc;
                                                border-radius: 10px;
                                                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                                                margin-top: 20px;
                                                padding: 20px;
                                            }

                                        </style>
                                        <thead>
                                            <tr>

                                                <th>Thông tin thanh toán</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var listhoadon = Model.hoaDonChiTiets.Where(c => c.IdHoaDon == Model.HoaDon.Id).ToList();
                                                float TongTienHang = 0;
                                                foreach (var a in listhoadon)
                                                {
                                                    TongTienHang += a.GiaTien * a.SoLuong;

                                                }
                                            }

                                            <tr>
                                                <td>
                                                    <!-- Thông tin thanh toán -->
                                                    <div><b style="color:#5a6a85">Tổng tiền hàng: </b>@TongTienHang VND</div>
                                                    <div><b style="color:#5a6a85">Chi phí vận chuyển: </b>@Html.Raw(FormatCurrency(Model.HoaDon.TienShip))</div>
                                                    <div><b style="color:#5a6a85">Giảm giá: </b>@((TongTienHang + Model.HoaDon.TienShip) - Model.HoaDon.TongTien) VND</div>
                                                    <div><b style="color:#5a6a85">Thành tiền: </b>@Html.Raw(FormatCurrency(Model.HoaDon.TongTien))</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <br />
                @* button hủy đơn*@
                <div>
                    <div class="col-md-8 offset-md-2">
                        <div class="button-container text-center">
                            @if (Model.HoaDon.Is_detele == true)
                            {
                                <div>
                                    <button type="button" class="primary-btn">@Html.ActionLink("Hủy đơn", "huydonKH", new { id = Model.HoaDon.Id }, new { @class = "custom-edit-link" })</button>
                                </div>
                            }
                            else
                            {
                                <div style="color:red">Đơn hàng của bạn đã bị hủy</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>






@* Thông báo lỗi*@
@if (TempData["TB4"] != null)
{
    <div class="alert alert-danger">@TempData["TB4"]</div>
}

@*</section>*@
<script>
    @functions {
        public string FormatCurrency(float price)
        {
            string formattedPrice = string.Format("{0:N0}", price); // Định dạng số và thêm dấu phân cách ngàn
            return formattedPrice + " VND"; // Thêm ký hiệu đồng (₫) vào cuối
        }
    };


</script>

<style>
    .custom-edit-link {
        color: black; /* Màu đỏ */
        /* Các thuộc tính CSS khác nếu cần */
    }
</style>
<script src="~/js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.~/js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="~/js/vendor/bootstrap.min.js"></script>
<script src="~/js/jquery.ajaxchimp.min.js"></script>
<script src="~/js/jquery.nice-select.min.js"></script>
<script src="~/js/jquery.sticky.js"></script>
<script src="~/js/nouislider.min.js"></script>
<script src="~/js/countdown.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="~/js/gmaps.min.js"></script>
<script src="~/js/main.js"></script>