@model IEnumerable<CTN4_Data.Models.DB_CTN4.HoaDon>

@{
    ViewData["Title"] = "HoaDon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Lịch Sử Mua Hàng</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Hóa Đơn</a>
                </nav>
            </div>
        </div>
    </div>
</section>*@
<!-- End Banner Area -->
<!--================Tracking Box Area =================-->
@*<section class="tracking_box_area section_gap">
    <div class="container">
        
    </div>
</section>*@
<section class="tracking_box_area section_gap">
    
    <div class="container">
        <div class="tracking_box_inner">
            <p>
                Hay nhập id đơn hàng của bạn để tìm kiếm nhanh
            </p>
            <form class="row tracking_form" action="#" method="post" novalidate="novalidate">
                <div class="col-md-12 form-group">
                    <input type="text" class="form-control" id="order" name="order" placeholder="id Hóa đơn" onfocus="this.placeholder = ''" onblur="this.placeholder = 'id Hóa đơn'">
                </div>
                <div class="col-md-12 form-group">
                    <button type="submit" value="submit" class="primary-btn">Tìm</button>
                </div>
            </form>
        </div>
        <h1>Danh sách hóa đơn của bạn</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                       Ngày đặt hàng
                    </th>
                    <th>
                        Trạng thái
                    </th>
                    <th>
                        Tổng tiền
                    </th>               
                   <th>
                        Ngày giao hàng
                    </th>
                    <th>
                        Ngày nhận hàng
                    </th>
                    <th>
                        Tên người nhận
                    </th>
                    <th>
                        Số điện thoại ngưới nhận
                    </th>
                    <th>
                        Địa chỉ
                    </th>
                    <th>
                        Phương thức thanh toán
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayTaoHoaDon)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TrangThai)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TongTien)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayGiao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayNhan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenKhachHang)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SDTNguoiNhan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiaChi)
                        </td>
                        <td>
                            @item.PhuongThucThanhToan.TenPhuongThuc.ToString()
                        </td>
                        <td>
                        <td>
                                @Html.ActionLink("Xem chi tiết", "HoaDonChiTiet", new {  id=item.Id  }, new { @class = "custom-edit-link" }) |
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

<style>
    .custom-edit-link {
        color: black; /* Màu đỏ */
        /* Các thuộc tính CSS khác nếu cần */
    }
</style>
