@model CTN4_Serv.ViewModel.GioHangView
@{
    ViewData["Title"] = "ThuTucThanhToan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br></br>
<br></br>
<div class="container">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    }
    <form method="post" id="myForm" asp-controller="BanHang" asp-action="HoanThanhThanhToan">
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-7">
                    <h3>Chi tiết thanh toán</h3>
                    @if (TempData["TB1"] != null)
                    {
                        <div class="alert alert-danger">@TempData["TB1"]</div>
                    }
                    @if (TempData["TB2"] != null)
                    {
                        <div class="alert alert-danger">@TempData["TB2"]</div>
                    }
                    @if (TempData["TBDC"] != null)
                    {
                        <div class="alert alert-danger">@TempData["TBDC"]</div>
                    }
                    <div class="row contact_form" action="#" method="post" novalidate="novalidate">
                        @{
                            var hoTen = $"{Model.KhachHang.Ho} {Model.KhachHang.Ten}";
                            var hoTenTitleCase = System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(hoTen);
                        }
                        @if (Model.name != null)
                        {
                            <!-- Hiển thị tên người dùng nếu có trong Model -->
                            <div class="col-md-6 form-group p_star">
                                <label>Họ và tên</label>
                                <input type="text" placeholder="Nhập họ tên của bạn" class="form-control" id="first" value="@Model.name" name="name" maxlength="50">
                                <div id="nameError" style="color: red;"></div>
                                <span id="error-message" class="error-message" style="color: red;"></span>
                            </div>
                        }
                        else
                        {
                            <!-- Hiển thị tên người dùng từ thuộc tính KhachHang trong Model -->
                            <div class="col-md-6 form-group p_star">
                                <label>Họ và tên</label>
                                <input type="text" placeholder="Nhập họ tên của bạn" class="form-control" id="first" value="@hoTen" name="name" maxlength="50">
                                <div id="nameError" style="color: red;"></div>
                                <span id="error-message" class="error-message" style="color: red;"></span>
                            </div>
                        }
                        <script>
                            document.getElementById('first').addEventListener('input', function () {
                                var inputValue = this.value.trim();

                                var errorMessageElement = document.getElementById('error-message');

                                if (inputValue.length === 0) {
                                    errorMessageElement.textContent = 'Vui lòng nhập tên.';
                                } else {
                                    errorMessageElement.textContent = '';
                                }
                            });
                        </script>

                        <div class="col-md-6 form-group p_star">
                            <br />
                            <button type="button" class="btn btn-outline-info dropdown-toggle form-control" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                                Mã giảm giá
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                @foreach (var i in Model.GiamGias)
                                {
                                    <li>
                                        <div class="app1">
                                            <div class="container1">
                                                <div class="card1">
                                                    <div class="main1">
                                                        <div class="content1">

                                                            @if (i.LoaiGiamGia == false)
                                                            {
                                                                <span>Giảm giá:</span>
                                                                <h8>@FormatCurrency(i.SoTienGiam)</h8>
                                                                <br />
                                                                <span>Đơn tối thiểu:</span>
                                                                <h8>@FormatCurrency(i.DieuKienGiam)</h8>
                                                                <p>Kết thúc: @i.NgayKetThuc</p>
                                                                <br />

                                                            }
                                                            else
                                                            {
                                                                <span>Giảm giá:</span>
                                                                <h8>@i.PhanTramGiam%</h8>
                                                                <br />
                                                                <span>Giảm tối đa:</span>
                                                                <h8>@FormatCurrency(i.SoTienGiamToiDa)</h8>
                                                                <br />
                                                                <span>Đơn tối thiểu:</span>
                                                                <h8>@FormatCurrency(i.DieuKienGiam)</h8>
                                                                <p>Kết thúc: @i.NgayKetThuc</p>
                                                            }
                                                        </div>
                                                    </div>

                                                    <div class="copy-button1">
                                                        @if (i.SoLuong > 0)
                                                        {
                                                            <input id="copyvalue" type="text" readonly value="@i.MaGiam" />
                                                            <button asp-controller="BanHang" asp-action="SuDunggiamGia" name="IdGiamGia" value="@i.Id">Dùng</button>
                                                        }
                                                        else if (i.SoLuong == 0)
                                                        {
                                                            <input id="copyvalue" type="text" style="text-decoration: line-through;" readonly value="@i.MaGiam" />
                                                            <button type="button" style="background-color: black; color: white;">Hết</button>

                                                        }
                                                    </div>



                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                }
                            </ul>
                        </div>
                        @if (Model.DiachiNhanChiTiet != null)
                        {
                            <div class="col-md-12 form-group">
                                <label>Địa chỉ nhận hàng cụ thể</label>
                                <input type="text" class="form-control" placeholder="Nhập địa chỉ nhận hàng cụ thể của bạn" value="@Model.DiachiNhanChiTiet" id="addct" name="DiachiNhanChiTiet" maxlength="50" onchange="validateAddress(this.value, 'addct')">
                                <div id="addressMessage" class="error-message"></div>
                                <span id="error-message2" class="error-message" style="color: red;"></span>
                            </div>
                        }
                        else if (Model.DiaChiNhanHang != null)
                        {
                            <div class="col-md-12 form-group">
                                <label>Địa chỉ nhận hàng cụ thể</label>
                                <input type="text" class="form-control" placeholder="Nhập địa chỉ nhận hàng cụ thể của bạn" value="@Model.DiaChiNhanHang.name" id="addct" name="DiachiNhanChiTiet" maxlength="50" onchange="validateAddress(this.value, 'addct')">
                                <div id="addressMessage" class="error-message"></div>
                                <span id="error-message2" class="error-message" style="color: red;"></span>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-12 form-group">
                                <label>Địa chỉ nhận hàng cụ thể</label>
                                <input type="text" class="form-control" placeholder="Nhập địa chỉ nhận hàng cụ thể của bạn" value="" id="addct" name="DiachiNhanChiTiet" maxlength="50" onchange="validateAddress(this.value, 'addct')">
                                <div id="addressMessage" class="error-message" style="color: red;"></div>
                                <span id="error-message2" class="error-message" style="color: red;"></span>
                            </div>
                        }
                        <script>
                            document.getElementById('addct').addEventListener('input', function () {
                                var inputValue = this.value.trim();

                                var errorMessageElement = document.getElementById('error-message2');

                                if (inputValue.length === 0) {
                                    errorMessageElement.textContent = 'Vui lòng nhập địa chỉ nhận hàng cụ thể của bạn.';
                                } else {
                                    errorMessageElement.textContent = '';
                                }
                            });
                        </script>
                        @if (@Model.Sodienthoai != null)
                        {
                            <div class="col-md-6 form-group p_star">
                                <label>Số điện thoại</label>
                                <input type="text" class="form-control" placeholder="Nhập số điện thoại của bạn" value="@Model.Sodienthoai" id="number" name="Sodienthoai" oninput="this.value = this.value.replace(/[^0-9]/g, '');" maxlength="15">
                                <span id="error-message3" class="error-message" style="color: red;"></span>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-6 form-group p_star">
                                <label>Số điện thoại</label>
                                <input type="text" class="form-control" placeholder="Nhập số điện thoại của bạn" value="@Model.KhachHang.SDT" id="number" name="Sodienthoai" oninput="this.value = this.value.replace(/[^0-9]/g, '');" maxlength="15">
                                <span id="error-message3" class="error-message" style="color: red;"></span>
                            </div>
                        }
                        <script>
                            document.getElementById('number').addEventListener('input', function () {
                                var inputValue = this.value.trim();

                                var errorMessageElement = document.getElementById('error-message3');

                                if (inputValue.length === 0) {
                                    errorMessageElement.textContent = 'Vui lòng nhập số điện thoại của bạn.';
                                } else {
                                    errorMessageElement.textContent = '';
                                }
                            });
                        </script>

                        @if (@Model.Email != null)
                        {
                            <div class="col-md-6 form-group p_star">
                                <label>Email</label>
                                <input type="text" class="form-control" placeholder="Nhập Email của bạn" id="email" value="@Model.Email" name="Email" maxlength="50" onchange="validateEmail()">
                                <span id="email-error" style="color: red;"></span>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-6 form-group p_star">
                                <label>Email</label>
                                <input type="text" placeholder="Nhập Email của bạn" class="form-control" id="email" value="@Model.KhachHang.Email" name="Email" maxlength="50" onchange="validateEmail()">
                                <span id="email-error" style="color: red;"></span>
                            </div>
                        }

                        @if (Model.addDiaChi != null)
                        {
                            <div class="col-md-6 form-group p_star">
                                <label>Địa chỉ :</label>
                                <input type="text" class="form-control" id="adressnew" name="" value="@Model.addDiaChi" disabled></input>
                                <input type="hidden" class="form-control" id="diachinay" value="@Model.addDiaChi" name="addDiaChi"></input>
                            </div>
                        }
                        else if (Model.addDiaChi == null && Model.tenmagiam != null)
                        {
                            <div class="col-md-6 form-group p_star">
                                <label>Địa chỉ :</label>
                                <input type="text" class="form-control" id="adressnew" name="" value="" disabled></input>
                                <input type="hidden" class="form-control" id="diachinay" value="" name="addDiaChi"></input>
                            </div>
                        }
                        else if (Model.DiaChiNhanHang != null)
                        {
                            <div class="col-md-6 form-group p_star">
                                <label>Địa chỉ :</label>
                                <input type="text" class="form-control" id="adressnew" name="" value="@Model.DiaChiNhanHang.DiaChi" disabled></input>
                                <input type="hidden" class="form-control" id="diachinay" value="@Model.DiaChiNhanHang.DiaChi" name="addDiaChi"></input>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-6 form-group p_star">
                                <label>Địa chỉ :</label>
                                <input type="text" class="form-control" id="adressnew" name="" value="" disabled></input>
                                <input type="hidden" class="form-control" id="diachinay" value="" name="addDiaChi"></input>
                            </div>
                        }
                        <div class="col-md-6 form-group">
                            <label>Chọn chọn địa chỉ có sẵn của bạn<span class="text-danger"></span></label>
                            <span class="text-danger"></span>
                            <select asp-for="IdDiaChi" class="custom-select" id="diachicosan">
                                <option value="0"> Chọn chọn địa chỉ có sẵn của bạn</option>
                                @foreach (var a in Model.listDiaChi)
                                {
                                    <option value="@a.Value">@a.Text</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Chọn Tỉnh/thành<span class="text-danger"></span></label>
                            <span class="text-danger" id="mess_provin"></span>
                            <select class="custom-select" asp-items="@ViewBag.Provin" id="provin">
                                <option selected value="0">Chọn tỉnh thành</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Chọn Quận/Huyện<span class="text-danger"></span></label>
                            <span class="text-danger" id="mess_district"></span>
                            <select class="custom-select" id="district">
                                <option selected value="0">Chọn quận huyện </option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Chọn Phường/Xã<span class="text-danger"></span></label>
                            <span class="text-danger" id="mess_ward"></span>
                            <select class="custom-select" id="ward" name="ward">
                                <option selected value="0">Chọn Phường Xã</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Phương thức thanh toán<span class="text-danger"></span></label>
                            <span class="text-danger"></span>
                            <select asp-for="idphuongthuc" class="custom-select">
                                <option value=""> Chọn phương thức thanh toán</option>
                                @foreach (var a in Model.listPhuongThucs)
                                {
                                    <option value="@a.Value">@a.Text</option>
                                }
                            </select>
                        </div>
                        @if (@Model.ghiChu != null)
                        {
                            <div class="col-md-6 form-group">
                                <label for="exampleFormControlTextarea1" class="form-label">Ghi chú</label>
                                <textarea class="form-control" name="ghiChu" id="note_ck" wrap="soft" maxlength="100">@Model.ghiChu</textarea>

                            </div>
                        }
                        else
                        {
                            <div class="col-md-6 form-group">
                                <label for="exampleFormControlTextarea1" class="form-label">Ghi chú</label>
                                <textarea class="form-control" name="ghiChu" id="note_ck" wrap="soft" maxlength="100"></textarea>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="order_box">
                        <div class="order_box">
                            <h2>Đơn hàng của bạn</h2>
                            <ul class="list">
                                <li><a href="#">Tên sản Phẩm <span>Giá tiền</span></a></li>
                                @foreach (var a in Model.GioHangChiTiets)
                                {
                                    <ul class="list">
                                        <li>
                                            <a href="#">
                                                @if (Model.check11.Contains(a.SanPhamChiTiet.SanPham.Id))
                                                {
                                                    <h>@a.SanPhamChiTiet.SanPham.TenSanPham x @a.SoLuong x 2</h>
                                                }
                                                else
                                                {
                                                    <h>@a.SanPhamChiTiet.SanPham.TenSanPham x @(a.SoLuong)</h>
                                                }
                                                <span class="last">@FormatCurrency(a.SanPhamChiTiet.SanPham.GiaNiemYet * a.SoLuong)</span>
                                             
                                            </a>
                                        </li>
                                    </ul>
                                    <input type="hidden" name="idGHCT" value="@a.Id" />
                                    <input type="hidden" name="idSPCT" value="@a.IdSanPhamChiTiet" />
                                    <input type="hidden" name="OrderDescription" value="Mua Tại Shop Boro" />
                                    <input type="hidden" name="OrderType" value="Túi Sách">
                                    <input type="hidden" name="SoLuong" value="@a.SoLuong" />
                                    <input type="hidden" name="idGH" value="@a.IdGioHang" />
                                }
                            </ul>
                            <br></br>
                            @if (Model.addDiaChi != null)
                            {
                                if (Model.tenmagiam != null)
                                {
                                    <ul class="list">
                                        <li><a href="#">Mã Giảm giá :<span><b id="tonghang" style="color:black">@Model.tenmagiam </b></span></a></li>
                                        <input type="hidden" name="tenmagiam" value="@Model.tenmagiam" id="tenmagiam"></input>
                                    </ul>
                                }
                                else
                                {
                                    <ul class="list">
                                        <li><a href="#">Mã Giảm giá :<span><b id="tonghang" style="color:black">Chưa có </b></span></a></li>
                                        <input type="hidden" name="tenmagiam" value="" id="tenmagiam"></input>
                                    </ul>
                                }
                                <ul class="list">
                                    <li><a href="#">Tiền Hàng :<span><b id="tonghang" style="color:black">@FormatCurrency(@Model.tienhanga) </b></span></a></li>
                                    <input type="hidden" name="tienhanga" value="@Model.TongTien" id="tienhanga"></input>
                                </ul>

                                <ul class="list">
                                    <li><a href="#">Tiền ship :<span><b id="tienship" style="color:black">@FormatCurrency(Model.tienshipb) </b></span></a></li>
                                    <input type="hidden" name="tienshipa" value="@Model.tienshipb" id="tienship1"></input>
                                </ul>
                                <ul class="list">
                                    <li><a href="#">Tiền giảm :<span><b id="tiengiam" style="color:black">@FormatCurrency(@Model.tiengiamb)</b></span></a></li>
                                    <input type="hidden" name="tiengiama" value="@Model.tiengiamb" id="tiengiam1"></input>
                                </ul>
                                <br>
                                @if (Model.TienCuoiCungb < 1)
                                {
                                    <ul class="list">
                                        <li><a href="#">Tổng tiền :<span><b name="Amount" id="tongtien" style="color:orange">@FormatCurrency(0)</b></span></a></li>
                                        <input type="hidden" name="tongtien" value="0" id="tongtien1"></input>
                                    </ul>
                                }
                                else
                                {
                                    <ul class="list">
                                        <li><a href="#">Tổng tiền :<span><b name="Amount" id="tongtien" style="color:orange">@FormatCurrency(Model.TienCuoiCungb)</b></span></a></li>
                                        <input type="hidden" name="tongtien" value="@Model.TienCuoiCungb" id="tongtien1"></input>
                                    </ul>
                                }
                                <br></br>
                            }
                            else if (Model.addDiaChi == null && @Model.tenmagiam != null)
                            {
                                if (Model.tenmagiam != null)
                                {
                                    <ul class="list">
                                        <li><a href="#">Mã Giảm giá :<span><b id="tonghang" style="color:black">@Model.tenmagiam </b></span></a></li>
                                        <input type="hidden" name="tenmagiam" value="@Model.tenmagiam" id="tenmagiam"></input>
                                    </ul>
                                }
                                else
                                {
                                    <ul class="list">
                                        <li><a href="#">Mã Giảm giá :<span><b id="tonghang" style="color:black">Chưa có </b></span></a></li>
                                        <input type="hidden" name="tenmagiam" value="" id="tenmagiam"></input>
                                    </ul>
                                }
                                <ul class="list">
                                    <li><a href="#">Tiền Hàng :<span><b id="tonghang" style="color:black">@FormatCurrency(@Model.tienhanga) </b></span></a></li>
                                    <input type="hidden" name="tienhanga" value="@Model.tienhanga" id="tienhanga"></input>
                                </ul>
                                <ul class="list">
                                    <li><a href="#">Tiền ship :<span><b id="tienship" style="color:black">Chưa Tính </b></span></a></li>
                                    <input type="hidden" name="tienshipa" value="0" id="tienship1"></input>

                                </ul>
                                <ul class="list">
                                    <li><a href="#">Tiền giảm :<span><b id="tiengiam" style="color:black">@FormatCurrency(@Model.tiengiamb)</b></span></a></li>
                                    <input type="hidden" name="tiengiama" value="@Model.tiengiamb" id="tiengiam1"></input>
                                </ul>
                                <br>
                                @if (Model.TienCuoiCungb < 1)
                                {
                                    <ul class="list">
                                        <li><a href="#">Tổng tiền :<span><b name="Amount" id="tongtien" style="color:orange">@FormatCurrency(0)</b></span></a></li>
                                        <input type="hidden" name="tongtien" value="0" id="tongtien1"></input>
                                    </ul>
                                }
                                else
                                {
                                    <ul class="list">
                                        <li><a href="#">Tổng tiền :<span><b name="Amount" id="tongtien" style="color:orange">@FormatCurrency(Model.TienCuoiCungb)</b></span></a></li>
                                        <input type="hidden" name="tongtien" value="@Model.TienCuoiCungb" id="tongtien1"></input>
                                    </ul>
                                }
                               
                                <br></br>
                            }
                            else if (Model.DiaChiNhanHang != null)
                            {
                                if (Model.tenmagiam != null)
                                {
                                    <ul class="list">
                                        <li><a href="#">Mã Giảm giá :<span><b id="tonghang" style="color:black">@Model.tenmagiam </b></span></a></li>
                                        <input type="hidden" name="tenmagiam" value="@Model.tenmagiam" id="tenmagiam"></input>
                                    </ul>
                                }
                                else
                                {
                                    <ul class="list">
                                        <li><a href="#">Mã Giảm giá :<span><b id="tonghang" style="color:black">Chưa có </b></span></a></li>
                                        <input type="hidden" name="tenmagiam" value="" id="tenmagiam"></input>
                                    </ul>
                                }
                                <ul class="list">
                                    <li><a href="#">Tiền Hàng :<span><b id="tonghang" style="color:black">@FormatCurrency(Model.TongTien) </b></span></a></li>
                                    <input type="hidden" name="tienhanga" value="@Model.TongTien" id="tienhanga"></input>
                                </ul>
                                <ul class="list">
                                    <li><a href="#">Tiền ship :<span><b id="tienship" style="color:black">@FormatCurrency(Model.DiaChiNhanHang.TienShip) </b></span></a></li>
                                    <input type="hidden" name="tienshipa" value="@Model.DiaChiNhanHang.TienShip" id="tienship1"></input>

                                </ul>
                                <ul class="list">
                                    <li><a href="#">Tiền giảm :<span><b id="tiengiam" style="color:black">Chưa Tính</b></span></a></li>
                                    <input type="hidden" name="tiengiama" value="0" id="tiengiam1"></input>
                                </ul>
                                <br>
                                
                                @if ((Model.TongTien + Model.DiaChiNhanHang.TienShip)<1)
                                {
                                    <ul class="list">
                                        <li><a href="#">Tổng tiền :<span><b name="Amount" id="tongtien" style="color:orange">@FormatCurrency(0)</b></span></a></li>
                                        <input type="hidden" name="tongtien" value="0" id="tongtien1"></input>
                                    </ul>
                                }
                                else
                                {
                                    <ul class="list">
                                        <li><a href="#">Tổng tiền :<span><b name="Amount" id="tongtien" style="color:orange">@FormatCurrency(Model.TongTien + Model.DiaChiNhanHang.TienShip)</b></span></a></li>
                                        <input type="hidden" name="tongtien" value="@(Model.TongTien+Model.DiaChiNhanHang.TienShip)" id="tongtien1"></input>
                                    </ul>
                                }
                               
                                <br></br>
                            }
                            else
                            {
                                <ul class="list">
                                    <li><a href="#">Mã Giảm giá :<span><b id="tonghang" style="color:black">Chưa có </b></span></a></li>
                                    <input type="hidden" name="tenmagiam" value="" id="tenmagiam"></input>
                                </ul>
                                <ul class="list">
                                    <li><a href="#">Tiền Hàng :<span><b id="tonghang" style="color:black">@FormatCurrency(Model.TongTien) </b></span></a></li>
                                    <input type="hidden" name="tienhanga" value="@Model.TongTien" id="tienhanga"></input>
                                </ul>
                                <ul class="list">
                                    <li><a href="#">Tiền ship :<span><b id="tienship" style="color:black">Chưa Tính</b></span></a></li>
                                    <input type="hidden" name="tienshipa" value="0" id="tienship1"></input>
                                </ul>

                                <ul class="list">
                                    <li><a href="#">Tiền giảm :<span><b id="tiengiam" style="color:black">Chưa Tính</b></span></a></li>
                                    <input type="hidden" name="tiengiama" value="0" id="tiengiam1"></input>
                                </ul>
                                <br></br>
                                <ul class="list">
                                    <li><a href="#">Tổng tiền :<span><b name="Amount" id="tongtien" style="color:orange">@FormatCurrency(Model.TongTien)</b></span></a></li>
                                    <input type="hidden" name="tongtien" value="@Model.TongTien" id="tongtien1"></input>
                                </ul>
                                <br></br>
                            }
                            @if (@Model.IdMaGiam != null)
                            {
                                <input type="hidden" name="idgiamgia" value="@Model.IdMaGiam" id="idgiamgia"></input>
                            }
                            else
                            {
                                <input type="hidden" name="idgiamgia" value="" id="idgiamgia"></input>
                            }
                            <div class="card border-secondary mb-5">
                                <button class="primary-btn" type="button" onclick="showConfirmation()">Mua Hàng</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    @functions {
        public string FormatCurrency(float? price)
        {
            string formattedPrice = string.Format("{0:N0}", price); // Định dạng số và thêm dấu phân cách ngàn
            return formattedPrice + "VND"; // Thêm ký hiệu đồng (₫) vào cuối
        }
    }
</script>
<style>
    .app1 {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }

    .container1 {
        width: 100%;
        height: 23vh;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .card1 {
        width: 300px;
        height: 150px;
        border-radius: 5px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
        padding: 5px;
        position: relative;
        background-color: #ffba00;
        overflow: hidden;
    }

    .main1,
    .copy-button1 {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        align-items: center;
    }

    .card1::after,
    .card1::before {
        position: absolute;
        content: "";
        height: 40px;
        border-radius: 40px;
        z-index: 1;
        top: 70px;
        background-color: #fff;
        width: 35px;
    }

    .card1::after {
        right: -28px;
    }

    .card1::before {
        left: -28px;
    }

    .co-img1 img {
        width: 80px;
        height: 80px;
    }

    .vertical1 {
        border-left: 3px dotted #000;
        height: 80px;
        position: absolute;
        left: 40%;
    }

    .content h8 {
        font-size: 24px;
        margin-left: -15px;
        color: #000;
    }

    .content h1 span {
        font-size: 14px;
    }

    .content h9 {
        font-size: 14px;
        margin-left: -15px;
        color: #000;
        text-transform: uppercase;
    }

    .content p {
        font-size: 12px;
        color: #333;
    }

    .copy-button1 {
        //margin: 12px 0 -5px 0;
        height: 32px;
        border-radius: 4px;
        padding: 0 1px;
        background-color: #fff;
    }

        .copy-button1 input {
            width: calc(100% - 10px);
            height: 100%;
            border: none;
            outline: none;
            font-size: 14px;
            padding-left: 5px;
        }

    .red-placeholder::placeholder {
        color: red;
    }


    .copy-button1 button {
        padding: 5px 20px;
        background-color: #dc143c;
        color: #fff;
        border: 1px solid transparent;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .copy-button2 {
        //margin: 12px 0 -5px 0;
        height: 32px;
        border-radius: 4px;
        padding: 0 1px;
        background-color: #fff;
    }

        .copy-button2 input {
            width: calc(100% - 10px);
            height: 100%;
            border: none;
            outline: none;
            font-size: 14px;
            padding-left: 5px;
        }

        .copy-button2 button {
            padding: 5px 20px;
            background-color: #708090;
            color: #fff;
            border: 1px solid transparent;
            cursor: pointer;
            height: 100%;
            display: flex;
            align-items: center;
        }

</style>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="~/js/a.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.~/js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="~/js/vendor/bootstrap.min.js"></script>
<script src="~/js/jquery.ajaxchimp.min.js"></script>
<script src="~/js/jquery.sticky.js"></script>
<script src="~/js/nouislider.min.js"></script>
<script src="~/js/countdown.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="~/js/gmaps.min.js"></script>
<script src="~/js/main.js"></script>
<script>
    function showConfirmation() {
        var isConfirmed = confirm("Bạn có chắc chắn muốn mua hàng không?");

        if (isConfirmed) {
            // Nếu người dùng chọn "OK", thay đổi action của form và submit
         @*    document.getElementById("myForm").action = "HoanThanhThanhToan"; // Đổi "process.php" thành URL xử lý form của bạn *@
            document.getElementById("myForm").submit();
        } 
    }
</script>
<style>
        .card {
            text-align: center;
        }

        .primary-btn {
            padding: 10px 20px;
            font-size: 16px;
        }
    </style>