@model CTN4_Serv.ViewModel.GioHangView
@{
    ViewData["Title"] = "ThuTucThanhToan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- End Header Area -->
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Checkout</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="single-product.html">Checkout</a>
                </nav>
            </div>
        </div>
    </div>
</section>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
<form method="post" asp-controller="BanHang" asp-action="HoanThanhThanhToan">
    <!-- End Banner Area -->
    <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
        <div class="container">
            <div class="returning_customer">

                <div class="check_title">
                    <h2>Returning Customer? <a href="#">Click here to login</a></h2>
                </div>
                <p>
                    If you have shopped with us before, please enter your details in the boxes below. If you are a new
                    customer, please proceed to the Billing & Shipping section.
                </p>
                <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                    <div class="col-md-6 form-group p_star">
                        <input type="text" class="form-control" id="name" name="name">
                        <span class="placeholder" data-placeholder="Username or Email"></span>
                    </div>
                    <div class="col-md-6 form-group p_star">
                        <input type="password" class="form-control" id="password" name="password">
                        <span class="placeholder" data-placeholder="Password"></span>
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="submit" value="submit" class="primary-btn">login</button>
                        <div class="creat_account">
                            <input type="checkbox" id="f-option" name="selector">
                            <label for="f-option">Remember me</label>
                        </div>
                        <a class="lost_pass" href="#">Lost your password?</a>
                    </div>
                </form>
            </div>
            <div class="cupon_area">
                <div class="check_title">
                    <h2>Have a coupon? <a href="#">Click here to enter your code</a></h2>
                </div>
                <input type="text" placeholder="Enter coupon code">
                <a class="tp_btn" href="#">Apply Coupon</a>
            </div>
            <div class="billing_details">

                <div>
                    <h3>Billing Details</h3>
                    <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="first" name="name">
                            <span class="placeholder" data-placeholder="First name"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="last" name="name">
                            <span class="placeholder" data-placeholder="Last name"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="company" name="company" placeholder="Company name">
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="number" name="number">
                            <span class="placeholder" data-placeholder="Phone number"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="email" name="compemailany">
                            <span class="placeholder" data-placeholder="Email Address"></span>
                        </div>

                        <div class="col-md-6 form-group">
                            <label>Chọn Tỉnh/thành<span class="text-danger">(*)</span></label>
                            <span class="text-danger" id="mess_provin"></span>
                            <select class="custom-select" asp-items="@ViewBag.Provin" id="provin">
                                <option selected value="0">Chọn tỉnh thành</option>

                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Chọn Quận/Huyện<span class="text-danger">(*)</span></label>
                            <span class="text-danger" id="mess_district"></span>
                            <select class="custom-select" id="district">
                                <option selected value="0">Chọn quận huyện </option>
                            
                            </select>
                        </div>
 
                        <div class="col-md-6 form-group">
                            <label>Chọn Phường/Xã<span class="text-danger">(*)</span></label>
                            <span class="text-danger" id="mess_ward"></span>
                            <select class="custom-select" id="ward" name="ward">
                                <option selected value="0">Chọn Phường Xã</option>
                            
                            </select>
                        </div>


                        <div class="col-md-6 form-group">

                            <label for="exampleFormControlTextarea1" class="form-label">Ghi chú</label>
                            <textarea class="form-control" name="note" id="note_ck" rows="3"></textarea>

                        </div>

                    </form>
                </div>
                <div class="col-md-6 form-group">
                    <label>Địa chỉ <span class="text-danger">(*)</span></label>
                    <span class="text-danger" id="mess_andress"></span>
                    <input class="form-control" type="text" id="andress_ck" placeholder="">
                    <input class="form-control" type="hidden" id="adress_detail" >
                </div>
                <div>
                    <div class="order_box">
                        <h2>Your Order</h2>
                        @foreach (var a in Model.GioHangChiTiets)
                        {
                            <ul class="list">
                                <li><a href="#">Tên sản Phẩm <span>Giá tiền</span></a></li>
                                <li><a href="#">@a.SanPhamChiTiet.SanPham.TenSanPham<span class="middle">x @a.SoLuong</span> <span class="last">@FormatCurrency(a.SanPhamChiTiet.SanPham.GiaNiemYet *a.SoLuong)</span></a></li>
                            </ul>
                              <input type="hidden" name="idGHCT" value="@a.Id"/>
                        <input type="hidden" name="idSPCT" value="@a.IdSanPhamChiTiet"/>
                        <input type="hidden" name="SoLuong" value="@a.SoLuong"/>
                            <input type="hidden" name="idGH" value="@a.IdGioHang" />
                        }
                        <br></br>
                        <div class="card border-secondary mb-5">
                            <div class="card-header bg-dark border-0">
                                <h4 class="font-weight-semi-bold text-white m-0">Đơn hàng</h4>
                            </div>
                            <div class="card-body" id="body_cart_checkout">
                            </div>
                            <div class="card-footer border-secondary bg-transparent">
                                <div class="d-flex justify-content-between mt-2" id="total_ship">
                                </div>
                                <div class="d-flex justify-content-between mt-2" id="total_checkout">
                                </div>
                            </div>
                        </div>
                        <br></br>
                        <ul class="list">
                            <li><a href="#">Tổng tiền<span><b style="color:black">@FormatCurrency(Model.TongTien)</b></span></a></li>
                        </ul>
                        <br></br>
                        
                        <div class="card border-secondary mb-5">
                        <div class="payment_item">
                            <div class="radion_btn">
                                <input type="radio" id="f-option5" name="selector">
                                <label for="f-option5">Check payments</label>
                                <div class="check"></div>
                            </div>
                            <p>
                                Please send a check to Store Name, Store Street, Store Town, Store State / County,
                                Store Postcode.
                            </p>
                        </div>
                        <div class="payment_item active">
                            <div class="radion_btn">
                                <input type="radio" id="f-option6" name="selector">
                                <label for="f-option6">Paypal </label>
                                <img src="~/img/product/card.jpg" alt="">
                                <div class="check"></div>
                            </div>
                            <p>
                                Pay via PayPal; you can pay with your credit card if you don’t have a PayPal
                                account.
                            </p>
                        </div>
                        <div class="creat_account">
                            <input type="checkbox" id="f-option4" name="selector">
                            <label for="f-option4">I’ve read and accept the </label>
                            <a href="#">terms & conditions*</a>
                        </div>
                        <button class="primary-btn" type="submit" href="#">Mua Hàng</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
<script src="~/js/checkout.js" asp-append-version="true">
    @functions {
        public string FormatCurrency(float price)
        {
            string formattedPrice = string.Format("{0:N0}", price); // Định dạng số và thêm dấu phân cách ngàn
            return formattedPrice + "₫"; // Thêm ký hiệu đồng (₫) vào cuối
        }
    }
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/checkout.js"></script>
