@using X.PagedList.Mvc.Core
@*@model <CTN4_Data.Models.DB_CTN4.KhuyenMai>*@
@*@model CTN4_Serv.ViewModel.GiamGiaViewModel*@
@model X.PagedList.IPagedList<CTN4_Data.Models.DB_CTN4.GiamGia>



@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    int serialNumber = 1; // Initialize the counter outside the loop
}


<br />
<br />
<br />
<br />
@*<h3>Quản lý Voucher</h3>


<p>
    <button type="button" class="btn btn-warning btn-fw editable-click=" asp-action="Create"><a asp-action="Create" style="color:black">Thêm</a></button>

</p>*@
<div class="row no-gutters pb-4">
    <div class="col align-items-center d-flex">

        <strong>
            <h3 class="title-page" id="danhSachVoucher">Danh sách voucher</h3>
        </strong>


    </div>
    <div class="col-auto pl-3">
        <div class="d-flex">
            @* <div>
            <button class="btn btn-default fix-height--button cursor-pointer mr-3" fdprocessedid="c7i21a" style="background-color:#e6dfdf; margin-right: 10px">
            <span class="ml-3 d-none d-sm-inline-block">
            <i class="fas fa-magic" style="color:black">Gợi ý khuyến mãi</i>
            </span>
            </button>
            </div>*@
            <div>
                <button type="button" class="btn btn-primary fix-height--button cursor-pointer editable-click=" asp-action="Create" fdprocessedid="c7i21y">
                    <a asp-action="Create" style="color:white"><i class="fas fa-plus-circle" style="color:white"></i>Tạo voucher</a>
                </button>
            </div>
        </div>
    </div>
</div>

@* <form method="get" style="display:flex">
    <div class="form-outline">
        <input type="text" name="MaGiam" style="width: 980px" placeholder="Tìm kiếm..." />
    </div>
    <button type="submit" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
        </svg>
    </button>
</form> *@
<form method="get" class="d-flex" onsubmit="saveSearchValue()">
    <div class="input-group">
        <input type="text" id="form1" class="form-control" name="MaGiam" style="width: 980px;" placeholder="Tìm kiếm..." value="@ViewBag.SearchValue" />
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
    </div>
</form>

<script>
    // Hàm để lưu giá trị của textbox vào sessionStorage
    function saveSearchValue() {
        var searchValue = document.getElementById("form1").value;
        sessionStorage.setItem("searchValue", searchValue);
    }

    // Kiểm tra xem có giá trị nào đã được lưu trong sessionStorage không
    var storedSearchValue = sessionStorage.getItem("searchValue");
    if (storedSearchValue) {
        // Nếu có giá trị, đặt giá trị vào textbox
        document.getElementById("form1").value = storedSearchValue;
    }
</script>

<div class="dropdown me-1">

    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,20" id="filterDropdown">
        Lọc
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="@Url.Action("TatCa", new { loaiGiamGia = "all", Is_detele = ViewBag.currentIsDelete })" data-value="all">Tất cả các mã</a>
        </li>
        <li>
            <a class="dropdown-item" href="@Url.Action("GiamTien", new { loaiGiamGia = "giamtien", Is_detele = ViewBag.currentIsDelete })" data-value="giamtien">Giảm theo giá tiền</a>
        </li>
        <li>
            <a class="dropdown-item" href="@Url.Action("GiamPhanTram", new { loaiGiamGia = "giamphantram", Is_detele = ViewBag.currentIsDelete })" data-value="giamphantram">Giảm phần trăm</a>
        </li>
        <li>
            <a class="dropdown-item" href="@Url.Action("XemDaBiAn", new { Is_detele = ViewBag.currentIsDelete })">Các mã đã bị ẩn</a>
        </li>
    </ul>

        @* <li>
            <a class="dropdown-item" href="@Url.Action("CacMaDangHien")">Các mã đang hiển thị</a>
        </li> *@
  
</div>

@* <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    // Function để lưu giữ giá trị lọc vào localStorage
    function setSelectedFilter(filterText) {
        localStorage.setItem('selectedFilter', filterText);
        $('#selectedFilter').text(filterText);
    }

    // Function để khôi phục giá trị lọc từ localStorage khi trang được tải lên
    function restoreSelectedFilter() {
        var selectedFilter = localStorage.getItem('selectedFilter');
        if (selectedFilter) {
            $('#selectedFilter').text(selectedFilter);
        }
    }

    $(document).ready(function () {
        // Kích hoạt sự kiện khi trang được tải lại để khôi phục giá trị lọc
        restoreSelectedFilter();
    });
</script> *@
@*<table class="table table-striped">
    <thead>
        <tr>*@


<div class="tab-content">
    <div class="container-fluid tab-pane active">
        <br>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th style="background-color: #333; text-align: center;">
                        <h6 style="margin: 0; color: white;">Số thứ tự</h6>
                    </th>
                    <th style="background-color: #333; text-align: center;">
                        <h6 style="margin: 0; color: white;">Mã Giảm giá</h6>
                    </th>
                    <th style="background-color: #333; text-align: center;">
                        <h6 style="margin: 0; color: white;">Loại giảm giá</h6>
                    </th>
                    <th style="background-color: #333; text-align: center;">
                        <h6 style="margin: 0; color: white;">Lượng giảm</h6>
                    </th>
                    <th style="background-color: #333; text-align: center;">
                        <h6 style="margin: 0; color: white;">Trạng thái</h6>
                    </th>

                    <th style="background-color: #333; text-align: center;">
                        <h6 style="margin: 0; color: white;">Số lượng</h6>
                    </th>
                    <th style="background-color: #333; text-align: center;">
                        <h6 style="margin: 0; color: white;">Thời gian bắt đầu</h6>
                    </th>
                    <th style="background-color: #333; text-align: center;">
                        <h6 style="margin: 0; color: white;">Thời gian kết thúc</h6>
                    </th>

                    <th style="background-color: #333; text-align: center;">
                        <h6 style="margin: 0; color: white;">Giảm từ đơn tối thiểu</h6>
                    </th>
                    <th style="background-color: #333; text-align: center;">
                        <h6 style="margin: 0; color: white;">Hành động</h6>
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    var a = serialNumber;

                    <style>
                        .table-bordered td {
                            background-color: #f8f9fa; /* Màu mè */
                            border-radius: 10px; /* Bo tròn */
                        }
                    </style>
                    <tr>
                        

                        <td>
                            <h6 style="text-align:center">@serialNumber</h6>
                        </td>
                        <td>
                            <h6 style="text-align:center">@item.MaGiam</h6>
                        </td>

                        <td style="text-align:center;">
                            @if (item.LoaiGiamGia == true)
                            {
                                <h6>Giảm % giá tiền</h6>

                            }
                            else if (item.LoaiGiamGia != true)
                            {
                                <h6>Giảm theo số tiền</h6>

                            }
                        </td>
                        <td style="text-align:center;">
                            @if (item.LoaiGiamGia == true)
                            {
                                <h6>@item.PhanTramGiam % , tối đa @FormatCurrency(item.SoTienGiamToiDa) </h6>

                            }
                            else if (item.LoaiGiamGia != true)
                            {
                                <h6>@FormatCurrency(item.SoTienGiam)</h6>

                            }
                        </td>
                        @if (item.NgayBatDau <= DateTime.Now && item.NgayKetThuc >= DateTime.Now && item.SoLuong > 0)
                        {
                            <td class="border-bottom-0">
                                <p class="mb-0 fw-normal" style="white-space: nowrap; color:white;text-align :center; background-color: forestgreen; line-height: 20px; height: 24px; font-weight: 400; border-style:solid; padding: 0 8px; border-radius:10px; border-width:1px">Đang giảm giá</p>
                            </td>
                        }
                        else if (item.NgayKetThuc <= DateTime.Now)
                        {
                            <td class="border-bottom-0">
                                <p class="mb-0 fw-normal" style="white-space: nowrap; color:white;text-align :center; background-color: red; line-height: 20px; height: 24px; font-weight: 400; border-style:solid; padding: 0 8px; border-radius:10px; border-width:1px">Hết hạn</p>
                            </td>
                        }
                        else if (item.NgayBatDau <= DateTime.Now && item.NgayKetThuc >= DateTime.Now && item.SoLuong <= 0)
                        {
                            <td class="border-bottom-0">
                                <p class="mb-0 fw-normal" style="white-space: nowrap; color:white;text-align :center; background-color: red; line-height: 20px; height: 24px; font-weight: 400; border-style:solid; padding: 0 8px; border-radius:10px; border-width:1px">Đã hết</p>
                            </td>
                        }
                        else
                        {
                            <td class="border-bottom-0">
                                <p class="mb-0 fw-normal" style="white-space: nowrap; color:white;text-align :center; background-color: orange; line-height: 20px; height: 24px; font-weight: 400; border-style:solid; padding: 0 8px; border-radius:10px; border-width:1px">Chưa đến hạn</p>
                            </td>
                        }

                        <td>
                            <h6 style="text-align:center">@item.SoLuong</h6>
                        </td>

                        <td>
                            <h6 style="text-align:center">@item.NgayBatDau</h6>
                        </td>
                        <td>
                            <h6 style="text-align:center">@item.NgayKetThuc</h6>
                        </td>

                        <td>
                            <h6 style="text-align:center">@FormatCurrency(item.DieuKienGiam)</h6>
                        </td>

                        @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new {  id = item.Id}) |
                    @Html.ActionLink("Delete", "Delete", new {  id = item.Id })
                    </td>*@
                        <td style="white-space: nowrap; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                            <button type="button" class="btn btn-primary"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">

                                @Html.ActionLink("Chỉnh sửa Mã", "Edit", new { id = item.Id }, new { @class = "custom-edit-link" })
                            </button>

                            <div style="display: flex; flex-direction: row; gap: 5px;">
                                @*<button type="button" style="background-color: wheat; border-color: deepskyblue; border-radius: 10px; font-weight: 400; padding: 2px 8px; font-size: 12px;">
                            @Html.ActionLink("Chi tiết", "Details", new { id = item.Id })
                            </button>*@

                            </div>
                        </td>
                       

                    </tr>
                    serialNumber++;
                }

            </tbody>
        </table>
    </div>

    <div class="col-auto">
        <div class="row no-gutters align-items-center">
            <div class="col-auto mr-3"><span style="color: rgb(128, 128, 128);">Tổng:<span id="id">@Model.Count()</span></span></div>
            <div class="col">
                <div class="pagination-container">
                    
                    @* <div class="pagination-container">
                        @Html.PagedListPager(Model, page => Url.Action("TatCa", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                    </div>
                    <div class="pagination-container">
                        @Html.PagedListPager(Model, page => Url.Action("GiamTien", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                    </div>
                    <div class="pagination-container">
                        @Html.PagedListPager(Model, page => Url.Action("GiamPhanTram", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                    </div>
                    <div class="pagination-container">
                        @Html.PagedListPager(Model, page => Url.Action("XemDaBiAn", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                    </div> *@
                    @* <ul class="pagination">
                        @if (Model.HasPreviousPage)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1, size = ViewBag.currentSize })">Trang trước</a>
                            </li>
                        }

                        @for (var i = 1; i <= Model.PageCount; i++)
                        {
                            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                <a class="page-link" href="@Url.Action("Index", new { page = i, size = ViewBag.currentSize })">@i</a>
                            </li>
                        }

                        @if (Model.HasNextPage)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1, size = ViewBag.currentSize })">Trang sau</a>
                            </li>
                        }
                       </ul> *@
                    <ul class="pagination">
                        @if (Model.HasPreviousPage)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1, Is_detele = ViewBag.currentIsDelete, loaiGiamGia = ViewBag.currentLoaiGiamGia })">Trước</a>
                            </li>
                        }

                        @for (var i = 1; i <= Model.PageCount; i++)
                        {
                            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                <a class="page-link" href="@Url.Action("Index", new { page = i, Is_detele = ViewBag.currentIsDelete, loaiGiamGia = ViewBag.currentLoaiGiamGia })">@i</a>
                            </li>
                        }

                        @if (Model.HasNextPage)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1, Is_detele = ViewBag.currentIsDelete, loaiGiamGia = ViewBag.currentLoaiGiamGia })">Sau</a>
                            </li>
                        }
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        @functions {
            public string FormatCurrency(float price)
            {
                string formattedPrice = string.Format("{0:N0}", price); // Định dạng số và thêm dấu phân cách ngàn
                return formattedPrice + " VND"; // Thêm ký hiệu việt nam đồng (VND) vào cuối
            }
        }
    </script>

    <style>
        .custom-edit-link {
            color: #ffffff; /* Màu đỏ tùy chọn */
            text-decoration: none; /* Loại bỏ gạch chân liên kết */
        }

            .custom-edit-link:hover {
                color: #ffffff; /* Màu đỏ khi hover (tùy chọn) */
            }
    </style>

    @* <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>*@


    @*   <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script> *@

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>



