@model CTN4_Data.Models.DB_CTN4.NhanVien

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>



<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Normal buttons</h4>
                <br></br>
                <div>
                    <h4>NhanVien</h4>
                    <hr />
                    <dl class="row">
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Id)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Id)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Ho)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Ho)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Ten)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Ten)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.TenDangNhap)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.TenDangNhap)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.MatKhau)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.MatKhau)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.GioiTinh)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.GioiTinh)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.SDT)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.SDT)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.DiaChi)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.DiaChi)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Trangthai)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Trangthai)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.AnhDaiDien)
                        </dt>
                        <dd class = "col-sm-10">
                            @if (System.IO.Path.GetExtension(Model.AnhDaiDien) == ".jpg" ||
                                 System.IO.Path.GetExtension(Model.AnhDaiDien) == ".png" ||
                                 System.IO.Path.GetExtension(Model.AnhDaiDien) == ".jpeg" ||
                                 System.IO.Path.GetExtension(Model.AnhDaiDien) == ".tiff" ||
                                 System.IO.Path.GetExtension(Model.AnhDaiDien) == ".webp" ||
                                 System.IO.Path.GetExtension(Model.AnhDaiDien) == ".gif")
                            {
                                <img src="~/image/@Model.AnhDaiDien" height="100">
                            }
                            else
                            {
                                <span>Ảnh lỗi rồi =)))</span>
                            }
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.IdChucVu)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.IdChucVu)
                        </dd>
                    </dl>
                    <div>
                        <h4>_________________________________________________</h4>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
           
            </div>
        </div>
    </div>
</div>
