@model CTN4_Data.Models.DB_CTN4.NhanVien

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Chi tiết</h1>



<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Chi tiết</h4>
                <br></br>
                <div>
                    <h4>Nhân viên</h4>
                    <hr />
                    <dl class="row">
                        
                        <dt class = "col-sm-2">
                            Họ
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Ho)
                        </dd>
                        <dt class = "col-sm-2">
                           Tên
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Ten)
                        </dd>
                        <dt class = "col-sm-2">
                           Tên đăng nhập
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.TenDangNhap)
                        </dd>
                        <dt class = "col-sm-2">
                            Mật khẩu
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.MatKhau)
                        </dd>
                        <dt class = "col-sm-2">
                           Giới tính
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.GioiTinh)
                        </dd>
                        <dt class = "col-sm-2">
                           Email
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class = "col-sm-2">
                           SDT
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.SDT)
                        </dd>
                        <dt class = "col-sm-2">
                            Địa chỉ
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.DiaChi)
                        </dd>
                        <dt class = "col-sm-2">
                           Trạng thái
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Trangthai)
                        </dd>
                        <dt class = "col-sm-2">
                           Ảnh đại diện
                        </dt>
                        <dd class = "col-sm-10">
                            @if (System.IO.Path.GetExtension(Model.AnhDaiDien) == ".jpg" ||
                                 System.IO.Path.GetExtension(Model.AnhDaiDien) == ".png" ||
                                 System.IO.Path.GetExtension(Model.AnhDaiDien) == ".jpeg" ||
                                 System.IO.Path.GetExtension(Model.AnhDaiDien) == ".tiff" ||
                                 System.IO.Path.GetExtension(Model.AnhDaiDien) == ".webp" ||
                                 System.IO.Path.GetExtension(Model.AnhDaiDien) == ".gif")
                            {
                                <img src="~/image/@Model.AnhDaiDien" height="100">
                            }
                            else
                            {
                                <span>Ảnh lỗi rồi =)))</span>
                            }
                        </dd>
                        <dt class = "col-sm-2">
                           Chức vụ
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.ChucVu.TenChucVu)
                        </dd>
                    </dl>
                    <div>
                        <h4>_________________________________________________</h4>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id },new { style = "text-decoration: none; color: black;" }) |
                        <a asp-action="Index" style="color: black;">Quay về</a>
                    </div>
                </div>
           
            </div>
        </div>
    </div>
</div>
