@model CTN4_Data.Models.DB_CTN4.SanPhamChiTiet

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
    <a asp-action="Index">Back to List</a>
</div>
<div class="row">
    <div class="col-md-9">
        <br></br>
        <br></br>


        <h1>Details</h1>

        <div>
            <h4>SanPhamChiTiet</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MaSp)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MaSp)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SoLuong)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SoLuong)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MoTa)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MoTa)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TrangThai)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TrangThai)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.GiaNhap)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.GiaNhap)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.GiaBan)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.GiaBan)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.GiaNiemYet)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.GiaNiemYet)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.GhiChu)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.GhiChu)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Is_detele)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Is_detele)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdChatLieu)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdChatLieu)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdMau)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdMau)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdNSX)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdNSX)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdSize)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdSize)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdSp)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdSp)
                </dd>
            </dl>
        </div>
        <div>
            @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
            <a asp-action="Index">Back to List</a>
        </div>
        <div class="m-b-15">
            <input id="fThumb" type="file" class="form-control-file" />
            <button id="btnUpload" class="btn btn-primary">
                <i class="anticon anticon-save"></i>
                <span>Thêm ảnh</span>
            </button>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover e-commerce-table">
        <thead>
        <tr>

            <th>STT</th>
            <th>Ảnh</th>
            <th>Trạng thái</th>
            <th>Thao tác</th>
        </tr>
        </thead>
        <tbody id="records_table">
        @if (Model != null)
        {
            foreach (var item in Model.Anhs)
            {
                var index = Model.Anhs.ToList().FindIndex(p => p.Id == item.Id) + 1;
                <tr>
                    <td>
                        @index
                    </td>
                    <tb>
                        @if (System.IO.Path.GetExtension(item.DuongDanAnh) == ".jpg" ||
                             System.IO.Path.GetExtension(item.DuongDanAnh) == ".png" ||
                             System.IO.Path.GetExtension(item.DuongDanAnh) == ".jpeg" ||
                             System.IO.Path.GetExtension(item.DuongDanAnh) == ".tiff" ||
                             System.IO.Path.GetExtension(item.DuongDanAnh) == ".webp" ||
                             System.IO.Path.GetExtension(item.DuongDanAnh) == ".gif")
                        {
                            <img src="~/image/@item.DuongDanAnh" height="300">
                        }
                        else
                        {
                            <a>ảnh lỗi</a>
                        }
                    </tb>
                </tr>
            }
        }
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#btnUpload').click(function ()
        {
            var productId = "@Model.Id";
            var fileInput = $('#fThumb')[0];
            var file = fileInput.files[0];
            console.log(productId);
            console.log(file);
            var formData = new FormData();
            formData.append('productId', productId);
            formData.append('fThumb', file);

            $.ajax({
                url: '/Admin/AdminProductImages/AddImage',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    location.reload();
                    console.log(result);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    });
    </script>


