@model CTN4_Serv.ViewModel.SanPhamChiTietView

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<div>
    <a asp-action="Index">Back to List</a>
</div>
<div class="row">
    <div class="col-md-9">
        <br></br>
        <br></br>


        <h1>Chỉnh sửa</h1>

        <h4>Chỉnh sửa chi tiết</h4>
        <hr />
        <div class="row">
            <div class="col-md-9">
                <form asp-action="Edit" onsubmit="return confirmSubmit();">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="SoLuong" class="control-label">Số lượng</label>
                        <input asp-for="SoLuong" class="form-control" oninput="validateSoLuongInput(this)" />
                        <span asp-validation-for="SoLuong" class="text-danger" id="soLuongError"></span>
                    </div>



                    <div class="form-group">
                        <div style="display: flex; align-items: center;">
                            <label asp-for="IdMau" style="margin-right: 535px;">Màu sắc</label>
                            <a style="color: black;" asp-controller="Mau" asp-action="Index">Quản lý màu sắc</a>
                        </div>
                        <select asp-for="IdMau" class="form-control" id="mauSelect">
                            <option value="">-- Chọn màu --</option>
                            @foreach (var a in Model.MauItems)
                            {
                                <option value="@a.Value">@a.Text</option>
                            }
                        </select>
                        <span asp-validation-for="IdMau" class="text-danger" id="mauError"></span>
                    </div>

                    <div class="form-group">
                        <div style="display: flex; align-items: center;">
                            <label asp-for="IdSize" style="margin-right: 589px;">Size</label>
                            <a style="color: black;" asp-controller="Size" asp-action="Index">Quản lý size</a>
                        </div>
                        <select asp-for="IdSize" class="form-control" id="sizeSelect">
                            <option value="">-- Chọn size --</option>
                            @foreach (var a in Model.SizeItems)
                            {
                                <option value="@a.Value">@a.Text</option>
                            }
                        </select>
                        <span asp-validation-for="IdSize" class="text-danger" id="sizeError"></span>
                    </div>
                    <div class="form-group">
                        <div style="display: flex; align-items: center;">
                            <label asp-for="IdSize" style="margin-right: 515px;">Sản phẩm</label>
                            <a style="color: black;" asp-controller="SanPham" asp-action="Index">Quản lý sản phẩm</a>
                        </div>
                        <select asp-for="IdSp" class="form-control">
                            <option value="">-- Select SanPham --</option>
                            @foreach (var a in Model.SpItems)
                            {
                                <option value="@a.Value">@a.Text</option>
                            }
                        </select>
                        <span asp-validation-for="IdSp" class="text-danger" id="spError"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="TrangThai" /> Trạng thái
                        </label>
                    </div>



                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Is_detele" /> Tình trạng
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                    <div>
                        <a>@Html.ActionLink("Quay lại", "Details","SanPham" ,new {id = Model.IdSp },new { style="text-decoration: none;color: black;" })</a>

                    </div>
                </form>
            </div>
        </div>


    </div>
</div>
<script>
    function confirmSubmit() {
        // Thực hiện kiểm tra số lượng trước khi xác nhận
        var soLuongInput = document.getElementById("SoLuong");
        validateSoLuongInput(soLuongInput);

        // Hiển thị hộp thoại xác nhận nếu không có lỗi
        if (soLuongInput.checkValidity()) {
            var result = confirm("Bạn có chắc muốn chỉnh sửa sản phẩm này không?");
            return result;
        } else {
            return false; // Ngăn chặn việc submit nếu có lỗi
        }
    }

    function validateSoLuongInput(input) {
        var inputValue = input.value;

        // Kiểm tra nếu giá trị là số âm
        if (/^-?\d+$/.test(inputValue) && parseInt(inputValue) < 0) {
            document.getElementById("soLuongError").innerText = "Số lượng không được là số âm.";
            input.setCustomValidity("Số lượng không được là số âm.");
        } else {
            document.getElementById("soLuongError").innerText = "";
            input.setCustomValidity("");
        }
    }   
</script>

